/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require lightbox
 */

.navbar .brand {
	font-weight: bold;
	color: rgb(255, 150, 53);
}

.pull-right {
	float: right;
}

#main {
	padding: 30px 0;
}

#footer {
	background-color: #f1f1f1;
	border-top: 1px solid #ddd;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.breadcrumb {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}

article img, article a img {
	padding: 5px;
	border: solid 1px #EFEFEF;
}
#rss, #linkedin, #twitter {
        padding: 0px;
	height: 30px;
	margin: -10px;
}

article a:hover img {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

article h1, section h1 {
	color: #0088cc;
}

.byline address {
	display:inline;
	line-height:normal;
}

.byline, .tagline, .byline address {
	font-variant:small-caps;
	font-weight:500;
	font-size:110%;
	margin:0px;
}

#disqus_thread, .blog_article {
	margin-top: 20px;
	padding-top:20px;
	border-top: 1px solid #ddd;
}

article {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
}
	
