/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require lightbox
 */

body {
	background: url(/assets/img/orange.png) repeat fixed center;
	padding: 0px;
	margin: 0px;
}

.navbar-inner, .navbar .brand, .navbar-static-top {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.navbar .brand {
	font-weight: bold;
	color: rgb(255, 150, 53);
	padding-left: 15px;
}

.pull-right {
	float: right;
}

ul.nav.pull-right {
	padding-right:5px;
}

#content {
	padding-left: 15px;
}

#footer {
	background-color: #f1f1f1;
	border-top: 1px solid #ddd;
	padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
}

#copyright {
	padding: 4px;
}

#poweredby {
	padding-top: 4px;
}

.breadcrumb {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}

article img, article a img {
	padding: 5px;
	border: solid 1px #EFEFEF;
}

#rss, #linkedin, #twitter {
        padding: 0px;
	height: 30px;
	margin: -10px;
}

article a:hover img {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

#main {
	background-color: white;
	-moz-box-shadow: 1px 1px 20px #000;
	-webkit-box-shadow: 1px 1px 20px #000;
        box-shadow: 1px 1px 20px #000;
}

article h1, section h1 {
	color: #0088cc;
}

.byline address {
	display:inline;
	line-height:normal;
}

.byline, .tagline, .byline address {
	font-variant:small-caps;
	font-weight:500;
	font-size:110%;
	margin:0px;
}

#disqus_thread, .blog_article {
	margin-top: 20px;
	padding-top:20px;
	border-top: 1px solid #ddd;
}

article {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ddd;
}
	
.logo {
	background-image: url(/assets/img/eyes_sylvain.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-color: black;
}

img.sigil {
	margin: 14px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 120px;
	height: 120px;
	-moz-box-shadow: 1px 1px 3px #999;
	-webkit-box-shadow: 1px 1px 3px #999;
	box-shadow: 1px 1px 3px #999;
}

#spacer {
	height: 15px;
}
