---
date: '2013-12-12'
author: WeKnowMemes
tags:
- comics
- media
- 12 types of people you find in urinals
- comic
- csection comic
- types of people you find in urinals
comment: Ik ben def "the bold"
title: The 12 Types Of People You Find In Urinals – Comic
source: http://weknowmemes.com/2013/12/the-12-types-of-people-you-find-in-urinals-comic/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/12-types-of-people-you-find-in-urinals-21.jpg"><img alt="12 types of people you find in urinals" height="528" src="http://weknowmemes.com/wp-content/uploads/2013/12/12-types-of-people-you-find-in-urinals-21.jpg" width="644" /></a></p>
<p>The 12 Types of People You Find In Urinals &#8211; comic <a href="http://csectioncomics.com" target="_blank">via</a></p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/12-types-of-people-you-find-in-urinals1.jpg"><img alt="12 types of people you find in urinals" height="4000" src="http://weknowmemes.com/wp-content/uploads/2013/12/12-types-of-people-you-find-in-urinals1.jpg" width="646" /></a></p>
<p>&nbsp;</p>
