---
date: '2013-12-11'
author: '?'
tags:
- beautiful
- cold
- damn mother nature sometimes you are decent
- freezing
- i love shapes
- i miss my microscope i think i must have lost it in a move
- im catching them on my tongue
- ice
- microscopic
- natural
- russia
- shapes
comment: moooi
title: 'They''re Beautiful: Microscopic Closeups Of Snowflakes'
source: http://geekologie.com/2013/12/theyre-beautiful-microscopic-closeups-of.php
---
<img alt="snowflake-closeups-1.jpg" height="396" src="http://geekologie.com/2013/12/10/snowflake-closeups-1.jpg" width="640" />

This is the third snow-related post in a row.  That must be some sort of Geekologie record.  One that will definitely won't be going down in the history books and probably won't be remembered by a single person after tomorrow.  God willing, I'll drink it out of my memory before bed tonight.  There are bunch<a href="http://io9.com/amazing-close-up-photos-of-snowflakes-taken-without-a-m-1478945547"> of microscopic closeups of the snowflakes</a> that fall <a href="http://chaoticmind75.blogspot.ru/2013/08/my-technique-for-snowflakes-shooting.html">on Russian photographer Alexey Kljatov's balcony</a>.  Clearly he has some nice quality snow.  Here?  Here it never gets cold enough to snow, but if it did it would be acid snow.  And not the kind you could catch on your tongue to trip balls and talk to Frosty, the kind you could catch on your tongue if you really hate your tongue and want it to suffer.  You know that expression, cutting off your nose to spite your face?  Does that actually work?  I only ask because these f***ing cheeks have really been pissing me off lately.

Keep going for a bunch more.
      <img alt="snowflake-closeups-2.jpg" height="479" src="http://geekologie.com/2013/12/10/snowflake-closeups-2.jpg" width="640" />

<img alt="snowflake-closeups-3.jpg" height="479" src="http://geekologie.com/2013/12/10/snowflake-closeups-3.jpg" width="640" />

<img alt="snowflake-closeups-4.jpg" height="479" src="http://geekologie.com/2013/12/10/snowflake-closeups-4.jpg" width="640" />

<img alt="snowflake-closeups-5.jpg" height="479" src="http://geekologie.com/2013/12/10/snowflake-closeups-5.jpg" width="640" />

<img alt="snowflake-closeups-6.jpg" height="479" src="http://geekologie.com/2013/12/10/snowflake-closeups-6.jpg" width="640" />

<img alt="snowflake-closeups-7.jpg" height="480" src="http://geekologie.com/2013/12/10/snowflake-closeups-7.jpg" width="640" />

<img alt="snowflake-closeups-8.jpg" height="479" src="http://geekologie.com/2013/12/10/snowflake-closeups-8.jpg" width="640" />

<img alt="snowflake-closeups-9.jpg" height="479" src="http://geekologie.com/2013/12/10/snowflake-closeups-9.jpg" width="640" />

Thanks to Francis, who told me that people are like snowflakes: no two are identical.  Except anonymous internet commenters, they're all dime-a-dozen jerkbags.
