---
date: '2013-10-30'
author: '?'
tags:
- call of duty
- charts and graphs
- facts and figures
- first person shooters
- i guess everybody has to spend their life doing something
- i remember playing counter strike back in they day when some joker would start every
  round by flashbanging the whole team
- infographic
- learning by looking
- numbers
- pew pew
- that is a lot of video game playing
- video games
comment: This is scary
title: '2.85-Million Years Of Gameplay: Call Of Duty Infographic'
source: http://geekologie.com/2013/10/285-million-years-of-gameplay-call-of-du.php
---
<img alt="call-of-duty-infographic.jpg" height="2216" src="http://geekologie.com/2013/10/30/call-of-duty-infographic.jpg" width="640" />

This<a href="http://www.ign.com/articles/2013/10/30/call-of-duty-infographic-reveals-series-stats"> is an infographic about the Call of Duty franchise</a> displaying a bunch of facts and figures about how much of their lives people have spent shooting each other and calling each other names in a video game.  Of course, you have to be careful when you read things like this because a lot of times they're meant to trick you.  You see that line, "the total number of people who have played Call of Duty is larger than some of the most populated countries in the world"?  That's misleading, because the most populated country they list is Germany, but Germany is really only ranked the 16th most populated country and not what I would consider "one of the most populated".  They are trying to use LANGUAGE to DECEIVE.  Which, as far as I can tell, is the purpose it was invented in the first place.  Are you going to finish that sandwich?  "Yes."  I see a hair in it.  "You can have it."  See?

Thanks to ChaosLex, who loves chaos so much he constantly throws flashbangs so he has no clue where he's going.
