---
date: '2013-10-24'
author: '?'
tags:
- different strokes for different folks
- freaky deaky
- huh
- i dont get it
- i mean maybe if i saw it at the thrift store and needed a shirt to paint in
- iffy
- klingons
- muscle shirts
- novelty t-shirts
- oh yeah well im a captain picard in the sheets so there
- questionable
- spock
comment: lol
title: Sleeveless Star Trek Sexual Innuendo Shirt Of The Day
source: http://geekologie.com/2013/10/sleeveless-star-trek-sexual-innuendo-shi.php
---
<img alt="vulcan-klingon-shirt.jpg" height="512" src="http://geekologie.com/2013/10/23/vulcan-klingon-shirt.jpg" width="640" />

This <a href="http://geekologie.com/io9.com/everybody-needs-a-sleazy-scifi-t-shirt-sometimes-1450415093">is the sleeveless Star Trek muscle shirt </a>available <a href="http://www.lookhuman.com/design/19694-a-vulcan-in-the-streets">for $27 from Look Human</a>. Honestly, I would have a really hard time paying $27 for a shirt that doesn't even have sleeves.  Also, I'm not really sure what the message is even supposed to mean. Are Klingons notoriously kinky in the bedroom? Do they rub each other with those freaky-deaky heads of theirs? Hell if I know. The one thing I do know is that Klingon is a slang term for dingleberries. Like, they cling on to your buttcheeks. Definitely not something you want to find in your sheets. Any Klingons show up in my bed and I'm sleeping on the f***ing sofa.

Thanks to Kara Bear, who agrees my nips would look good poking out the sides of that thing.
