---
date: '2013-11-11'
author: '?'
comment: Damn!
title: The Sentencing of Loki
source: http://www.dorkly.com/comic/56418/the-sentencing-of-loki
---
<p></p>
<div>
<div>
<div>
<div><img alt="The Sentencing of Loki" height="2875" src="http://0.media.dorkly.cvcdn.com/23/43/ac0ce4fcf83c6d9b0fe2cbb5467be3c9.jpg" width="600" /></div>
</div>
</div>
<div>
<div>
<div><img alt="The Sentencing of Loki" height="2875" src="http://2.media.dorkly.cvcdn.com/63/90/900439714c9eac92e777c3ca28f0437c.jpg" width="600" />...
