---
date: '2013-10-25'
author: alex
tags:
- comic
title: Giant Marshmallow
source: http://feedproxy.google.com/~r/Buttersafe/~3/idt7K_TGFQw/
---
<p><a href="http://buttersafe.com/2013/10/24/giant-marshmallow/"><img alt="Giant Marshmallow" border="0" src="http://buttersafe.com/comics/rss/2013-10-24-GiantMarshmallowRSS.jpg" title="Giant Marshmallow" /></a></p><img height="1" src="http://feeds.feedburner.com/~r/Buttersafe/~4/idt7K_TGFQw" width="1" />
