---
date: '2013-04-05'
author: '?'
tags:
- dammit i wanted to visit sri lanka too
- dammit mother nature thats just too big and you know it
- facehugger
- giant
- having a terrible time
- i dont know what id do if i saw that thing crawling up my wall at night but shit
  and die is a very real possibility
- large
- new
- species
- spiders
- tarantula
- warning spider pics
title: 'Facehugger: New Tarantula The Size Of A Human Face'
source: http://geekologie.com/2013/04/facehugger-new-tarantula-the-size-of-a-h.php
---
<img alt="facehugger-spider-1.jpg" height="380" src="http://geekologie.com/2013/04/04/facehugger-spider-1.jpg" width="640" />

This <a href="http://news.sky.com/story/1073751/tarantula-the-size-of-a-human-face-discovered">is a new species of tarantula</a> recently discovered in Sri Lanka that's the size of a human face.  For reference, close your eyes and imagine one with its abdomen resting on your lips.  Can you feel its legs tickling behind your ears?  No need to thank me.

<blockquote>They prefer well-established old trees, but due to deforestation the number have dwindled and due to lack of suitable habitat they enter old buildings."


The website described the tarantula as "colourful, fast and venomous".

The species is said to be related to a class of South American tarantula that includes the Goliath bird-eater, one of the world's largest spiders.

In other reports Mr Nanayakkara is quoted as saying none of the tarantulas found in Sri Lanka have bites that are deadly to humans. However, the Poecilotheria rajaei would be able to kill animals as large as mice, lizards and small birds and snakes.</blockquote>

I say we start an online petition to name the new species the Facehugger.  As a matter of fact, we should get on that right now.  Are you as excited as I am? This might very well be the most important thing we ever do with our lives!

Hit the jump for several more shots.
      <img alt="facehugger-spider-2.jpg" height="359" src="http://geekologie.com/2013/04/04/facehugger-spider-2.jpg" width="640" />

<img alt="facehugger-spider-3.jpg" height="359" src="http://geekologie.com/2013/04/04/facehugger-spider-3.jpg" width="640" />

<img alt="facehugger-spider-4.jpg" height="425" src="http://geekologie.com/2013/04/04/facehugger-spider-4.jpg" width="640" />

Thanks to ChaosLex, who clearly doesn't care if you sleep at night or not.
