---
date: '2013-05-04'
author: Sean Carroll
tags:
- technology
comment: Unbelievable
title: A Boy and His Atom
source: http://www.preposterousuniverse.com/blog/2013/05/01/a-boy-and-his-atom/
---
<p>Ready for your close-up? I mean, really close up. IBM has <a href="http://www-03.ibm.com/press/us/en/pressrelease/40970.wss">released the world’s highest-resolution movie:</a> an animated short film in which what you’re seeing are individual atoms, manipulated by a scanning tunneling microscope. Here is “A Boy and His Atom”:</p> <p><iframe height="315" src="http://www.youtube.com/embed/oSCX78-8-q0" width="560"></iframe></p> <p>And here is an explanation of how it was made:</p> <p><iframe height="315" src="http://www.youtube.com/embed/xA4QWwaweWA" width="560"></iframe></p> <p><a href="http://www.addtoany.com/share_save#url=http%3A%2F%2Fwww.preposterousuniverse.com%2Fblog%2F2013%2F05%2F01%2Fa-boy-and-his-atom%2F&amp;title=A%20Boy%20and%20His%20Atom" id="wpa2a_4"><img alt="Share" height="16" src="http://www.preposterousuniverse.com/blog/wp-content/plugins/add-to-any/share_save_171_16.png" width="171"></a></p>
