---
date: '2013-12-29'
author: Lambert V.
tags:
- etc
- leisure
- guns
- toys
- weapons
title: Rubber Band Machine Gun
source: http://theawesomer.com/rubber-band-machine-gun/264524/
---
<p><a href="http://theawesomer.com/rubber-band-machine-gun/264524/"><img alt="Rubber Band Machine Gun" src="http://theawesomer.com/photos/2013/12/rubber_band_machine_gun_t.jpg" /></a></p><p>A battery-operated rubber band gun that can carry up to 672 bands and fire up to 14 at once. But perhaps the best feature is not in the gun itself. It has an accessory that makes reloading much easier and faster than if you did it by hand.</p>

<ul>
<li><a href="http://www.kickstarter.com/projects/11447722/rubber-band-machine-gun-0">Link</a></li>
<li>Price: $90+</li>
</ul>
