---
date: '2013-10-24'
author: '?'
tags:
- de jager
title: 'De Jager: 24-10-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-10-24/1002662.html"><img src="http://bin.snmmd.nl/m/m1mz9era5ue4.jpg" /></a>
