---
date: '2013-05-13'
author: raisins
tags:
- google reader
- hive
- hivemined
- hivereader
title: Hive Launch!
source: http://hiveminedblog.tumblr.com/post/50026064514
---
<p>The time has come. Hive is ready (mostly) for you, the awesome people, to use it. All the core features are in: subscribing to sites, reading those sites, sharing stories, commenting, liking, staring and xml import from google reader. The UI/UX is awesome and getting better.  There are still some features I am adding/fixing and I will be doing that forever. Really excited to put this in your hands right away and get feedback. <br /><br />
Announcing the closed beta of <a href="http://hivereader.com">HiveReader</a><br /><br /><a href="http://hivereader.com">
<img alt="not a real logo" src="http://i.imgur.com/Qh4nXO5.png" />**
<br />
web 3.0 viral rss social synergy network website.***
</a>
<br /><br /><br /><br /></p><h4><b>**not a real logo</b></h4>
<h4><b>*** not a real tagline</b></h4><br /><b>Wait a minute. I’m new here. What’s Hive?</b><br />
Hive is the best place on the internet to read the internet. At it’s core it’s a reader app. You subscribe to your favorite sites and read them all in one simple interface. It’s also so much more. <br /><br /><b>What happened to Hivemined?  Why the name switch?</b><br />
This was a much discussed topic. After explaining to the 100th person. &#8220;no, HiveminEd, with an e. Like miners&#8221; Something had to change. We&#8217;ve all been calling it Hive anyway. So why not call a horse a horse and a reader a reader? And horse.com is taken.  Hivemined has become the default user we all follow (ala <a href="http://en.wikipedia.org/wiki/Tom_Anderson">tom</a>) also the blog title is still hivemined.  <br /><br /><br /><b>How do the keys work?</b><br />
When you get a key it has N number of uses. So you can bring your friends in and get down to business or just post it wherever you want. I suggest you hire a plane to skywrite it.<br /><br /><br /><b>What does it look like on the inside?</b><br />
Like this:<br /><a href="http://imgur.com/bwSphbc"><img alt="image" src="http://i.imgur.com/bwSphbcl.png" /></a><br /><a href="http://imgur.com/jLnC0qc"><img alt="image" src="http://i.imgur.com/jLnC0qcl.png" title="Hosted by imgur.com" /></a><br /><small>(yeah, I liked my own post)</small>

<br /><h3>Other Common Questions:</h3>
<br /><b>I need a key right now. I am dying with google reader shutting down.</b><br />
Sign up on <a href="http://hivereader.com">Hivereader.com</a>.  Bug me on <a href="http://twitter.com/hivereader">twitter</a>. Send me an email <b>Francis[at]hivereader.com</b> I will be slowly sending keys out for others to send to their friends. Starting with people who are alright with using something that might be a little messy or missing something.  <br /><br />
Still working on the experience for people new to readers who don’t have an import file to start with. I hope to have a better ‘getting started’ flow setup soon.<br /><br /><b>OMGZ!!1! THIS IS THE WORST.  ____ IS MISSING AND ____ IS BROKEN!!1 YOU SUCK!! I&#8217;M OUT, PEACE! </b><br />
 Pushing code and fixes nearly all day everyday. Keeping my eye on twitter, email, and bug reports.  #hivebug <br /><br />
PS: You are amazing. Thanks for sticking around and helping build the best thing on the internet. <br /><br />
Again. Huge thanks to <a href="http://tivix.com">Tivix</a> (especially Andy, Adam, Rex, Bret, Sumit and the rest of the Tivix team) for creating the opportunity to make the reader we all want and need (I hope it becomes everything you’ve ever dreamed of).<br />
