---
date: '2013-04-05'
author: '?'
title: 'Mixed news everyone: update, help search, report and pics.'
source: http://blog.theoldreader.com/post/47142810692
---
<p>Mixed news everyone!</p>
<p>1. First and the most important: thank you everybody for your donations. We now have enough to secure our servers for the next two months or so. You can donate using <a href="https://flattr.com/thing/1178354/The-Old-Reader">Flattr</a> or using paypal@theoldreader.com.</p>
<p>2. We’ve got an incredible amount of emails during last three weeks. There’ve been several days when all three of us were busy mostly dealing with user requests. If you believe that The Old Reader is missing something (and it surely is), please go to our <a href="https://theoldreader.uservoice.com">Uservoice page</a>, browse the issues (most likely, someone has already created your suggestion), and vote for the ones you like. Also you can see what’s already planned there. And please, check our <a href="http://status.theoldreader.com">Status page</a> or subscribe to our <a href="https://twitter.com/theoldreader">Twitter account</a> — we are updating these two on current issues.</p>
<p>We only have that much time during the day to spare on this project, and we would prefer to spend it making The Old Reader more reliable or implementing new features, not removing duplicate feature requests or explaining how to create a folder.</p>
<p>We are focused on making everything work for the vast number of users and feeds, for now this is our top priority.</p>
<p><img alt="image" height="600" src="http://th06.deviantart.net/fs71/PRE/f/2012/070/4/2/protoss_poster_free_version_by_prolificpen-d4sf74r.jpg" /><em>(image by <a href="http://prolificpen.deviantart.com/art/Protoss-Propaganda-Poster-289603035?q=gallery%3Aprolificpen%2F10409208&amp;qo=6">ProlificPen</a>)</em></p>
<p>3. We could really use some help on the Ruby on Rails front. If you have experience engineering medium-size websites, and you’d like to become a part of our small team, please, drop us a line to hello@theoldreader.com. If you have any other suggestions about how you can help us, feel free to email us as well. Or just spread the word, that’d be much appreciated.</p>
<p>We can’t pay you a huge pile of money, but we still have something interesting to offer.</p>
<p>4. Cool graphs, no?<br /><img alt="cool graphs" src="http://farm9.staticflickr.com/8112/8619711757_56d02128b7_b.jpg" /></p>
