---
date: '2013-03-20'
author: '?'
tags:
- blog
- characters
- guns
- guns and weapons
- iconic
- looking cool
- movies
- no pews for you
- photoshop
- posters
- removing things
- screencaps
title: Thumbs And Ammo Takes The Guns Out Of Movie Scenes
source: http://geekologie.com/2013/03/thumbs-and-ammo-takes-the-guns-out-of-mo.php
---
<img alt="thumbs-up-2.jpg" height="480" src="http://geekologie.com/2013/03/20/thumbs-up-2.jpg" width="640" />

<a href="http://www.thumbsandammo.com/">Thumbs And Ammo</a> is a blog with a bunch of user submitted movie stills/posters with the weapons removed from the characters' hands, and thumbs-up poses instead.  It just goes to show, you don't need to be waving a gun around to look like a badass, <em>you just need to know how to pose</em>.  One hand on your hip, in general, is not the way to go.  

Hit the jump for a ton more, but check out the blog for so many I lost count (so over 30).
      <img alt="thumbs-up-1.jpg" height="428" src="http://geekologie.com/2013/03/20/thumbs-up-1.jpg" width="640" />

<img alt="thumbs-up-3.jpg" height="808" src="http://geekologie.com/2013/03/20/thumbs-up-3.jpg" width="640" />

<img alt="thumbs-up-4.jpg" height="271" src="http://geekologie.com/2013/03/20/thumbs-up-4.jpg" width="640" />

<img alt="thumbs-up-5.jpg" height="359" src="http://geekologie.com/2013/03/20/thumbs-up-5.jpg" width="640" />

<img alt="thumbs-up-6.jpg" height="481" src="http://geekologie.com/2013/03/20/thumbs-up-6.jpg" width="640" />

<img alt="thumbs-up-7.jpg" height="426" src="http://geekologie.com/2013/03/20/thumbs-up-7.jpg" width="640" />

<img alt="thumbs-up-8.jpg" height="276" src="http://geekologie.com/2013/03/20/thumbs-up-8.jpg" width="640" />

<img alt="thumbs-up-9.jpg" height="474" src="http://geekologie.com/2013/03/20/thumbs-up-9.jpg" width="640" />

<img alt="thumbs-up-10.jpg" height="272" src="http://geekologie.com/2013/03/20/thumbs-up-10.jpg" width="640" />

<img alt="thumbs-up-11.jpg" height="512" src="http://geekologie.com/2013/03/20/thumbs-up-11.jpg" width="640" />

<img alt="thumbs-up-12.jpg" height="489" src="http://geekologie.com/2013/03/20/thumbs-up-12.jpg" width="640" />

<img alt="thumbs-up-13.jpg" height="360" src="http://geekologie.com/2013/03/20/thumbs-up-13.jpg" width="640" />

<img alt="thumbs-up-14.jpg" height="869" src="http://geekologie.com/2013/03/20/thumbs-up-14.jpg" width="640" />

<img alt="thumbs-up-16.jpg" height="401" src="http://geekologie.com/2013/03/20/thumbs-up-16.jpg" width="640" />

<img alt="thumbs-up-17.jpg" height="470" src="http://geekologie.com/2013/03/20/thumbs-up-17.jpg" width="640" />

<img alt="thumbs-up-18.jpg" height="400" src="http://geekologie.com/2013/03/20/thumbs-up-18.jpg" width="640" />

<img alt="thumbs-up-19.jpg" height="436" src="http://geekologie.com/2013/03/20/thumbs-up-19.jpg" width="640" />

<img alt="thumbs-up-20.jpg" height="338" src="http://geekologie.com/2013/03/20/thumbs-up-20.jpg" width="640" />

<img alt="thumbs-up-21.jpg" height="360" src="http://geekologie.com/2013/03/20/thumbs-up-21.jpg" width="640" />

<img alt="thumbs-up-22.jpg" height="428" src="http://geekologie.com/2013/03/20/thumbs-up-22.jpg" width="640" />

<img alt="thumbs-up-23.jpg" height="360" src="http://geekologie.com/2013/03/20/thumbs-up-23.jpg" width="640" />

Thanks to PYY and Josh C, who agree the Fonz is a perfect example of how throwing the thumbs up can make you look like a badass.  Also, a leather jacket and cool hair doesn't hurt.  Still, Josh -- you're gonna have to work harder if you want to get in my good graces like your buddy Tallon.
