---
date: '2013-11-07'
author: '?'
title: November 06, 2013
source: http://feedproxy.google.com/~r/smbc-comics/PvLb/~3/9kqRbzm6xkE/index.php
---
<ins><img src="http://www.smbc-comics.com/comics/20131106.gif"></ins> <del><img src="http://www.smbc-comics.com/comics/20131106.png"></del> <br> Here's hoping this experiment goes well. Design by <a href="http://www.systemcomic.com/">Ross Nover.</a> Crotchety grousing, as ever, by yours truly.<br><br> If you'd like a poster version, it's <a href="http://teespring.com/infographic">available here.</a><img height="1" src="http://feeds.feedburner.com/~r/smbc-comics/PvLb/~4/9kqRbzm6xkE" width="1">
