---
date: '2013-03-29'
author: '?'
comment: '*Dives*'
title: Link Diving
source: http://www.urbandictionary.com/define.php?term=Link%20Diving&defid=2326022
---
<p>
  The act of clicking further and further from your original subject of research.  Commonly related to the popular website Wikipedia.com
</p>
<p>
  <i>
    I started out reading about Big Foot on Wikipedia, but two hours later of link diving later and I knew all about The Spring Heeled Jack of London.
  </i>
</p><div>
<a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=tOJeDF8mN3U:kOQPQZYaFjc:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=yIl2AUoC8zA" /></a> <a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=tOJeDF8mN3U:kOQPQZYaFjc:bcOpcFrp8Mo"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=bcOpcFrp8Mo" /></a>
</div>
