---
date: '2013-12-05'
author: MakeThatTheCatWise
tags:
- blog
title: Geer & Goor Sint Poem
source: http://www.makethatthecatwise.nl/blog/geer-goor-sint-poem/
---
<div>
<div>
<p dir="ltr">Dear Geer and Goor, </p>
</div>
<div>
<p>With many pleasure watch I your program every week<br />
So the Sints climbs now in the pen, sothat he can let his heart speak</p>
<p>The Sint finds it namely very good from you <br />
That you’ve helped the elderly people, really true</p>
<p>You’ve showed us what you allmeal can do without much money<br />
And you’ve given some onthought on olderdumb, and that was funny</p>
<p>You&#8217;ve bought some nice things in the circlewalk-store<br />
But you were really so crazy as a door  </p>
<p>Luckily stayed you positive and let you guys yourself not out the field beat<br />
Onthanks you on a little wood must bite, because there was nothing to eat </p>
<p>Of course there were some issues, because the housewine was not to drink<br />
But you must row with the belts that you have, that must you you good bethink</p>
<p>You were a real lookfigurecannon and worked yourselves an accident <br />
But you two false cousins have showed that you have some talent</p>
<p>The Sint is then also as proud as a peacock on what you do for the good goal <br />
So now knows he that you both have sometimes also a good soul </p>
<p>To live from the foodcouch is not nothing <br />
Therefor shows the sint his withliving </p>
<p dir="ltr">But a present sits there for you not in<br />
Because Black Pete finds that big unsin </p>
<p>To knit here an end on, ask I you Geer and Goor <br />
Do this every year a little bit more</p>
<p>I wish you a fun packagesevening<br />
a happy end and a great yearsubstitution<br />
<strong><br />
With a friendly greet<br />
The Sint</strong></p>
</div>
<p>&nbsp;</p>
<p><a href="http://www.makethatthecatwise.nl/winkel/" target="_blank"><img alt="1401726_625423980850104_1482611736_o" height="183" src="http://www.makethatthecatwise.nl/wp-content/uploads/2013/12/1401726_625423980850104_1482611736_o-300x183.jpg" width="300" /></a></p>
<p dir="ltr"> </p>
</div>
<p>Het bericht <a href="http://www.makethatthecatwise.nl/blog/geer-goor-sint-poem/">Geer &#038; Goor Sint Poem</a> verscheen eerst op <a href="http://www.makethatthecatwise.nl">Makethatthecatwise</a>.</p>
