---
date: '2013-10-05'
author: '?'
title: It's exhausting to name a baby
source: http://kindofnormal.com/wumo/2013/10/05
---
<a href="http://kindofnormal.com/wumo/2013/10/05">
                <img alt="It&#039;s exhausting to name a baby" src="http://kindofnormal.com/img/wumo/2013/10/05.png" />
            </a>
