---
date: '2013-10-08'
author: Lar deSouza
comment: Fix it!
title: '20131008'
source: http://feedproxy.google.com/~r/LICD/~3/8qFx9rItGIE/
---
<p><a href="http://www.leasticoulddo.com/comic/20131008/" rel="bookmark" title="20131008"><img alt="20131008" height="60" src="http://www.leasticoulddo.com/wp-content/uploads/2013/10/20131008-180x60.gif" width="180" /></a>
</p><div>
<a href="http://feeds.feedburner.com/~ff/LICD?a=8qFx9rItGIE:SQBRxlVJ0Ew:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/LICD?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/LICD?a=8qFx9rItGIE:SQBRxlVJ0Ew:7Q72WNTAKBA"><img border="0" src="http://feeds.feedburner.com/~ff/LICD?d=7Q72WNTAKBA" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/LICD/~4/8qFx9rItGIE" width="1" />
