---
date: '2013-10-16'
author: boulet
tags:
- non class
- book
- fantasy
- game
- heroic
- pixel
- thrones
title: Fantasy
source: http://english.bouletcorp.com/2013/10/14/fantasy/
---
<p><a href="http://www.bouletcorp.com/blog/2010/05/21/fantasy/"><img alt="" src="http://english.bouletcorp.com/files/2013/10/EN-Fantasy01.png" title="I really wonder why. In sci-fi they use too much 'z' or 'x', and words like 'mega', 'super', 'hyper'. In fantasy it always sound celtic." /><br />
<img alt="" src="http://english.bouletcorp.com/files/2013/10/EN-Fantasy02.png" title="It's like a narrative symbiosis. It's the same with music. Sci-fi HAS to use synthesizers or electronic instruments. You can't show a ship flying with an accordeon background." /><br />
<img alt="" src="http://english.bouletcorp.com/files/2013/10/EN-Fantasy03.png" title="It would be nice, though. A space battle with ukule going on a watlz rhythm: tum-pum-pum ♫ tum-pum-pum ♪. I'd love that." /></a></p>
