---
date: '2013-04-13'
author: raisins
title: Hivemined is now my full time job
source: http://hiveminedblog.tumblr.com/post/47814729469
---
<p><img alt="image" src="http://media.tumblr.com/d6633a93b90d14dec3e101e7acfae088/tumblr_inline_ml5zss1SkP1qz4rgp.jpg" /></p>

<p>Good news everyone! Hive is now my legit job. </p>

<p>Special thanks to my current employer <a href="http://www.tivix.com/">Tivix</a>, who is sponsoring me and this project. For the next month I will be working on Hive with Tivix and all it&#8217;s resources are at my disposal. </p>

<p>What does this mean for <a href="http://hivemined.org/">Hivemined</a>?</p>

<p>I can now focus on this 100% and get it out the door asap. (get yourself ready)<br />
I will be bringing in at least one other person who is 100% focused on Hive as well. <br />
I also will be getting help from some of the most talented people I know and already work with. <br />
With their help, along with my full attention, you can get it in your hands way faster and hopefully with fewer bugs. </p>

<p>This is super exciting news. I couldn&#8217;t ask for anything better. HUGE thanks to <a href="http://www.tivix.com">Tivix</a> for giving me this opportunity and resources to see Hive come to life. <font size="2">(I think they got tired of me always talking about it and spending all my free time on it, lol)</font></p>

<p>To you, the community: thanks for sticking with me! This is now happening without a doubt and should arrive way faster.  Expect more updates, we want to be very open about what&#8217;s happening and keep you in the loop.  </p>

<p>Lastly, the answer to Beta keys is soon. I&#8217;ll have a more concrete answer hopefully late next week. </p>

<p>I can&#8217;t wait, it&#8217;s gonna be awesome. </p>

<p><a href="http://hivemined.org/"><a href="http://hivemined.org/">http://hivemined.org/</a></a></p>
