---
date: '2013-12-29'
author: Lar deSouza
tags:
- beginnings
comment: Hear
title: '20131229'
source: http://feedproxy.google.com/~r/LICD/~3/Nccncutub6w/
---
<p><a href="http://www.leasticoulddo.com/comic/20131229/" rel="bookmark" title="20131229"><img alt="20131229" height="1000" src="http://www.leasticoulddo.com/wp-content/uploads/2013/12/20131229.gif" width="1000" /></a>
</p> 
<map id="admap71014" name="admap71014"><area alt="" coords="0,0,728,90" href="http://www.projectwonderful.com/out_nojs.php?r=0&amp;c=0&amp;id=71014&amp;type=5" shape="rect" target="_blank" title="" /></map>
<table cellpadding="0" cellspacing="0"><tr><td><img alt="" src="http://www.projectwonderful.com/nojs.php?id=71014&amp;type=5" usemap="http://feeds.feedburner.com/LICD#admap71014" /></td></tr><tr><td colspan="1"><center><a href="http://www.projectwonderful.com/advertisehere.php?id=71014&amp;type=5" target="_blank">Your ad here, right now: $0</a></center></td></tr></table>
<div>
<a href="http://feeds.feedburner.com/~ff/LICD?a=Nccncutub6w:gJWqIFN4hzs:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/LICD?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/LICD?a=Nccncutub6w:gJWqIFN4hzs:7Q72WNTAKBA"><img border="0" src="http://feeds.feedburner.com/~ff/LICD?d=7Q72WNTAKBA" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/LICD/~4/Nccncutub6w" width="1" />
