---
date: '2013-11-09'
author: '?'
title: Why you should avoid using pie charts
source: http://kindofnormal.com/wumo/2013/11/09
---
<a href="http://kindofnormal.com/wumo/2013/11/09">
                <img alt="Why you should avoid using pie charts" src="http://kindofnormal.com/img/wumo/2013/11/09.jpg" />
            </a>
