---
date: '2013-04-13'
author: '?'
tags:
- and there was much rejoicing
- body parts
- bra
- breasts
- count me in
- for the ladies
- good news
- hmm
- hoohoos
- hooters
- i smell a bra burning i think my roommate is trying to make a voodoo doll or something
- interesting
title: 'YES: 15-Year Study Suggests Going Braless Is Better'
source: http://geekologie.com/2013/04/yes-15-year-study-suggests-going-braless.php
---
<img alt="braless-is-better.jpg" height="480" src="http://geekologie.com/2013/04/12/braless-is-better.jpg" width="640" />

Now I know what you're thinking, and yes, it would be awesome to swim through those like Scrooge McDuck.

According to a 15-year study conducted by French professor Jean-Denis Rouillon (MUST HAVE BEEN A FUN 15 YEARS), wearing a bra doesn't prevent sagging breasts<a href="http://www.cbsnews.com/8301-204_162-57579077/french-study-suggests-younger-women-should-stop-wearing-bras/"> and may actually increase boob droop</a>. <em> *filling wastebasket with newspaper*</em> What do you say -- let's burn those things, ladies!

<blockquote>Our first results confirm the hypothesis that the bra is a false need," Rouillon told France Info. "Medically, physiologically, anatomically, the breast does not benefit from being deprived of gravity. Instead, it languishes with a bra."


The 15-year study involved 330 volunteers between the ages 18 and 35. Researchers measured their breasts using a slide ruler and a caliper and recorded any changes throughout the study period.

Women who did not wear bras had a 7 millimeter lift as measured from their nipples each year. Their breasts were also firmer, and their stretch marks faded. There was also no evidence that the bras helped get rid of back pain.

The researchers believed that wearing bras prevented the growth of breast tissue, which lead to deterioration of the muscles that support the breasts. If you don't wear a bra, the muscles are worked-out more, the findings suggest.</blockquote>

I mean, I understand there are TIMES when wearing a bra is a good idea, like when you're working out and don't want your titties throwing punches at the people on the treadmills around you.  And sometimes for fashion purposes or whatever.  Mostly I'm just bitter about those pesky bra clasps.  You know how many times I've awkwardly fumbled with those things until the girl wasn't in the mood anymore?  EVERY SINGLE ONE.  As far as I know nipples only exist in Photoshopped pictures on the internet.  

Thanks to Dave S and candice, who heard the same thing about wieners which is why you should never wear tighty whities.
