---
date: '2013-04-02'
author: Colin Lecher
tags:
- robots
- flying
- smartphones
- technology
- apps
- animals
- gliders
- robot dragonfly
- colin lecher
comment: Dragon!
title: Watch This Remote-Controlled Robot Dragonfly Tear Up The Skies
source: http://popsci.feedsportal.com/c/34567/f/632419/s/2a3879de/l/0L0Spopsci0N0Ctechnology0Carticle0C20A130E0A40Cwatch0Eremote0Econtrolled0Erobot0Edragonfly0Etear0Eskies/story01.htm
---
Super-light, flapping-wing flight in any direction <p><iframe height="295" src="http://www.youtube.com/embed/nj1yhz5io20&quot; frameborder=" width="525"></iframe></p> <p>There's apparently a niche market in robot dragonflies, what with <a href="http://www.popsci.com/diy/article/2012-11/fund-tiny-robotic-dragonfly">an Indiegogo project</a> for building them blowing past its $110,000 goal with more than $1.1 million. Now we've got another 'bot entering that field: the <a href="http://phys.org/news/2013-04-festo-bionicopterfully-functional-robot-dragonfly.html">Festo BionicOpter</a>, a super-light, dragonfly-inspired flying machine.</p> <p>It's not exactly dragonfly-sized at 19 inches long with a 27-inch wingspan, but it only weighs about 6 ounces. The German company is claiming (it hasn't been shown outside of this video) the BionicOpter can hover, fly backwards, and outmaneuver other drones, including the <a href="http://www.popsci.com/category/tags/quadrotors">popular quadrotor types</a>. The video <i>is</i> pretty intriguing. Maybe the two dragonfly 'bots can have a face-off soon. </p><img border="0" height="1" src="http://popsci.feedsportal.com/c/34567/f/632419/s/2a3879de/mf.gif" width="1" /><div><table border="0"><tr><td valign="middle"><a href="http://share.feedsportal.com/viral/sendEmail.cfm?lang=en&amp;title=Watch+This+Remote-Controlled+Robot+Dragonfly+Tear+Up+The+Skies&amp;link=http%3A%2F%2Fwww.popsci.com%2Ftechnology%2Farticle%2F2013-04%2Fwatch-remote-controlled-robot-dragonfly-tear-skies" target="_blank"><img border="0" src="http://res3.feedsportal.com/images/emailthis2.gif" /></a></td><td valign="middle"><a href="http://res.feedsportal.com/viral/bookmark.cfm?title=Watch+This+Remote-Controlled+Robot+Dragonfly+Tear+Up+The+Skies&amp;link=http%3A%2F%2Fwww.popsci.com%2Ftechnology%2Farticle%2F2013-04%2Fwatch-remote-controlled-robot-dragonfly-tear-skies" target="_blank"><img border="0" src="http://res3.feedsportal.com/images/bookmark.gif" /></a></td></tr></table></div><br /><br /><a href="http://da.feedsportal.com/r/161990854865/u/0/f/632419/c/34567/s/2a3879de/a2.htm"><img border="0" src="http://da.feedsportal.com/r/161990854865/u/0/f/632419/c/34567/s/2a3879de/a2.img" /></a><img border="0" height="1" src="http://pi.feedsportal.com/r/161990854865/u/0/f/632419/c/34567/s/2a3879de/a2t.img" width="1" />
