---
date: '2013-12-19'
author: '?'
comment: Did I ever saw a Light/sun pillar in the Netherlands?
title: Light Pillars over Finland
source: http://antwrp.gsfc.nasa.gov/apod/ap131218.html
---
<p><a href="http://antwrp.gsfc.nasa.gov/apod/ap131218.html"><img align="left" alt="What's happening behind those houses?" border="0" src="http://antwrp.gsfc.nasa.gov/apod/calendar/S_131218.jpg" /></a> What's happening behind those houses?</p><br clear="all" />
