---
date: '2013-12-19'
author: Christopher Jobson
tags:
- art
- design
- masks
- origami
- paper
title: New Tessellated Origami Masks by Joel Cooper
source: http://feedproxy.google.com/~r/colossal/~3/xmv7nuFcawk/
---
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="687" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-1.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="730" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-2.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="559" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-11.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="773" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-3.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="800" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-4.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="795" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="770" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-5.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="815" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-6.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="645" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-7.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="754" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-8.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="743" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-9.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p><img alt="New Tessellated Origami Masks by Joel Cooper paper origami masks " height="606" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/joel-10.jpg" title="New Tessellated Origami Masks by Joel Cooper" width="800" /></p>
<p>In forms that seem inspired by cast bronze or pewter sculptures, but with incredible geometric textures, these folded masks are made entirely from single sheets of paper by origami artist <a href="http://joelcooper.wordpress.com/" target="_blank">Joel Cooper</a> (<a href="http://feeds.feedburner.com/2012/01/origami-masks-and-tessellations/" target="_blank">previously</a>). As if making the shape of a face from paper wasn&#8217;t already difficult enough, Cooper uses a method of folding called <a href="http://origamiusa.org/thefold/article/tessellations-brief-theory-warping-paper" target="_blank">tessellation</a> where an elaborate grid is first folded into a hexagon-shaped piece of paper, a process he goes into great detail in this <a href="http://joelcooper.wordpress.com/2012/02/27/painting-paper-and-folding-a-mask/" target="_blank">blog post</a>. You can see (and purchase) more of his work over on <a href="http://www.zibbet.com/origamijoel" target="_blank">Zibbit</a> and <a href="http://www.etsy.com/shop/origamijoel" target="_blank">Etsy</a>.</p>
<img height="1" src="http://feeds.feedburner.com/~r/colossal/~4/xmv7nuFcawk" width="1" />
