---
date: '2013-12-09'
author: '?'
tags:
- characters
- children
- cookie monster
- cookies
- count me in
- having a great time
- if i had kids i would watch sesame street with them but since i dont i will just
  continue playing video games
- kids
- lord of the rings
- lotr
- oh wont you tell me how to get how to get to anywhere but here
- parody
comment: Scary...
title: Sesame Street's Lord Of The Rings Parody
source: http://geekologie.com/2013/12/sesame-streets-lord-of-the-rings-parody.php
---
<img alt="sesame-street-lord-of-the-rings.jpg" height="398" src="http://geekologie.com/2013/12/09/sesame-street-lord-of-the-rings.jpg" width="640" />

This is 'Lord of the Crumbs', <a href="http://www.vulture.com/2013/12/sesame-street-lord-of-the-rings.html">Sesame Street's 'Lord of the Rings' parody</a> starring Cookie Monster.  Who, as far as monsters go, isn't a very scary looking one.  When I was growing up there was a REAL monster that lived in my closet.  You know what color his eyes were?  <em>Dried blood</em>.  You know what its fangs were made out of?  <em>Smaller, sharper fangs.</em>  You know what language he spoke?<em>  Fire.</em>  You know how many sleepovers I had with my friends?  Only the one.

Hit the jump for the video, then put your kids in front of the computer.
      <iframe height="360" src="http://www.youtube.com/embed/8nN9lNJuqG4?feature=player_embedded" width="640"></iframe>

Thanks to Jackie M, who agrees if you're going to go questing, you might as well bring a cookie hunting monster so you don't go hungry.
