---
date: '2013-11-14'
author: '?'
tags:
- de jager
title: 'De Jager: 14-11-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-11-14/1002706.html"><img src="http://bin.snmmd.nl/m/m1mzarsahwbg.jpg" /></a>
