---
date: '2013-12-15'
author: WeKnowMemes
tags:
- comics
- gaming
- media
- fantasy female armors
- fantasy female armors a breakdown
- female armor
- wants to believe tumblr
comment: So true...
title: 'Fantasy Female Armors: A Breakdown'
source: http://weknowmemes.com/2013/12/fantasy-female-armors-a-breakdown/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/fantasy-female-armor-a-breakdown.jpg"><img alt="fantasy female armors a breakdown" height="518" src="http://weknowmemes.com/wp-content/uploads/2013/12/fantasy-female-armor-a-breakdown.jpg" width="630" /></a>Fantasy Female Armors: A Breakdown &#8211; comic <a href="http://wantstobelieve.tumblr.com" target="_blank">via</a></p>
<p>&nbsp;</p>
