---
date: '2013-03-22'
author: '?'
comment: ':)'
title: 'Corpse Run: B-Sizzle'
source: http://www.dorkly.com/comic/51039/corpse-run-b-sizzle
---
<div><div><img alt="Corpse Run: BSizzle - Image 1" height="1071" src="http://0.media.dorkly.cvcdn.com/21/21/da28cebb38b4155aa619bd43c565b89c.jpg" width="600" /></div></div>

	<p>See more by <a href="http://corpseruncomics.com">Corpse Run</a>!</p>
