---
date: '2013-12-25'
author: John Gruber
comment: Mooi
title: Unprofessionalism
source: http://www.allenpike.com/2013/unprofessionalism/
---
<p>Allen Pike:</p>

<blockquote>
  <p>The behaviours that make us human are not professional. Honesty,
frankness, humour, emotionality, embracing the moment, speaking up
for what you believe, affection, sincerity. Quoting extremely
offensive trolls. These are all things that will make some people
love you and others hate you. When you get more attention, these
aspects of your personality fuel the inevitable backlash. As your
audience grows, the chance of any given action triggering
criticism asymptotically approaches 100%.</p>
</blockquote>

<div>
<a href="http://daringfireball.net/linked/2013/12/24/unprofessionalism" title="Permanent link to ‘Unprofessionalism’">&nbsp;★&nbsp;</a>
</div>
