---
date: '2013-12-25'
author: '?'
title: Maria got a reputation
source: http://kindofnormal.com/wumo/2013/12/25
---
<a href="http://kindofnormal.com/wumo/2013/12/25">
                <img alt="Maria got a reputation" src="http://kindofnormal.com/img/wumo/2013/12/25.jpg" />
            </a>
