---
date: '2013-10-30'
author: '?'
tags:
- building giant peckers everywhere
- buildings
- church
- eye in the sky
- good job
- google maps
- how much to buy a copy of the blueprints
- i see what you did there and i approve of it wholeheartedly
- illinois
- lookin good
- shapes
- those little mermaid animators know whats up
title: 'Woopsie: Christian Science Built A Peen Shaped Church'
source: http://geekologie.com/2013/10/woopsie-christian-science-built-a-peen-s.php
---
<img alt="peen-shaped-church.jpg" height="452" src="http://geekologie.com/2013/10/30/peen-shaped-church.jpg" width="640" />

This is the Christian Science Church at 2nd and Highland in Dixon (it was meant to be), Illinois, as seen from above<big><a href="https://maps.google.com/maps?q=2nd+and+highland+dixon+ill&amp;hl=en&amp;ll=41.841776,-89.486223&amp;spn=0.00227,0.004147&amp;sll=34.020479,-118.411732&amp;sspn=0.68407,0.926971&amp;t=h&amp;hnear=W+2nd+St+%26+Highland+Ave,+Dixon,+Lee,+Illinois+61021&amp;z=18"> in Google Maps</a></big>. It looks<a href="http://www.huffingtonpost.com/2013/10/29/christian-science-church-_n_4174870.html"> like a sad little pecker</a>.  But, when the image is rotated 180-degrees...

<img alt="peen-shaped-church-upside-down.jpg" height="452" src="http://geekologie.com/2013/10/30/peen-shaped-church-upside-down.jpg" width="640" />

BONER-CITY, USA.  Now only if there was a vagina shaped roller skating rink across the street.

Thanks to David B, lancey, Carmen and A, who agree penis shaped buildings are the best shaped buildings, making them smarter than 99% of all the architects in the world.
