---
date: '2013-04-24'
author: '?'
tags:
- aliens
- drawing things
- hell yeah reproductive organs are like the universal language
- i cant tell you how many peens ive doodled on things in my life because the answer
  might shock you its probably less than a dozen
- i could have done better but thats not bad if its the first peen youve ever drawn
- mars
- nasa
- planets
- wait -- why is the end of the penis smoking thats not good
title: NASA Drew A Giant Peen On Mars With Its Old Rovers
source: http://geekologie.com/2013/04/nasa-draws-giant-peen-on-mars-with-curio.php
---
<img alt="curiosity-draws-peen-on-mars.jpg" height="420" src="http://geekologie.com/2013/04/24/curiosity-draws-peen-on-mars.jpg" width="640"><em>And I would've done the same.</em> NASA, best known for crumpling up my astronaut application and crushing a young man's dreams, <ins>apparently</ins> <a href="http://www.huffingtonpost.co.uk/2013/04/24/mars-rover-penis-nasa_n_3144656.html">took the time out of <ins>the Spirit and Opportunity rovers' busy schedulesof searching for alien life</ins> <del>Curiosity's busy schedule of vaporizing rocks</del> </a> and taking pictures <ins>of dust</ins> <a href="http://gizmodo.com/5995316/nasa-drew-this-giant-penis-on-the-surface-of-mars">to draw this giant penis</a> on Mars. Time well spent if you ask me. Thanks to <ins>Dunc and fat piggie, who're</ins> <del>Dunc, who's</del> convinced some fun-loving aliens are going to see that and decide to not nuke earth after all. 'The <ins>Pecker That Saved The Planet'</ins> <del>pecker that saved the planet'</del> we'll call it <strike>in history books</strike> on Wikipedia. <ins>Full disclosure: NASA claims the penis shape is entirely accidental. CONSPIRACY!</ins>
