---
date: '2013-12-07'
author: '?'
tags:
- accessories
- covering things
- dammit japan you never cease to amaze and worry me
- different strokes for different folks
- i dont get it and im not sure i want to get it
- put some underwear on that phone your home button is showing
- rubber
- smartphones
- sure why not
- underwear
- vending machines
- wtf did i just watch
title: 'Oh Right, Japan: Little Underwear For Your Smartphone'
source: http://geekologie.com/2013/12/oh-right-japan-little-underwear-for-your.php
---
<img alt="smartphone-underwear-1.jpeg" height="554" src="http://geekologie.com/2013/12/05/smartphone-underwear-1.jpeg" width="640" />

<em>Press the bulge.</em>

Apparently<a href="http://www.japansubculture.com/panties-for-smart-phones-become-du-jour-in-japan/"> these little rubber underwears from Bandai</a> are all the rage for smartphone owners in Japan because Japan is Japan and I'm tired of trying to understand.  They come in a variety of styles and are sold randomly in plastic capsule machines for 200 yen ($2).  Didn't get the pair you want?  Try again!  Still didn't?  Now would be a good time to reevaluate just how important having a particular pair of rubber underwear for your smartphone is to you.

Keep going for a shot of a dispenser a bunch of the different styles, and some wack-ass commercial.
      <img alt="smartphone-underwear-2.jpg" height="584" src="http://geekologie.com/2013/12/05/smartphone-underwear-2.jpg" width="640" />

<img alt="smartphone-underwear-3.jpg" height="427" src="http://geekologie.com/2013/12/05/smartphone-underwear-3.jpg" width="640" />

<img alt="smartphone-underwear-4.jpg" height="960" src="http://geekologie.com/2013/12/05/smartphone-underwear-4.jpg" width="640" />

<iframe height="360" src="http://www.youtube.com/embed/K0s0MuY0-z4" width="640"></iframe>

Thanks to Alleycat, who needs to stop meowing outside my window at night when I'm trying to go to sleep.
