---
date: '2013-03-27'
author: Doug
tags:
- cartoons
- chickenless
- special guests
- 3x6
- advice
- desert
- greedo
- listening
- lonely
- sandpeople
- star wars
- tatooine
comment: Tusken raiders ftw
title: Tusken Therapist
source: http://www.savagechickens.com/2013/03/tusken-therapist.html
---
<p><img alt="Tusken Therapist" height="774" src="http://www.savagechickens.com/wp-content/uploads/chickentuskentherapist.jpg" width="400" /></p>
<p>More <a href="http://www.savagechickens.com/tag/star-wars">Star Wars</a>.</p>
