---
date: '2013-04-18'
author: '?'
tags:
- advertising
- bathroom
- commercial
- do you mind -- im trying to pee here
- hmm
- im on to you
- iffy
- lg
- monitor
- peeing
- peeing on the floor
- questionable
title: The Old 'How Long Does It Take To Start Peeing With A Pretty Girl On TV Staring
  At You' Test
source: http://geekologie.com/2013/04/the-old-how-long-does-it-take-to-start-p.php
---
<img alt="peeing-with-people-watching-you-test.jpg" height="386" src="http://geekologie.com/2013/04/17/peeing-with-people-watching-you-test.jpg" width="640" />

This is a commercial<a href="http://www.huffingtonpost.co.uk/2013/04/16/lg-stage-fright-urinals-funny-video_n_3084872.html"> for LG's new 21:9 UltraWide monitor</a> that's allegedly so lifelike that if it plays a video of some chicks looking at you while you're trying to pee it makes it super hard to open your floodgates.  Presumably the guys all knew they were being filmed because recording people using the bathroom is generally frowned upon, plus that would explain why none of them started masturbating (although one dude did almost make out with the monitor).  Me?  I can only pee when there's nobody else in the bathroom because I still push my pants and underwear down to my ankles like you did when you were a kid.  

Hit the jump for the video.
      <iframe height="360" src="http://www.youtube.com/embed/Yf636vLep8s" width="640"></iframe>

Thanks to Tyler, who told me he could have still peed no problem because he saves going to the bathroom until it feels like his bladder is going to explode and then it just all comes like dumping a mop bucket.
