---
date: '2013-05-13'
author: '?'
tags:
- david bowie
- floating in a tin can
- having a great time
- iss
- music in space
- music video
- planet earth is blue and theres nothing i can do
- sometimes i wish i was an astronaut but then i remember how claustrophobic i am
  and how i wouldnt be able to deal with space until we have giant floating cities
  like the citadel from mass effect
- space oddity
- space station
- sure why not
- tell me wife i love her very much she knoooooows
title: ISS Astronaut Performing David Bowie's Space Oddity
source: http://geekologie.com/2013/05/space-station-astronaut-does-david-bowie.php
---
<img alt="space-station-space-oddity.jpg" height="394" src="http://geekologie.com/2013/05/13/space-station-space-oddity.jpg" width="640"> This is a video of Commander Chris Hadfield <a href="http://youtu.be/KaOC9danxNo">performing a revised version of David Bowie's iconic 'Space Oddity'</a> while floating around the International Space Station. It's worth a watch, and I'm half surprised Chris pursued a career in space exploration instead of music. Also, anybody else surprised there's an acoustic guitar aboard the space station? Think they have a drum set too? I only ask because <em>*air drum solo*</em> I AM READY TO ROCK SOME ALIEN PANTIES OFF. Hit the jump for the video. <iframe height="360" src="http://www.youtube.com/embed/KaOC9danxNo" width="640"></iframe> Thanks to David B., Cabbo, <ins>Tip, Babs and Lazlow3,</ins> <del>Tip and Babs,</del> who heard it's way safer to crowd surf in space.
