---
date: '2013-03-21'
author: '?'
tags:
- a labor of love or something
- beetle juice beetle juice beetle juice
- building things
- characters
- color me impressed also more than a little motion sick
- damn
- good job
- goodness gracious
- great googly moogly
- holy smokes
- i havent been on a roller coaster in years unless my life counts in which case its
  just been one long plummet down
- impressive
comment: Ouch...
title: Impressive (+Trippy) Beetle Juice Minecraft Roller Coaster
source: http://geekologie.com/2013/03/impressive-trippy-beetle-juice-minecraft.php
---
<img alt="minecraft-beetle-juice-coaster.jpg" height="378" src="http://geekologie.com/2013/03/21/minecraft-beetle-juice-coaster.jpg" width="640" />

This is a video of the <a href="http://youtu.be/afcudstM9zA">Beetle Juice roller coaster</a> Youtube user nuropsych1 built in Minecraft creative mode on an X-Box (wow).  No screencap could really capture the scale or trippy visuals of the coaster though, so if you're going to watch it, watch it, and if you're not, that's fine too but you will have to do work for the next five minutes instead.  Oooooor just keep surfing the internet.  I don't care, I'm not your boss.  But I am on the phone with him right now so you better do what I say.  Now tell me you think I'm pretty.  

Hit the jump for the video which WARNING: has a dubstep soundtrack that may cause temporary insanity and/or loss of bowels.
      <iframe height="360" src="http://www.youtube.com/embed/afcudstM9zA" width="640"></iframe>

Thanks to Ryan, who told me he hates Beetle Juice, Minecraft AND roller coasters but still loved this video.  No word on how he feels about dubstep.
