---
date: '2013-03-28'
author: '?'
title: Some Concerns About Sauron's Battle Plan
source: http://www.dorkly.com/article/51050/some-concerns-about-saurons-battle-plan
---
<div><div><img alt="Some Concerns About Saurons Battle Plan - Image 3" height="4023" src="http://2.media.dorkly.cvcdn.com/91/37/690ec34e6d3f34b580f2c9e9a7802508-some-concerns-about-saurons-battle-plan.jpg" width="600" /></div></div>
