---
date: '2013-12-16'
author: WeKnowMemes
tags:
- celebrity
- memes
- pics
- it doesnt matter who you are when your wife says switch seats
- mandela funeral meme
- obama danish pm meme
title: When Your Wife Says Switch Seats…
source: http://weknowmemes.com/2013/12/when-your-wife-says-switch-seats/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/doesnt-matter-who-you-are-when-your-wife-says-switch-seats-you-switch-seats.jpg"><img alt="doesnt matter who you are" height="1022" src="http://weknowmemes.com/wp-content/uploads/2013/12/doesnt-matter-who-you-are-when-your-wife-says-switch-seats-you-switch-seats.jpg" width="518" /></a>Doesn&#8217;t matter who you are&#8230; when your wife says switch seats..</p>
<p>&nbsp;</p>
