---
date: '2013-03-26'
author: Kimber Streams
tags:
- blog
comment: Ethical scriptkiddie?
title: Internet Census 2012, An Illegally Obtained Animated Map of the Web
source: http://feedproxy.google.com/~r/laughingsquid/~3/uhyAQQeaY80/
---
<p><a href="http://internetcensus2012.bitbucket.org/paper.html"><img alt="carna botnet" src="http://i2.wp.com/laughingsquid.com/wp-content/uploads/geovideo_lowres.gif?resize=600%2C337" /></a></p>
<p>An anonymous individual undertook a <a href="http://internetcensus2012.bitbucket.org/paper.html">massive census of the internet</a> by creating a botnet that infected some 420,000 computers. This &#8220;Carna Botnet&#8221; only targeted Linux machines with enough processing speed and RAM that used weak passwords like admin, root, or no password at all. The resulting maps accurately show the remainder of <a href="http://en.wikipedia.org/wiki/IPv4">IPv4</a> internet, which will continue to dwindle as more users adopt the current <a href="http://en.wikipedia.org/wiki/IPv6">IPv6</a> standard. Though the individual&#8217;s methods were highly illegal in a number of countries, they ensured that the program ran at low priority so as not to interfere with a user&#8217;s system or internet connection, and even left their email address in infected systems should anyone have questions about the project. </p>
<blockquote><p>I did not want to ask myself for the rest of my life how much fun it could have been or if the infrastructure I imagined in my head would have worked as expected. I saw the chance to really work on an Internet scale, command hundred thousands of devices with a click of my mouse, portscan and map the whole Internet in a way nobody had done before, basically have fun with computers and the Internet in a way very few people ever will. I decided it would be worth my time.</p></blockquote>
<p><a href="http://internetcensus2012.bitbucket.org/paper.html"><img alt="carna botnet" src="http://i2.wp.com/laughingsquid.com/wp-content/uploads/20130322-15490683-worldmap_lowres_16to9_1600x900.png?resize=640%2C360" /></a></p>
<p><a href="http://internetcensus2012.bitbucket.org/paper.html"><img alt="carna botnet" src="http://i1.wp.com/laughingsquid.com/wp-content/uploads/20130322-15490683-clientmap_16to9_1600x900.jpg?resize=640%2C360" /></a></p>
<p>images via <a href="http://internetcensus2012.bitbucket.org/paper.html">Internet Census 2012</a></p>
<p>via <a href="http://motherboard.vice.com/blog/this-is-most-detailed-picture-internet-ever">Motherboard</a></p>

      <div></div><div>
<a href="http://feeds.feedburner.com/~ff/laughingsquid?a=uhyAQQeaY80:2bj_NZ_9DEk:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/laughingsquid?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/laughingsquid?a=uhyAQQeaY80:2bj_NZ_9DEk:qj6IDK7rITs"><img border="0" src="http://feeds.feedburner.com/~ff/laughingsquid?d=qj6IDK7rITs" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/laughingsquid/~4/uhyAQQeaY80" width="1" />
