---
date: '2013-12-18'
author: Doug
tags:
- cartoons
- chickenless
- 3x5
- astronomy
- planet
- pluto
- science
- snowman
- space
title: New Evidence
source: http://www.savagechickens.com/2013/12/new-evidence.html
---
<p><img alt="New Evidence" height="583" src="http://www.savagechickens.com/wp-content/uploads/chickenpluto.jpg" width="400" /></p>
<p><a href="http://www.savagechickens.com/tag/snowman">More snowmen</a>!</p>
