---
date: '2013-11-26'
author: '?'
title: inboxia
source: http://www.urbandictionary.com/define.php?term=inboxia&defid=5621318
---
<p>
  A common cause of stress, often leading to paralysis and even death resulting from an overloaded email inbox.
</p>
<p>
  <i>
    Kevin sat down at his computer and froze in a state of inboxia as the 200 emails filtered in.
  </i>
</p><div>
<a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=uxX8WsKpT5k:b0znOAT4Ab8:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=yIl2AUoC8zA" /></a> <a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=uxX8WsKpT5k:b0znOAT4Ab8:bcOpcFrp8Mo"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=bcOpcFrp8Mo" /></a>
</div>
