---
date: '2013-04-03'
author: '?'
tags:
- complaining about things
- cue the christian woman who finds the baby doll at walmart that says worship allah
  when you pull its string
- i dont get it
- i dont get it but i dont get a lot of things so theres that
- jabba
- lego
- oh wait -- were being for real now
- religion
- so its come to this
- star wars
- yep
title: LEGO Ending Jabba's Palace Playset Production Amidst 'Anti-Islamic' Complaints
  (Allegedly Unrelated Though)
source: http://geekologie.com/2013/04/this-is-what-were-arguing-about-lego-agr.php
---
<a href="http://www.independent.co.uk/news/world/europe/the-racist-menace-muslims-declare-victory-in-fight-over-antiislamic-lego-8555610.html"> <ins><img alt="jabbas-palace-retirement.jpg" height="348" src="http://geekologie.com/2013/04/03/jabbas-palace-retirement.jpg" width="640"> LEGO is ceasing</ins> <del><img alt="jabbas-palace-retirement.jpg" height="348" src="http://geekologie.com/2013/04/03/jabbas-palace-retirement.jpg" width="640"> LEGO has agreed to cease</del> production of the Star Wars Jabba's Palace playset</a> at the end of this year <ins>amidst</ins> <del>after</del> complaints from Austria's Turkish community that the building is "mosque-like" and the minifigs included give Muslims a bad rap. Things to complain about: apparently we're getting to the very bottom of the list. <blockquote>Furious Muslim critics complained that the Lego set's Asian and oriental figures were "deceitful and criminal" characters such as gun-runners, slave masters and terrorists. "This sort of thing does not belong in a child's bedroom," said Melissa Gunes, a spokeswoman for Austria's Turkish Cultural Association. Critics also claimed that the palace had an uncanny resemblance to Istanbul's Hagia Sophia mosque. "The game is pedagogical dynamite. It depicts Muslims as terrorists," the TCA complained, adding that Jabba was shown to be a "terrorist who likes to smoke hookah and have his victims killed".</blockquote> Did you read that? PEDAGOGICAL DYNAMITE, FOLKS. I honestly tried to imagine the set depicting Muslims as terrorists, and I couldn't. And that's saying a lot because I can imagine almost ANYTHING. The things I see when I close my eyes -- you could make a movie about them but nobody would ever be the same afterwards. <ins><strong>UPDATE</strong>: LEGO has stated they're ending production of the playset at the end of the year because it was already determined as the end of the product's life-cycle and not because of the criticism.</ins> Thanks to Chillivanilly, who just stockpiled like 100 of them to sell on eBay in twenty years.
