---
date: '2013-12-19'
author: '?'
tags:
- air-powered
- car
- engine
- getting around
- having a great time
- holy smokes
- i would have bought a moped but to each his own i guess
- ill believe it when you let me see whats in that big mound in the back
- impressive
- lego
- not gonna lie i wouldnt drive that thing without a crash helmet on
- romania
comment: Pneumatics ftw.
title: 500,000-Piece LEGO Car Powered By 256 LEGO Pistons
source: http://geekologie.com/2013/12/500000-piece-lego-car-powered-by-256-leg.php
---
<img alt="lego-car.jpg" height="428" src="http://geekologie.com/2013/12/18/lego-car.jpg" width="640" />

This <a href="http://www.dvice.com/2013-12-18/incredible-lego-cars-256-plastic-pistoned-engine-actually-runs">is the 500,000+ piece LEGO car</a> that was <a href="http://www.superawesomemicroproject.com/">built by 20-year-old Romanian Raul Oaida</a>.  Obviously it's not 100% LEGO (chassis, axles, wheels), but it is fueled by compressed air powering 256 LEGO pistons and can allegedly reach speeds up to 20MPH.  For reference, that's faster than you can run.  So, if there was a LEGO car that was determined to catch and kill you, it could.  "Not if I jumped the curb and ran in the grass."  I love how I just made you develop a contingency plan for a killer LEGO car.  I am filling your mind with so much useful information.

Keep going for a worthwhile video of the car doing its thing.
      <iframe height="360" src="http://www.youtube.com/embed/_ObE4_nMCjE?feature=player_embedded" width="640"></iframe>

Thanks to Straightline, barth and Master Splinter, who agree we should all make LEGO go-carts then get out there and demolition derby the shit out of each other.
