---
date: '2013-12-13'
author: '?'
title: The 8 Types of Tolkien Fans
source: http://www.dorkly.com/comic/57349/the-8-types-of-tolkien-fans
---
<p></p>
<div>
<div>
<div>
<div><img alt="The 8 Types of Tolkien Fans" height="2351" src="http://1.media.dorkly.cvcdn.com/19/69/db2e71055df7fb68030e3cda1d360e5f.jpg" width="600" /></div>
</div>
</div>
<div>
<div>
<div><img alt="The 8 Types of Tolkien Fans" height="2351" src="http://2.media.dorkly.cvcdn.com/74/27/245f89bb7846d0f2b811ddec16bdd6c4.jpg" width="600" />...
