---
date: '2013-11-20'
author: '?'
tags:
- de jager
title: 'De Jager: 20-11-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-11-20/1002717.html"><img src="http://bin.snmmd.nl/m/m1mzb74abfcc.jpg" /></a>
