---
date: '2013-10-12'
author: '?'
title: A Guide To Understanding New Pokemon Games (For People Who Haven't Played Since
  the Original Games)
source: http://www.dorkly.com/article/55229/a-guide-to-understanding-new-pokemon-games
---
<p><ins></ins></p><ins> </ins><p><ins><img alt="A Guide To Understanding New Pokemon Games For People Who Havent Played Since the Original Games" height="1773" src="http://2.media.dorkly.cvcdn.com/65/53/026aa5ba7a524297c1d23b33ca762fd6-a-guide-to-understanding-new-pokemon-games-for-people-who-havent-playe.jpg" width="600"></ins></p><ins> </ins><p><ins></ins></p> <p><del></del></p><del> </del><p><del><img alt="A Guide To Understanding New Pokemon Games" height="1773" src="http://0.media.dorkly.cvcdn.com/48/12/50d46e847f48b7cc14c14cb60db60f7a-a-guide-to-understanding-new-pokemon-games.jpg" width="600"></del></p>
