---
date: '2013-12-23'
author: Christopher Jobson
tags:
- photography
- germany
title: Misty Traffic Lights in Germany Photographed by Lucas Zimmermann
source: http://feedproxy.google.com/~r/colossal/~3/zAGYfmPjTNM/
---
<p><img alt="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann Germany " height="864" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/lights-1.jpg" title="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann" width="1240" /></p>
<p><img alt="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann Germany " height="826" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/lights-2.jpg" title="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann" width="1240" /></p>
<p><img alt="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann Germany " height="827" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/lights-3.jpg" title="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann" width="1240" /></p>
<p><img alt="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann Germany " height="826" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/lights-4.jpg" title="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann" width="1240" /></p>
<p><img alt="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann Germany " height="826" src="http://www.thisiscolossal.com/wp-content/uploads/2013/12/lights-5.jpg" title="Misty Traffic Lights in Germany Photographed by Lucas Zimmermann" width="1240" /></p>
<p>I&#8217;m really enjoying this series of photos by photographer <a href="https://www.behance.net/lucasz2005" target="_blank">Lucas Zimmermann</a> captured on a foggy night near Weimar, Germany. You can see more from the series over on <a href="https://www.behance.net/gallery/Traffic-lights/13150627" target="_blank">Behance</a>. (via <a href="http://www.faithistorment.com/2013/12/traffic-lights-photos-by-lucas.html" target="_blank">Faith is Torment</a>)</p>
<img height="1" src="http://feeds.feedburner.com/~r/colossal/~4/zAGYfmPjTNM" width="1" />
