---
date: '2013-12-28'
author: WeKnowMemes
tags:
- memes
- pics
- wtf
- grandma keeps complaining about her shrinking internet
- shrinking internet
title: Shrinking Internet
source: http://weknowmemes.com/2013/12/shrinking-internet/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/grandma-keeps-complaining-about-her-shrinking-internet.jpg"><img alt="grandma keeps complaining" height="465" src="http://weknowmemes.com/wp-content/uploads/2013/12/grandma-keeps-complaining-about-her-shrinking-internet.jpg" width="650"></a>Grandma keeps complaining about her “shrinking internet”</p> <p></p>
