---
date: '2013-11-20'
author: '?'
tags:
- booze
- carrying things
- cartridge
- chug it chug it chug it
- different strokes for different folks
- down the hatch
- drugs and alcohol
- flasks
- getting drunk
- glug glug glug
- hiding things
- nes
comment: Zal nintendo leuk vinden.
title: 'Super Mario Boozers: Nintendo Cartridge Flasks'
source: http://geekologie.com/2013/11/super-mario-boozers-nintendo-cartridge-f.php
---
<img alt="nes-cartridge-flasks-1.jpg" height="429" src="http://geekologie.com/2013/11/19/nes-cartridge-flasks-1.jpg" width="640" />

These <a href="http://technabob.com/blog/2013/11/14/entertainment-flask/">are the line of Nintendo cartridge flasks</a> that Matt Cornell of Ink Whiskey LLC designed.  They're <a href="http://www.kickstarter.com/projects/inkwhiskey/ink-whiskey-concealable-entertainment-flask">currently a Kickstarter project</a> but have already met their funding goal so paying up will guarantee a flask when they ship around March of next year.  $15 will get you a Drunk Hunt flask, $20 a Super Bar-Hop Bros., CastleVodka, Metal Beer or Legend of Drink flask, and $50 a special gold edition Legend of Drink flask.  $70 gets all five (with a non-gold Legend of Drink).  You gonna get one?  I'm gonna get one, and I'm gonna keep it stashed in my NES for safe keeping.  "That sounds like a terrible idea."  Pfft, what do you know?  "Call me when your Nintendo is on fire."  Whatever.

<em>*six months later*</em>
Hey, remember me?  You told me to call you when my Nintendo was on fire?
"Dammit, GW." 
Now what do I do? 
"Try waving your penis at it.  That should work."  
YOU THINK I'D BE CALLING IF IT HAD?

Keep going for a couple more shots including one of all the game art.
      <img alt="nes-cartridge-flasks-2.jpg" height="451" src="http://geekologie.com/2013/11/19/nes-cartridge-flasks-2.jpg" width="640" />

<img alt="nes-cartridge-flasks-3.jpg" height="425" src="http://geekologie.com/2013/11/19/nes-cartridge-flasks-3.jpg" width="640" />

<img alt="nes-cartridge-flasks-4.jpg" height="510" src="http://geekologie.com/2013/11/19/nes-cartridge-flasks-4.jpg" width="640" />

Thanks to Bonetown, which I never want to visit.
