---
date: '2013-10-07'
author: '?'
tags:
- de jager
comment: Doh
title: 'De Jager: 07-10-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-10-07/1002630.html"><img src="http://bin.snmmd.nl/m/m1mz89oafks6.jpg" /></a>
