---
date: '2013-11-06'
author: '?'
tags:
- characters
- fan made
- franchise
- george lucas
- good ideas
- jar jar
- killing off characters that deserve to be killed off
- movies
- movies that sucked
- now somebody go back in time and make this happen jk jk that movie was doomed with
  or without that salamander
- now youre talking
- remake
comment: Great, but it needs more blood!
title: 'That''s More Like It: Fan Remakes Phantom Menace Scene So Jar Jar Dies At
  The Beginning'
source: http://geekologie.com/2013/11/thats-more-like-it-fan-remakes-scene-so.php
---
<img alt="jar-jar-dies-at-the-beginning.jpg" height="307" src="http://geekologie.com/2013/11/06/jar-jar-dies-at-the-beginning.jpg" width="640" />

<a href="http://geekologie.com/www.youtube.com/user/withmorten2">Youtuber withmorten2</a> went and<a href="http://io9.com/finally-a-star-wars-special-edition-where-jar-jar-bink-1459413367"> edited the beginning waterfall scene from The Phantom Menace</a> so Jar Jar goes over the edge and crashes into a bunch of rocks, the way the actual movie should have started.  It made me happy.  I think it's -- "The kind of fan film I can really masturbate to."  Wow -- my roommate Derek, ladies and gentlemen.

Keep going for the video and the original for comparative purposes.
      <iframe height="360" src="http://www.youtube.com/embed/jLACxMXBRhM?feature=player_embedded" width="640"></iframe>

<iframe height="360" src="http://www.youtube.com/embed/bxdpNpIAYZg?feature=player_embedded" width="640"></iframe>

Thanks to Brad, the flaming flamingo, Stephanie and Guz, who had already blocked the original scene out of their heads like normal people.
