---
date: '2013-12-18'
author: '?'
tags:
- de jager
title: 'De Jager: 18-12-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-12-18/1002763.html"><img src="http://bin.snmmd.nl/m/m1mzcw4agoat.jpg" /></a>
