---
date: '2013-04-05'
author: '?'
tags:
- and now you know
- cooking
- different strokes for different folks
- eggs
- food
- how to
- i only really like scrambled eggs in breakfast burritos otherwise its sunny side
  up or deviled or gtfo
- knowing is half the battle the other half is taking the time to swing eggs around
  in a shirt sleeve individually to scramble them
- scrambling things
- shell shocked
- sure why not
- tutorial
comment: Practical, but I fail to see how to insert salt, pepper and cheese.
title: 'I''m Hungry: How To Make Scrambled Hard Boiled Eggs'
source: http://geekologie.com/2013/04/im-hungry-how-to-make-scrambled-hard-boi.php
---
<img alt="scrambled-hard-boiled-eggs.jpg" height="456" src="http://geekologie.com/2013/04/04/scrambled-hard-boiled-eggs.jpg" width="640"> Because I'm hungry but don't have anything in the fridge but store-brand condiments and expired salad dressing, here's <a href="http://www.incrediblethings.com/food/how-to-make-scrambled-hard-boiled-eggs/">a short video tutorial </a>of how to make scrambled eggs <a href="http://www.foodiggity.com/how-to-make-scrambled-hard-boiled-eggs/">STILL IN THE SHELL</a>. I'm not sure what the purpose of making<a href="http://gizmodo.com/5992977/scrambling-eggs-inside-its-shells-to-make-scrambled-hard-boiled-eggs-looks-so-fun">scrambled eggs still in the shell</a> is, but if I had to guess I'd say novelty. Or maybe you hate the taste of the yolk alone but still want to take some hard boiled eggs to work for a snack. But don't you dare think about making egg salad at your desk with those things because this is a cubicle environment and I can smell that shit from here. I'll puke, I really will. Hit the jump for the informative video, which may or may not involve wrapping an egg in a long t-shirt sleeve and then BEATING IT AGAINST THE WALL AS HARD AS YOU CAN. Spoiler: the shirt part, yes, the rest, no. <iframe height="360" src="http://www.youtube.com/embed/aazP6zvJmiQ" width="640"></iframe> Thanks to PYY, who agrees the best eggs are deviled ones and that is an UNDENIABLE FACT OF NATURE.
