---
date: '2013-10-26'
author: Oliver Widder
comment: Prrr
title: '"Leaky Abstractions"'
source: http://feedproxy.google.com/~r/GeekAndPoke/~3/gD_Ud5LW-Cc/leaky-abstractions
---
<img alt="good-framework.jpg" src="http://static.squarespace.com/static/518f5d62e4b075248d6a3f90/t/526b7aeae4b0bc40704fad14/1382775549381/good-framework.jpg?format=500w" />
			

			

		
	
	
	
<p>Joel Spolskys blog post "The Law of Leaky Abstractions" is now over 10 years old but sill an excellent read:&nbsp;</p><p><a href="http://www.joelonsoftware.com/articles/LeakyAbstractions.html">http://www.joelonsoftware.com/articles/LeakyAbstractions.html</a>&nbsp;&nbsp;</p><p>&nbsp;</p><div>
<a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=gD_Ud5LW-Cc:uNw-KQTC4Ck:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=gD_Ud5LW-Cc:uNw-KQTC4Ck:V_sGLiPBpWU"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?i=gD_Ud5LW-Cc:uNw-KQTC4Ck:V_sGLiPBpWU" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=gD_Ud5LW-Cc:uNw-KQTC4Ck:qj6IDK7rITs"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=qj6IDK7rITs" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=gD_Ud5LW-Cc:uNw-KQTC4Ck:7Q72WNTAKBA"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=7Q72WNTAKBA" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/GeekAndPoke/~4/gD_Ud5LW-Cc" width="1" />
