---
date: '2013-10-07'
author: '?'
title: Obama getting his most terrifying call
source: http://kindofnormal.com/wumo/2013/10/06
---
<a href="http://kindofnormal.com/wumo/2013/10/06">
                <img alt="Obama getting his most terrifying call" src="http://kindofnormal.com/img/wumo/2013/10/06.png" />
            </a>
