---
date: '2013-11-07'
author: Doug
tags:
- cartoons
- chickenless
- tammy tofu
- timmy tofu
- 3x9
- bar
- bar scene
- drinking
- pickup lines
comment: Tofu smofu
title: Sharing a Drink
source: http://www.savagechickens.com/2013/11/sharing-a-drink.html
---
<p><img alt="Sharing a Drink" height="1037" src="http://www.savagechickens.com/wp-content/uploads/chickenpickup11.jpg" width="400" /></p>
<p>Here&#8217;s more <a href="http://www.savagechickens.com/category/cartoons/timmy-tofu">Timmy Tofu</a>.</p>
