---
date: '2013-11-07'
author: '?'
tags:
- advertising
- bonding
- building things
- commercial
- father and son
- growing up
- having a great time
- heck yeah
- its not time to make a change just relax take it easy youre still young thats your
  fault theres so much you have to know
- lego
- lego
- marketing
title: '''Let''s Build'', LEGO''s New Father And Son Commercial'
source: http://geekologie.com/2013/11/lets-build-legos-new-father-and-son-comm.php
---
<img alt="lego-father-and-son-ad.jpg" height="375" src="http://geekologie.com/2013/11/06/lego-father-and-son-ad.jpg" width="640" />

This <a href="http://www.adweek.com/adfreak/did-lego-already-win-christmas-fantastic-father-son-ad-153644">is a commercial for LEGO</a> featuring a father and son bonding over building things together.  It's pretty cute.  Plus the kid speaks in a sweet British accent, which I'm going to start mimicking for the rest of the day so everybody things I'm a dandy lad.  Here comes the someone now!  Aye -- top o the mornin' to yah.  "F*** OFF."  Ouch.  "IT'S AFTERNOON ANYWAYS, ASSBUTT."  This is why we can't have nice things.  

Hit the jump for the commercial.
      <iframe height="360" src="http://www.youtube.com/embed/rwQqkX3qZak" width="640"></iframe>

Thanks to lebeeps, who agrees the best thing you can build with LEGO <em>are lasting, loving relationships</em>.  Although spaceships are a close second.
