---
date: '2013-10-05'
author: John Gruber
title: Lavabit Case Unsealed
source: http://www.wired.com/threatlevel/2013/10/lavabit_unsealed/
---
<p>Kevin Poulsen, reporting for Wired’s <ins>Threat</ins> <del>Thread</del> Level:</p> <blockquote><p>In an interesting work-around, Levison complied the next day by turning over the private SSL keys as an 11 page printout in 4-point type. The government, not unreasonably, called the printout “illegible.”</p> <p>“To make use of these keys, the FBI would have to manually input all 2,560 characters, and one incorrect keystroke in this laborious process would render the FBI collection system incapable of collecting decrypted data,” prosecutors wrote.</p> <p>The court ordered Levison to provide a more useful electronic copy. By August 5, Lavabit was still resisting the order, and the judge ordered that Levison would be fined $5,000 a day beginning August 6 until he handed over electronic copies of the keys.</p> <p>On August 8, Levison shuttered Lavabit, making any attempt at surveillance moot. He posted an oblique message saying he’d been left with little choice in the matter.</p> </blockquote> <p>In case you missed it <a href="http://daringfireball.net/linked/2013/10/01/lavabit">yesterday</a>, I encourage everyone to join me in <a href="https://rally.org/lavabit">contributing to Ladar Levison’s defense fund</a>. He deserves our support.</p> <div><a href="http://daringfireball.net/linked/2013/10/02/lavabit-unsealed" title="Permanent link to ‘Lavabit Case Unsealed’">★</a> </div>
