---
date: '2013-12-27'
author: WeKnowMemes
tags:
- christmas
- banana for scale
- homemade lego gift box
- lego gift box
comment: Very nice, but why a banana....
title: Homemade Lego Gift Box
source: http://weknowmemes.com/2013/12/homemade-lego-gift-box/
---
<p>Homemade lego gift box!<span id="more-101546"></span></p> <p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/homemade-lego-gift-box.jpg"><img alt="homemade lego gift box" height="650" src="http://weknowmemes.com/wp-content/uploads/2013/12/homemade-lego-gift-box.jpg" width="650"></a></p> <p></p><p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/homemade-lego-giftbox-2.jpg"><img alt="homemade-lego-giftbox-2" height="650" src="http://weknowmemes.com/wp-content/uploads/2013/12/homemade-lego-giftbox-2.jpg" width="650"></a></p> <p></p><p>and a banana for scale</p> <p></p><p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/homemade-lego-gift-box-3.jpg"><img alt="homemade-lego-gift-box-3" height="650" src="http://weknowmemes.com/wp-content/uploads/2013/12/homemade-lego-gift-box-3.jpg" width="650"></a></p>
