---
date: '2013-04-02'
author: Oliver Widder
title: Coders And Bosses
source: http://feedproxy.google.com/~r/GeekAndPoke/~3/_ZHLAsGOI18/coders-and-bosses.html
---
<div><a href="http://geekandpoke.typepad.com/.a/6a00d8341d3df553ef017d4273ac9a970c-pi"><img alt="Tcatb" border="0" src="http://geekandpoke.typepad.com/.a/6a00d8341d3df553ef017d4273ac9a970c-800wi" title="Tcatb" /></a><br />
<div></div>
<div></div>
<a href="http://twitter.com/share">Tweet</a>
</div><div>
<a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=_ZHLAsGOI18:k92rPasBZ2w:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=_ZHLAsGOI18:k92rPasBZ2w:V_sGLiPBpWU"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?i=_ZHLAsGOI18:k92rPasBZ2w:V_sGLiPBpWU" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=_ZHLAsGOI18:k92rPasBZ2w:qj6IDK7rITs"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=qj6IDK7rITs" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=_ZHLAsGOI18:k92rPasBZ2w:7Q72WNTAKBA"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=7Q72WNTAKBA" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/GeekAndPoke/~4/_ZHLAsGOI18" width="1" />
