---
date: '2013-12-27'
author: '?'
title: Praise Google Christ!
source: http://www.urbandictionary.com/define.php?term=Praise%20Google%20Christ%21&defid=7169467
---
<p>
  When you put your troubles at the feet of Almighty Google and find yourself a miracle.
</p>
<p>
  <i>
    I couldn't get my computer to start and Praise Google Christ! I found the answer and it works!
  </i>
</p><div>
<a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=XjHsZwU3e9o:j-lyhZUicbY:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=yIl2AUoC8zA" /></a> <a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=XjHsZwU3e9o:j-lyhZUicbY:bcOpcFrp8Mo"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=bcOpcFrp8Mo" /></a>
</div>
