---
date: '2013-10-24'
author: '?'
tags:
- building things
- count me in
- cuuso
- damn ripley youve really come a long way since that power loader
- dreams really do come true
- fun
- fun for all ages except they ages that are so low theyll try to swallow the pieces
- good job
- good looking
- lego
- mecha
- modular
title: User-Created LEGO Mecha Playset To Hit Production
source: http://geekologie.com/2013/10/user-created-lego-mecha-playset-to-hit-p.php
---
<img alt="lego-mecha-1.jpg" height="473" src="http://geekologie.com/2013/10/23/lego-mecha-1.jpg" width="640" />

After receiving the requisite number of votes <a href="http://lego.cuusoo.com/ideas/view/6135">on the CUUSO site </a>and being reviewed by LEGO, <a href="http://blog.lego.cuusoo.com/2013/10/21/results-of-winter-spring-summer-lego-reviews/">this Exo Suit playset </a>designed by Peter Reid <a href="http://lego.gizmodo.com/its-official-lego-is-creating-an-army-of-exo-suit-min-1450747132/">is actually going to be manufactured next year</a>.  It's the sixth LEGO CUUSO set to head to production, and looks like a fun build <em>but an even funner destruction</em>.  Exo Suit Bravo to Exo Base, come in Exo Base.  Oh, oh no.  Shit, an alien's ripping my arm off!  AAAAAARGH!  Whew, I'm okay -- I poked it in the eye and it took off.  I lost the arm, but at least I'm alive.  Hey Exo Base, you still there?  Somebody talk sexy to me.  

Keep going for more shots.
      <img alt="lego-mecha-2.jpg" height="454" src="http://geekologie.com/2013/10/23/lego-mecha-2.jpg" width="640" />

<img alt="lego-mecha-3.jpg" height="360" src="http://geekologie.com/2013/10/23/lego-mecha-3.jpg" width="640" />

<img alt="lego-mecha-4.jpg" height="459" src="http://geekologie.com/2013/10/23/lego-mecha-4.jpg" width="640" />

<img alt="lego-mecha-5.jpg" height="322" src="http://geekologie.com/2013/10/23/lego-mecha-5.jpg" width="640" />

<img alt="lego-mecha-6.jpg" height="410" src="http://geekologie.com/2013/10/23/lego-mecha-6.jpg" width="640" />

<img alt="lego-mecha-7.jpg" height="423" src="http://geekologie.com/2013/10/23/lego-mecha-7.jpg" width="640" />

Thanks to Barnett, who has every intention of building an army of these things and storming a medieval castle playset.
