---
date: '2013-12-17'
author: '?'
tags:
- bastian
- books
- computers
- covers
- different strokes for different folks
- falkor
- i dont own a tablet -- there i said it the jig is up okay
- i have always wanted one of those infinity snake eating a snake medallions
- movies
- neverending story
- props
- protecting things
title: 'Heck Yeah, Falkor: Neverending Story Tablet Covers'
source: http://geekologie.com/2013/12/heck-yeah-falkor-neverending-story-table.php
---
<img alt="neverending-story-tablet-cover-1.jpg" height="583" src="http://geekologie.com/2013/12/17/neverending-story-tablet-cover-1.jpg" width="640" />
<a href="http://geekologie.com/www.etsy.com/listing/95190935/neverending-story-ipad-tablet-cover">
Etsy seller GeekifyInc</a> is selling these<a href="http://www.incrediblethings.com/tech/neverending-story-tablet-cover/"> Neverending Story tablet covers</a>.  They<a href="http://geekologie.com/www.etsy.com/listing/95190935/neverending-story-ipad-tablet-cover"> cost $66 </a>and come in a variety of sizes to fit most popular tablets.  Don't want the Neverending Story one?  What the hell is the matter with you?  They also make a Labyrinth book, a linking book from Myst, the Enchiridion from Adventure Time, and the Oghma Infinium from Skyrim.  Remember when Artax dies in the Swamp of Sadness?  Can you believe I just brought that up with no warning?  Are you crying?  <a href="http://youtu.be/y688upqmRXo" target="_blank">Because I'm linking to the video right here so you will be if you're not</a>.  God willing, your boss will see you blowing snot bubbles and give you the rest of the day off.

Keep going for all the others.
      <img alt="neverending-story-tablet-cover-2.jpg" height="318" src="http://geekologie.com/2013/12/17/neverending-story-tablet-cover-2.jpg" width="640" />

<img alt="labyrinth-tablet-cover.jpg" height="360" src="http://geekologie.com/2013/12/17/labyrinth-tablet-cover.jpg" width="640" />

<img alt="myst-tablet-cover.jpg" height="468" src="http://geekologie.com/2013/12/17/myst-tablet-cover.jpg" width="640" />

<img alt="adventure-time-tablet-cover.jpg" height="425" src="http://geekologie.com/2013/12/17/adventure-time-tablet-cover.jpg" width="640" />

<img alt="skyrim-tablet-cover.jpg" height="512" src="http://geekologie.com/2013/12/17/skyrim-tablet-cover.jpg" width="640" />
