---
date: '2013-03-25'
author: '?'
tags:
- cake
- call me old fashioned but im cool with a grocery store sheet cake with somebody
  elses name on it
- chocolate
- color me impressed
- edible
- fondant
- good job
- holy smokes
- needs more syringes
- portland congratulations portland youve made it to geekologie tag status
- realistic
- rice krispies
title: Little Too Realistic Zombie Cake (Technically Rice Krispy)
source: http://geekologie.com/2013/03/a-lil-too-realistic-zombie-cake-technica.php
---
<img alt="zombie-cake-1.jpg" height="848" src="http://geekologie.com/2013/03/25/zombie-cake-1.jpg" width="640" />

This is <a href="http://www.obviouswinner.com/obvwin/2013/3/24/unbelievably-realistic-zombie-cake-made-from-rice-krispy-tre.html">the realistic looking zombie cake</a> created by the <a href="http://artisancakecompany.com/2012/10/zombie-cake/">Artisan Cake Company of Portland, Oregon</a>.  It's not really cake though, the body was made out of Rice Krispies (or possibly store-brand Crispy Rice), then covered with a modeling chocolate skin and a shredded fondant shirt.  Oh -- and topped off with a Jello brain.  You know, sometimes I'm convinced my brain is just Jello.  But then I get to thinking if my brain really is just Jello, would it even be capable of such a deep, intellectual thought?  That's usually when I get a headache and have to lie down.  <em> Life's little mysteries.</em>

Hit the jump for several more including the back.
      <img alt="zombie-cake-2.jpg" height="599" src="http://geekologie.com/2013/03/25/zombie-cake-2.jpg" width="640" />

<img alt="zombie-cake-3.jpg" height="643" src="http://geekologie.com/2013/03/25/zombie-cake-3.jpg" width="640" />

<img alt="zombie-cake-4.jpg" height="854" src="http://geekologie.com/2013/03/25/zombie-cake-4.jpg" width="640" />

Thanks to my buddy Terry, the closest thing you can get to a zombie without actually being dead.  Truth bomb!
