---
date: '2013-04-13'
author: '?'
title: 13. April, 2013
source: http://feedproxy.google.com/~r/Wulffmorgenthaler/~3/MDbS15f0KE4/
---
<a href="http://wumo.com/strip/2013/04/13/">
									<img alt="13. April, 2013" src="http://wumo.com/img/strip/WM_strip_DK_20130413.jpg" /><br />
									<strong>13. April, 2013</strong>
								</a><div>
<a href="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?a=MDbS15f0KE4:OFaNL46csg8:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?a=MDbS15f0KE4:OFaNL46csg8:V_sGLiPBpWU"><img border="0" src="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?i=MDbS15f0KE4:OFaNL46csg8:V_sGLiPBpWU" /></a> <a href="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?a=MDbS15f0KE4:OFaNL46csg8:7Q72WNTAKBA"><img border="0" src="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?d=7Q72WNTAKBA" /></a> <a href="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?a=MDbS15f0KE4:OFaNL46csg8:dnMXMwOfBR0"><img border="0" src="http://feeds.feedburner.com/~ff/Wulffmorgenthaler?d=dnMXMwOfBR0" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/Wulffmorgenthaler/~4/MDbS15f0KE4" width="1" />
