---
date: '2013-03-21'
author: '?'
comment: 1 down 1 to go
title: Not Another Castle
source: http://www.dorkly.com/comic/50918/not-another-castle
---
<div><div><img alt="Not Another Castle - Image 1" height="2049" src="http://0.media.dorkly.cvcdn.com/78/70/f90d92b732a67d0ed6c68e7f77c51172.jpg" width="600" /></div></div>
