---
date: '2013-12-13'
author: '?'
tags:
- animation
- black and white
- diy
- do it yourself
- eyeballs
- eyes
- haha look at that cat go hes having a great time meow meow meow meow
- i could stare at shit like this for hours because my brain is simple and likes basic
  things
- lines
- moving things
- optical illusions
- printing things
title: Print-It-Yourself Cool Moving Optical Illusions
source: http://geekologie.com/2013/12/print-it-yourself-cool-moving-optical-il.php
---
<img alt="optical-illusion-print-outs.gif" height="360" src="http://geekologie.com/2013/12/13/optical-illusion-print-outs.gif" width="640" />

This is a video <a href="http://sploid.gizmodo.com/these-animated-optical-illusions-arent-actually-moving-1482029017/">of a bunch of cool moving optical illusions</a> you<a href="http://www.youtube.com/watch?v=q7KswC9wCSY"> can print yourself</a> (links to Youtube page with links to all the designs).   You just need a clear sheet of transparency paper to print the overlay.  Don't have a piece of transparency paper?  Then you are SHIT OUT OF LUCK.  And apparently so am I, because the last six lotto scratchers I've scratched have netted me $0.  I don't play those little $1 and $2 games either, I do the $20's.  "You're an idiot."  Hey, you gotta spend big to win big.  "You're an idiot."  Call the gambling help hotline for me?  My phone got shut off.

Keep going for the video.  
      <iframe height="360" src="http://www.youtube.com/embed/q7KswC9wCSY?feature=player_detailpage" width="640"></iframe>

Thanks to Joseph, who agrees the best optical illusion is getting drunk and, at least for a little while, thinking you're way more attractive than you actually are.
