---
date: '2013-11-27'
author: '?'
comment: lol
title: Memories of a PokéFather
source: http://www.dorkly.com/comic/56324/memories-of-a-pokfather
---
<p></p>
<p><img alt="Memories of a PokFather" height="2047" src="http://0.media.dorkly.cvcdn.com/21/79/1ef4178b1d7b348078efaf6bacded347.jpg" width="600" /></p>
<p>  <em>Click <strong><a href="http://www.nerdragecomic.com/" rel="external external external external external external external">here</a> </strong>for more art by Andy Kluthe.</em></p>
