---
date: '2013-12-16'
author: WeKnowMemes
tags:
- media
- pictures
- egypt snow
- snow covered pyramid
- snow covered sphinx
- snow in cairo
- snow in egypt
- sphinx covered snow
comment: ''
title: Snow Covered Pyramid And Sphinx
source: http://weknowmemes.com/2013/12/snow-covered-pyramid-and-sphinx/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/snow-covered-sphinx.jpg"><img alt="snow covered sphinx" height="450" src="http://weknowmemes.com/wp-content/uploads/2013/12/snow-covered-sphinx.jpg" width="600" /></a></p>
<p>It snowed in Egypt for the first time in 112 years here&#8217;s the Sphinx and a pyramid covered in the white powdery goodness.</p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/snow-covered-pyramid.jpg"><img alt="snow covered pyramid" height="602" src="http://weknowmemes.com/wp-content/uploads/2013/12/snow-covered-pyramid.jpg" width="400" /></a></p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/snow-covered-pyramid.jpg"><a href="http://weknowmemes.com/wp-content/uploads/2013/12/snow-in-egypt.jpg"><img alt="snow covered sphinx" height="476" src="http://weknowmemes.com/wp-content/uploads/2013/12/snow-in-egypt.jpg" width="640" /></a></a></p>
<p>&nbsp;</p>
