---
date: '2013-12-28'
author: WeKnowMemes
tags:
- memes
- pics
- bras make breasts saggier
- breasts
- yeah science bitch
comment: Go for it!
title: Bras Make Breasts Saggier
source: http://weknowmemes.com/2013/12/bras-make-breasts-saggier/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/bras-make-breasts-saggier-2.jpg"><img alt="bras make breasts saggier" height="339" src="http://weknowmemes.com/wp-content/uploads/2013/12/bras-make-breasts-saggier-2.jpg" width="650" /></a></p>
<p>Bras make breasts saggier 15 year French study reveals</p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/bras-make-breasts-saggier.jpg"><img alt="bras make breasts saggier" height="1436" src="http://weknowmemes.com/wp-content/uploads/2013/12/bras-make-breasts-saggier.jpg" width="650" /></a></p>
<p>&nbsp;</p>
