---
date: '2013-11-27'
tags:
- de jager
title: 'De Jager: 27-11-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-11-27/1002732.html"><img src="http://bin.snmmd.nl/m/m1mzbl7a72h1.jpg" /></a>
