---
date: '2013-10-26'
author: '?'
comment: ''
title: Batman's Tragic Origins
source: http://www.dorkly.com/comic/55743/batmans-tragic-origin
---
<p></p>
<p><img alt="Batmans Tragic Origins" height="2774" src="http://0.media.dorkly.cvcdn.com/46/91/88b27cb29f5c13a162cf0c0892b9f14b-batmans-tragic-origins.jpg" width="600" /></p>
