---
date: '2013-12-28'
author: WeKnowMemes
tags:
- texts
- english is hard to learn
- why english is hard to learn
title: Why English Is Hard To Learn
source: http://weknowmemes.com/2013/12/why-english-is-hard-to-learn-3/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/why-english-is-hard-to-learn.jpg"><img alt="why english is hard to learn" height="636" src="http://weknowmemes.com/wp-content/uploads/2013/12/why-english-is-hard-to-learn.jpg" width="518" /></a>Why English is hard to learn</p>
<p>&nbsp;</p>
