---
date: '2013-04-04'
author: jay008
tags:
- conspiracy
- culture
- esoteric
- speculation
- espionage
- politics
- video
- china
- communism
- deception psy ops
- distraction
- kim jong un dennis rodman
title: Absurd North Korean Theater Operations
source: http://jaysanalysis.com/2013/04/03/absurd-north-korean-theater-operations/
---
<div id="attachment_3654"><a href="http://jaysanalysis.files.wordpress.com/2013/04/349539-kim-jong-un-and-dennis-rodman.jpg"><img alt="Dennis Rodman chlls with Kim Jong-Un. Seriously?" height="304" src="http://jaysanalysis.files.wordpress.com/2013/04/349539-kim-jong-un-and-dennis-rodman.jpg?w=378&#038;h=304" width="378" /></a><p>Dennis Rodman chills with Kim Jong-Un. Seriously?</p></div>
<p>By: Jay</p>
<p>The present subterfuge about North Korea is largely a ruse.  North Korea is still part and parcel of the modern Anglo-American establishment game, having gained all their modern missile and nuclear capabilities from the West.  It was revealed in both the Guardian and in Newsmax that the arming of North Korea was a bipartisan effort.  Donald Rumsfeld, a member of the board of ABB, helped North Korea gain the armaments they presently possess.  The <a href="http://www.guardian.co.uk/world/2003/may/09/nuclear.northkorea">Guardian reads</a>:</p>
<p>&#8220;Donald Rumsfeld, the US defence secretary, sat on the board of a company which three years ago sold two light water nuclear reactors to North Korea &#8211; a country he now regards as part of the &#8220;axis of evil&#8221; and which has been targeted for regime change by Washington because of its efforts to build nuclear weapons.</p>
<p>Mr Rumsfeld was a non-executive director of ABB, a European engineering giant based in Zurich, when it won a $200m (£125m) contract to provide the design and key components for the reactors. The current defence secretary sat on the board from 1990 to 2001, earning $190,000 a year. He left to join the Bush administration.  The reactor deal was part of President Bill Clinton&#8217;s policy of persuading the North Korean regime to positively engage with the west.&#8221;</p>
<p>And<a href="http://web.archive.org/web/20060221023706/http://www.newsmax.com/archives/articles/2003/1/7/164846.shtml"> Newsmax Magazine commented on Clinton</a>:</p>
<p>&#8220;During the early Clinton years, hard-liners and so-called conservative hawks advocated a pre-emptive strike to halt North Korea&#8217;s nuclear weapons development before it could field an atomic bomb. Instead of taking the hard-line, President Clinton elected to rely on former President Jimmy Carter and decided to appease the Marxist-Stalinist dictatorship.<span id="more-3653"></span></p>
<p>Carter met with North Korean leader Kim Jong-il in Pyongyang and returned to America waving a piece of paper and declaring peace in our time. Kim, according to Carter, had agreed to stop his nuclear weapons development.</p>
<p>The Clinton appeasement program for North Korea included hundreds of millions of dollars in aid, food, oil and even a nuclear reactor. However, the agreement was flawed and lacked even the most informal means of verification.</p>
<p>In return, Kim elected to starve his people while using the American aid to build uranium bombs. The lowest estimate is that Kim starved to death over 1 million of his own people, even with the U.S. aid program.&#8221;</p>
<p>And,</p>
<p>&#8220;The ultimate irony here is that the North Korean No Dong and Tae Po Dong missiles are based on technology given to Pyongyang by China. In 1994, the Wall Street Journal revealed that Chinese-made CSS-2 missile technology had found its way into North Korean hands.</p>
<div id="attachment_3660"><a href="http://jaysanalysis.files.wordpress.com/2013/04/red_dawn_filmposter_jpeg.jpg"><img alt="Uhmerika, f&amp;*% yeah! Comin' again to save the mutherflippin day, yeah! " src="http://jaysanalysis.files.wordpress.com/2013/04/red_dawn_filmposter_jpeg.jpg?w=630" /></a><p>Uhmerika, f&amp;*% yeah! Comin&#8217; again to save the mutherflippin day, yeah!</p></div>
<p>China has also allowed North Korea to ship SCUD missiles through its territory for Middle Eastern customers. According to a Canadian undercover operative, North Korean agents moved dismantled SCUD missiles through China into Pakistan, Afghanistan and Iran.&#8221;</p>
<p>If North Korea was truly a threat, they could be easily dealt with.  For one, they would not have been given armaments.  Two, they could be decapitated with the ultra high-tech, space-based weaponry the Anglo-establishment possesses.  That means the North Korean threat is essentially a managed one, with the Anglo-establishment&#8217;s backdoor deals with Communist China.  If China and North Korea were really threats to the Angl0-establishment as the media-propaganda complex would have us believe, Dennis Rodman wouldn&#8217;t be involved in media spectacles with the North Korean hereditary dictator (run by China).</p>
<p>So because North Korea is supported by China, it could be a threat, but China is only a threat because the Anglo-American establishment set up <a href="http://jaysanalysis.com/2013/02/27/western-support-for-communism-cfr-oss-soviets-and-asia/">Mao through the OSS</a>, as I have shown elsewhere.  It is all theater, and you are being duped into believing Kim Jong-Un is the new bin Laden. This doesn&#8217;t mean that North Korea won&#8217;t set off a bomb or be blamed for such, but the fact that recent Hollywood movie magic has hyped up North Korea in films like the new <em>Red Dawn</em> shows this is a scripted, staged event, largely for the purpose of psy ops &#8211; managed opposition.  It is a distraction from the banking collapse and structural dismantling that is coming for the West.</p>
<br />  <a href="http://feeds.wordpress.com/1.0/gocomments/jaysanalysis.wordpress.com/3653/" rel="nofollow"><img alt="" border="0" src="http://feeds.wordpress.com/1.0/comments/jaysanalysis.wordpress.com/3653/" /></a> <img alt="" border="0" height="1" src="http://stats.wordpress.com/b.gif?host=jaysanalysis.com&#038;blog=12693306&#038;post=3653&#038;subd=jaysanalysis&#038;ref=&#038;feed=1" width="1" />
