---
date: '2013-10-12'
author: '?'
comment: ':)'
title: Sinead O'Connor's Final Open Letter to Miley Cyrus
source: http://www.dorkly.com/article/55119/sinead-oconnors-final-open-letter-to-miley-cyrus
---
<p></p>
<p><img alt="Sinead OConnors Final Open Letter to Miley Cyrus" height="1503" src="http://2.media.dorkly.cvcdn.com/97/62/8669385f529b5034555c010431d483ad.jpg" width="600" /></p>
<p> </p>
<p> </p>
