---
date: '2013-11-02'
author: '?'
tags:
- bricks
- building things
- dammit where did the rest of my ring go i had some sweet plastic jewels on it this
  morning
- diamonds are forever but lego is way way cheaper
- finger candy
- i used to wear jewelry but now i dont because it just gives the street urchins in
  the area that i live another reason to rob me
- jewelry
- lego
- metal
- modular
- ring
title: 'Wearing A Minifig: Brick Ring To Attach LEGO Blocks To'
source: http://geekologie.com/2013/11/wearing-a-minifig-brick-ring-to-attach-l.php
---
<img alt="brick-lego-ring.jpg" height="368" src="http://geekologie.com/2013/11/01/brick-lego-ring.jpg" width="640" />

This is the Brick Ring <a href="http://www.shapeways.com/model/265217/brick-ring.html">sold by Shapeways user COVO</a>.  It's available in a variety of metals (starting at $41 for steel) and was designed to attach LEGO blocks to.  That way you can customize your fiance's engagement ring with all bricks she desires.  I'm going propose with an entire LEGO pirate ship set attached to it -- there's no way she'll be able to resist!

<strong>UPDATE</strong>: She said no.  She also said I've got a minifig sized penis even though she's told me before it's at least the size of a G.I. Joe.

Keep going for a video in case you're having a hard time imagining what a ring with a bunch of different LEGO bricks stuck to it might look like.
      <iframe height="360" src="http://www.youtube.com/embed/hamvs-NoHPQ" width="640"></iframe>

Thanks to Mitch, who plans on buying one for every finger and building an entire medieval castle on his knuckles.
