---
date: '2013-11-06'
author: '?'
title: Animals at work
source: http://kindofnormal.com/wumo/2013/11/06
---
<a href="http://kindofnormal.com/wumo/2013/11/06">
                <img alt="Animals at work" src="http://kindofnormal.com/img/wumo/2013/11/06.jpg" />
            </a>
