---
date: '2013-05-10'
author: Doug
tags:
- cartoons
- prod3000
- 3x7
- friday
- happiness
- management
- productivity
- weekend
- work
comment: Friday! 7 hours to go!
title: Cause for Celebration
source: http://www.savagechickens.com/2013/05/cause-for-celebration.html
---
<p><img alt="Cause for Celebration" height="854" src="http://www.savagechickens.com/wp-content/uploads/chickenfridayfriday.jpg" width="400" /></p>
<p>Dedicated to Pierre, because we were just talking about Fridays.</p>
<p>Here are more <a href="http://www.savagechickens.com/tag/friday">Fridays</a>!</p>
