---
date: '2013-12-12'
author: WeKnowMemes
tags:
- celebrity
- memes
- pics
- jk martin vs george rr martin
- jk rowling vs george r martin meme
- jk rowling vs george rr martin
- youre adorable meme
title: JK Rowling Vs George R R Martin
source: http://weknowmemes.com/2013/12/jk-rowling-vs-george-r-r-martin/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/jk-rowling-vs-jrr-martin.jpg"><img alt="jk rowling vs jrr martin" height="428" src="http://weknowmemes.com/wp-content/uploads/2013/12/jk-rowling-vs-jrr-martin.jpg" width="540" /></a>J.K. Rowling vs George R.R. Martin</p>
<p>&nbsp;</p>
