---
date: '2013-12-27'
author: '?'
tags:
- global warming
- glacier
- science
- message in a bottle
title: 'Amazing Find of the Day: 54-Year-Old Message in a Bottle Found in Canadian
  Glacier'
source: http://cheezburger.com/7974135808
---
<div><img alt="Amazing Find of the Day: 54-Year-Old Message in a Bottle Found in Canadian Glacier" height="700" id="_r_a_7974135808" src="https://i.chzbgr.com/maxW500/7974135808/hD73A542D/" title="Amazing Find of the Day: 54-Year-Old Message in a Bottle Found in Canadian Glacier" width="466"></div> <div><p>Scientists discovered the message in a bottle while researching a glacier in Northern Canada.. The letter was written in 1959 by a young geologist asking whoever finds the bottle to please measure the distance between it and the nearby glacier and then send the findings to he and his colleague at the provided address. Unfortunately neither he nor his partner survived to receive the requested data.<br><br> However, the scientists who found the bottle did make the measurements: it was 333 feet away. In 1959 the bottle was only four feet away. The change in distance is due the the shrinking of the glacier over the years.</p> </div> <div><p>Submitted by: Unknown </p> </div> <div>Tagged: <a href="http://thedailywhat.cheezburger.com/tag/global-warming">global warming</a> , <a href="http://thedailywhat.cheezburger.com/tag/glacier">glacier</a> , <a href="http://thedailywhat.cheezburger.com/tag/science">science</a> , <a href="http://thedailywhat.cheezburger.com/tag/message-in-a-bottle">Message In A Bottle</a> </div> <div><a href="http://www.facebook.com/sharer.php?u=http%3a%2f%2fcheezburger.com%2f7974135808" target="_blank">Share on Facebook</a> </div><div><a href="http://feeds.feedburner.com/~ff/feedburner/oicv?a=c54emuUebHk:4V6SsFald4M:qj6IDK7rITs"><img border="0" src="http://feeds.feedburner.com/~ff/feedburner/oicv?d=qj6IDK7rITs"></a> </div><img height="1" src="http://feeds.feedburner.com/~r/feedburner/oicv/~4/c54emuUebHk" width="1">
