---
date: '2013-12-07'
author: '?'
tags:
- de jager
comment: ''
title: 'De Jager: 07-12-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-12-07/1002742.html"><img src="http://bin.snmmd.nl/m/m1mzc9ga1a1z.jpg" /></a>
