---
date: '2013-11-20'
author: '?'
tags:
- amusement parks
- did my top come off im afraid to look
- having a great time
- if you need me ill be in the lazy river
- is it raining or is the person on the ladder ahead of me pissing themself
- kansas city
- pissing yourself
- record
- seeking thrills
- water
- water parks
- waterslide
comment: '"They wedge your bathing suit so far up your ass you can taste the fabric"
  :)'
title: 'Nobody Can Tell You Peed: The World''s Tallest Waterslide'
source: http://geekologie.com/2013/11/nobody-can-tell-you-peed-the-worlds-tall.php
---
<img alt="waterslide-of-death.jpg" height="480" src="http://geekologie.com/2013/11/19/waterslide-of-death.jpg" width="640" />

This<a href="http://www.gizmodo.co.uk/2013/11/the-worlds-tallest-waterslide-better-end-with-the-worlds-deepest-pool/"> is the world's tallest waterslide</a> being built at the Schlitterbahn park in Kansas City.  When opened next summer, the Meg-a-Blaster will drop thrill-seeking bathing suit wetters 140-feet, reaching speeds over 62MPH.  You know, I've been on these kinds of slides before.  They wedge your bathing suit so far up your ass you can taste the fabric.

Thanks to Linc and PYY, who agree all water parks should be kids-free so you don't have to worry about turds in the wave pool.
