---
date: '2013-10-03'
author: Jason Kottke
comment: Hear hear! fck shiny sw.
title: Four rules to make Star Wars great again
source: http://kottke.org/13/09/four-rules-to-make-star-wars-great-again
---
<p>Disney and JJ Abrams are rebooting the Star Wars franchise. This two-minute video outlines four simple rules that could make Star Wars great again.</p>

<p><iframe height="480" src="http://www.youtube.com/embed/_joDNOpeWWo?rel=0" width="640"></iframe></p>

<p>The rules are:</p>

<p>1. The setting is the frontier.<br />
2. The future is old.<br />
3. The Force is mysterious.<br />
4. Star Wars isn't cute.</p> <strong>Tags:</strong> <a href="http://kottke.org/tag/JJ Abrams">JJ Abrams</a>&nbsp;&nbsp; <a href="http://kottke.org/tag/movies">movies</a>&nbsp;&nbsp; <a href="http://kottke.org/tag/Star Wars">Star Wars</a>&nbsp;&nbsp; <a href="http://kottke.org/tag/video">video</a>
