---
date: '2013-12-12'
author: WeKnowMemes
tags:
- graphs
- memes
- pics
- international guidelines for problem solving
title: International Guidelines For Problem Solving
source: http://weknowmemes.com/2013/12/international-guidelines-for-problem-solving/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/international-guideline-for-problem-solving.jpg"><img alt="international guideline for problem solving" height="1525" src="http://weknowmemes.com/wp-content/uploads/2013/12/international-guideline-for-problem-solving.jpg" width="650" /></a>International Guidelines for problem solving &#8211; a nice little chart</p>
