---
date: '2013-11-07'
author: Inigo del Castillo
tags:
- tech
- cool video
- doll
- new products
- tech
comment: Indrukwekkend!
title: Arguably the first computer was a boy built 240 years ago
source: http://feedproxy.google.com/~r/LostAtEMinor/~3/2bCsGTa-3ME/
---
<div>
		<iframe height="366" src="http://www.youtube.com/embed/FUa7oBsSDk8?rel=0" width="650"></iframe>		</div>
		<p>It may seem like a simple toy, but this is actually a product of great engineering. Swiss-born watchmaker <a href="http://www.thisiscolossal.com/2013/11/the-writer-automata/" target="_blank">Pierre Jaquet-Droz</a>, along with his son Henri-Louis, and Jean Frédéric Leschot, designed this robot in the late 1770s and called it The Writer. Side note: Writerminator 3000 would have sounded much cooler, but The Writer isn’t too bad either.</p>
<p>It looks like a simple doll or a statue of a boy holding a quill, but the real power of this machine lies inside. Crammed in its small body are 6,000 custom made parts that work together. Because of this, The Writer is a programmable writing machine that’s considered to be the first ever computer. Jaquet-Droz, considered as one of the greatest automata designers of his time, has “The Writer” as his masterpiece. As it should be.</p>
<p>Also, did anyone think of Chucky when you were watching the video?</p>
<p>The post <a href="http://www.lostateminor.com/2013/11/07/arguably-the-first-computer-was-a-boy-built-240-years-ago/">Arguably the first computer was a boy built 240 years ago</a> appeared first on <a href="http://www.lostateminor.com">Lost At E Minor: For creative people</a>.</p><div>
<a href="http://feeds.feedburner.com/~ff/LostAtEMinor?a=2bCsGTa-3ME:qAb8XVFbBlk:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/LostAtEMinor?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/LostAtEMinor?a=2bCsGTa-3ME:qAb8XVFbBlk:D7DqB2pKExk"><img border="0" src="http://feeds.feedburner.com/~ff/LostAtEMinor?i=2bCsGTa-3ME:qAb8XVFbBlk:D7DqB2pKExk" /></a> <a href="http://feeds.feedburner.com/~ff/LostAtEMinor?a=2bCsGTa-3ME:qAb8XVFbBlk:JTEdlOyODb4"><img border="0" src="http://feeds.feedburner.com/~ff/LostAtEMinor?i=2bCsGTa-3ME:qAb8XVFbBlk:JTEdlOyODb4" /></a> <a href="http://feeds.feedburner.com/~ff/LostAtEMinor?a=2bCsGTa-3ME:qAb8XVFbBlk:qj6IDK7rITs"><img border="0" src="http://feeds.feedburner.com/~ff/LostAtEMinor?d=qj6IDK7rITs" /></a> <a href="http://feeds.feedburner.com/~ff/LostAtEMinor?a=2bCsGTa-3ME:qAb8XVFbBlk:gIN9vFwOqvQ"><img border="0" src="http://feeds.feedburner.com/~ff/LostAtEMinor?i=2bCsGTa-3ME:qAb8XVFbBlk:gIN9vFwOqvQ" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/LostAtEMinor/~4/2bCsGTa-3ME" width="1" />
