---
date: '2013-11-28'
author: '?'
comment: 'next step: tx'
title: thx
source: http://www.urbandictionary.com/define.php?term=thx&defid=68092
---
<p>
  Bastardization of 'Thnx,' which is a bastardization of 'Thanx,' which is a bastardization of 'Thanks,' which is a bastardization of 'Thank You.'
</p>
<p>
  <i>
    &lt;Biatch&gt;: I killed your rabbit!
<br />&lt;bish&gt;: thx
<br />&lt;Biatch&gt;: <a href="http://www.urbandictionary.com/define.php?term=np">np</a>
  </i>
</p><div>
<a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=chkaVwgAfvY:2SmSxGZiCrQ:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=yIl2AUoC8zA" /></a> <a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=chkaVwgAfvY:2SmSxGZiCrQ:bcOpcFrp8Mo"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=bcOpcFrp8Mo" /></a>
</div>
