---
date: '2013-05-06'
author: '?'
tags:
- building things
- game of thrones
- i dont know about you but that theme song gets me itching to fight somebody with
  a sword
- if they come asking about me you havent seen me
- labor of love
- looking for things in all the wrong places
- mashup
- minecraft
- on the lam
- opening theme
- sure why not
- theme
title: Game Of Thrones Opening Theme In Minecraft Westeros
source: http://geekologie.com/2013/05/game-of-thrones-minecraft-tour-with-open.php
---
<img alt="game-of-thrones-minecraft-video.jpg" height="397" src="http://geekologie.com/2013/05/03/game-of-thrones-minecraft-video.jpg" width="640"> This is the opening theme to Game of Thrones<a href="http://www.geeksaresexy.net/2013/05/02/opening-credits-of-game-of-thrones-made-in-minecraft-video/">loosely recreated in Minecraft </a>by the folks over <a href="http://westeroscraft.com/">at WesterosCraft </a>(who brought us those<a href="http://geekologie.com/2012/07/good-lord-unbelievably-impressive-game-o.php">insanely detailed Game of Thrones Minecraft cities</a>). Truthfully, it's mostly just a tour of a Minecraft Kings Landing with a couple of the same shots from the opening theme. So if that's what you were looking for, you've come to the right place. But if you came hoping to find the Game of Thrones theme recreated in interpretive dance, you've come to the wrong place. Come looking for a fight? Right place. Looking for a man who matches my description and is wanted for questioning in a police investigation. Wrong place. Now if you'll excuse me, I've got priors. <em>*dives out window*</em> Hit the jump for the video. <iframe height="360" src="http://www.youtube.com/embed/X8Tyz8EpwkM" width="640"></iframe> Thanks to carey, who wishes she lived in Westeros. Really? I wish I lived in Candyland.
