---
date: '2013-11-28'
author: '?'
tags:
- 5 dungeons and dragons credit
- 3-d printing
- cool
- count me in
- crown of thorns
- dd
- dice
- die
- dungeons and dragons
- every rose has its thorns
- impressive
- metal
title: 'My D&D Session Demands Them: 3-D Printed Thorn Dice'
source: http://geekologie.com/2013/11/my-dd-session-demands-them-3-d-printed-t.php
---
<img alt="thorn-dice-1.jpg" height="476" src="http://geekologie.com/2013/11/27/thorn-dice-1.jpg" width="640"> This is a set of 3-D printed thorn dice designed<a href="http://www.shapeways.com/model/126266/thorn-dice-set-with-decader.html">by Shapeways user ceramicwombat</a>. You can get plastic versions for as low as $27, but that makes you a cheap-ass. Just save up the $82 and get a decent metal set or don't get any at all. Just think about how badass your next Dungeons and Dragons session is going to be! <strong>Friend</strong>: Whoa bro, sweet metal thorn dice! <strong>You</strong>: Thanks, I was going to get plastic ones until the GW talked some f***ing sense into me. <strong>Friend</strong>: He's a smart dude. <strong>You</strong>: The smartest. <strong>Friend</strong>: I heard Eskimos have over 100 different names for his penis. <strong>You</strong>: I know, my favorite's Warmth Bringer. <strong>Friend</strong>: You ever stopped to realize <ins>just</ins> how much time he's made us spend thinking about his <ins>peenor?</ins> <del>penis?</del> <strong>You</strong>: Not enough. <strong>Friend</strong>: Not nearly enough. Keep going for a couple more shots of different metal finish options and a video so you can hear what they sound like when you shake them, but be sure to check out the rest of ceramicwombat's Shapeways store for a ton of other unique dice. <img alt="thorn-dice-2.jpg" height="470" src="http://geekologie.com/2013/11/27/thorn-dice-2.jpg" width="640"> <img alt="thorn-dice-3.jpg" height="476" src="http://geekologie.com/2013/11/27/thorn-dice-3.jpg" width="640"> <img alt="thorn-dice-4.jpg" height="486" src="http://geekologie.com/2013/11/27/thorn-dice-4.jpg" width="640"> <img alt="thorn-dice-5.jpg" height="536" src="http://geekologie.com/2013/11/27/thorn-dice-5.jpg" width="640"> <img alt="thorn-dice-6.jpg" height="415" src="http://geekologie.com/2013/11/27/thorn-dice-6.jpg" width="640"> <iframe height="480" src="http://www.youtube.com/embed/qhJIWSYc0dE" width="640"></iframe> Thanks to PapaKaster, who agrees these are probably not the dice to eat when you get mad because an ogre slayed your night elf.
