---
date: '2013-11-04'
author: '?'
tags:
- baking things
- cookies
- dammit cookie monster i baked those for a party
- death star
- decoration
- different strokes for different folks
- eating things
- kitchen
- lick the spatula luke
- seriously though whoever baked those cookies in the picture should lose their oven
  privileges
- star wars
- storing things
comment: Me want
title: 'Getting Caught With Your Hand In A Thermal Exhaust Port: The Death Star Cookie
  Jar'
source: http://geekologie.com/2013/11/getting-caught-with-your-hand-in-a-therm.php
---
<img alt="death-star-cookie-jar.jpg" height="640" src="http://geekologie.com/2013/11/04/death-star-cookie-jar.jpg" width="640" />

This is<a href="http://laughingsquid.com/star-wars-death-star-cookie-jar/"> the Death Star cookie jar </a>available <a href="http://www.firebox.com/product/6286/Death-Star-Cookie-Jar">from Firebox (and probably other places) for $56</a> (previously: <a href="http://www.geekologie.com/2009/08/what-took-so-long-a-death-star.php">just a concept</a>).  It's perfect for the person with a Star Wars themed kitchen.    Don't have a Star Wars themed kitchen?  It's never too late to start.  Those cookies in the picture look like sun baked animal turds.  What's you favorite kind of cookie?  "Girl Scout."  Mine too.

Thanks to Rebecca, who agrees 7-layer bars are amazing and now i want one.
