---
date: '2013-03-28'
author: '?'
comment: Gotta remember this
title: MeDD
source: http://www.urbandictionary.com/define.php?term=MeDD&defid=5999436
---
<p>
  People who have trouble talking about anyone but themselves for any length of time. The &quot;enough about me, what do you think of me&quot; syndrome.
</p>
<p>
  <i>
    I like hanging out with Andrea, but her MeDD (Me-D-D) is so annoying. She&#x27;ll ask me a question, but then jumps in with something about her.
  </i>
</p><div>
<a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=KVrD9hxfet8:X84fr7e_cmY:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=yIl2AUoC8zA" /></a> <a href="http://feeds.urbandictionary.com/~ff/UrbanWordOfTheDay?a=KVrD9hxfet8:X84fr7e_cmY:bcOpcFrp8Mo"><img border="0" src="http://feeds.feedburner.com/~ff/UrbanWordOfTheDay?d=bcOpcFrp8Mo" /></a>
</div>
