---
date: '2013-12-10'
author: '?'
title: The NSA Infiltrates CounterStrike
source: http://www.dorkly.com/article/57385/the-nsa-infiltrates-counterstrike
---
<p></p>
<p><em>It was recently revealed through leaked documents that the embattled NSA were not merely running surveillance on internet and phone conversations, but also <a href="http://www.propublica.org/article/world-of-spycraft-intelligence-agencies-spied-in-online-games"><strong>online gameplay communications</strong></a> (such as in the arenas of World of Warcraft, Second Life, and more). While this cost the organization a great deal in resources and time, ultimately no meaningful counter-terrorism intelligence was gleaned from the effort...EXCEPT THIS ONE.<br />...
