---
date: '2013-12-19'
author: The Awesomer
tags:
- leisure
- awesomer shop
- pens
- writing
title: The Inkless Metal Pen
source: http://theawesomer.com/the-inkless-metal-pen/263478/
---
<p><a href="http://theawesomer.com/the-inkless-metal-pen/263478/"><img alt="The Inkless Metal Pen" src="http://theawesomer.com/photos/2013/12/inkless_metal_pen_t.jpg" /></a></p><p>If you&#8217;re looking for a pen that never runs out of ink, check out this guy. It&#8217;s got a special alloy metal tip and is can write on everyday paper by leaving tiny bits of that alloy on the paper instead of liquid ink. Ink cartridges seem so silly now.</p>

<ul>
<li><a href="http://shop.theawesomer.com/products/the-inkless-metal-pen">Link</a></li>
<li>Price: $28</li>
</ul>
