---
date: '2013-04-25'
author: '?'
title: '04/24/13 PHD comic: ''The Shared Office Printer'''
source: http://www.phdcomics.com/comics.php?f=1578
---
<center>
  <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">        
    <tr>
      <td><b><font face="Arial, Helvetica, sans-serif" size="+1">Piled Higher
        &amp; Deeper</font><font face="Arial, Helvetica, sans-serif"> <i> by Jorge
        Cham</i></font></b></td>
      <td> </td>
      <td>
        <div align="right"><b><font face="Arial, Helvetica, 
sans-serif">www.phdcomics.com</font></b></div>
      </td>
    </tr>
    <tr align="center">
      <td colspan="3"><font face="Arial, Helvetica, sans-serif"><img align="top" alt="Click on the title below to read the comic" border="0" src="http://www.phdcomics.com/comics/archive/phd042413s.gif" /></font></td>
    </tr>
    <tr>
      <td colspan="3">
        <div align="center"><font face="Arial, Helvetica, sans-serif" size="-2">title:
          &quot;<a href="http://www.phdcomics.com/comics.php?f=1578">The Shared Office Printer</a>&quot; - originally published 
4/24/2013  
        </font><p><font face="arial">For the latest news in PHD Comics, <a href="http://www.phdcomics.com/comics.php">CLICK HERE!</a></font></p>
 
</div>
      </td>
    </tr>
  </table>
</center>
