---
date: '2013-03-24'
author: '?'
title: Photo Album - Imgur
source: http://imgur.com/a/09Hf3
---
<div><div><p>This is the sodium/potassium pump i use to move blocks back across the "membrane."  the chest contains "ATP."  While the chest outputs a signal, the ATP is used up by the hopper beneath.  Once ATP reaches a critical concentration, there will be no signal.  On the other side, the chest's signal is used to start as small clock of my own desgin </p><a href="http://redd.it/1amnqf" rel="nofollow">http://redd.it/1amnqf</a><p>.  this pulse is used to drive the droppers that act to pump ions.</p></div></div>
