---
date: '2013-07-26'
author: Alexander Brandenburg
tags:
- buitenland
comment: ''
title: ‘Lekkere trek’-nood bedreigt Kenia
source: http://www.speld.nl/2013/07/19/lekkere-trek-nood-bedreigt-kenia/
---
<p>Door de aanhoudende droogte vallen de oogsten in enkele gebieden in Kenia deze zomer wat tegen. Een niet al te schrikbarend tekort aan ananas, vis en tarwe ligt op de loer, waardoor de lokale bevolking trek zou kunnen krijgen. Tot overmaat van ramp gaat het morgen of hooguit overmorgen pas weer regenen.<span id="more-36372"></span></p><p>Victor Nabwire, burgemeester van de middelgrote stad Garissa in centraal Kenia, weigert te spreken van een humanitaire ramp, maar wel van iets humanitairs in de breedste zin des woords: “Wat er nu gaande is, is vooral hinderlijk rond een uurtje of vier ’s middags. Zo tussen de lunch en het diner wil je soms wel eens iets lekkers. Mensen lossen het tot nu toe heel waardig op met elkaar, voornamelijk met middagdutjes. Of het zo nog langer door kan blijven gaan? Ik denk het wel.”</p><p>De lokale bevolking, bij lange na niet woedend, probeert er ondertussen het beste van te maken. “Dat lukt goed”, zegt Johanna Origi, huisvrouw in het naburige Kolbio. “Het scheelt enorm dat er eigenlijk geen honger is. Wel af en toe trek. Ik heb nu al twee uur niet gegeten, en zou best wel wat lusten. Een stuk fruit, of een mueslireep. Maar het hoeft niet per se ofzo. Over twee uur staat het eten immers alweer op tafel.”</p>
