---
date: '2013-12-31'
author: WeKnowMemes
tags:
- wtf
- meanwhile in canada behold the texting mitt
- the texting mitt
title: The Texting Mitt
source: http://weknowmemes.com/2013/12/the-texting-mitt/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2013/12/the-texting-mitt.jpg"><img alt="the texting mitt" height="533" src="http://weknowmemes.com/wp-content/uploads/2013/12/the-texting-mitt.jpg" width="506" /></a>Meanwhile in Canada behold the texting mitt</p>
<p>&nbsp;</p>
