---
date: '2013-03-28'
author: '?'
tags:
- blob
- eating things
- has anybody seen my magnet i swear it was here just an hour ago
- hey -- give that back
- magic
- magnetic
- magneto is so into this
- magnets
- metal
- neato
- now spit it back out
- time lapse
comment: Silly?
title: Video Of Iron-Infused Silly Putty Swallowing A Magnet
source: http://geekologie.com/2013/03/video-of-iron-infused-silly-putty-swallo.php
---
<img alt="silly-putty-swallows-magnet.jpg" height="460" src="http://geekologie.com/2013/03/28/silly-putty-swallows-magnet.jpg" width="640" />

This is a time lapse video of <a href="http://laughingsquid.com/time-lapse-of-magnetic-silly-putty-absorbing-a-magnet/">iron-infused silly putty swallowing a rare earth magnet over the span of an hour and a half</a> (similar<a href="http://www.geekologie.com/2010/07/looks-delicious-magnetic-silly.php"> to this one</a> I posted a while back but different because that one I posted a long time ago and this one I'm posting today).  It's the kind of thing that robots probably get off on.  Me?  It did nothing for me sexually.  Although one time I did use normaly silly putty to copy a picture of a woman in a bathing suit out of the newspaper, so there's that.  I kept her under my pillow for a month.

Hit the jump for the video.
      <iframe height="360" src="http://www.youtube.com/embed/LcQ3GWpy22Y" width="640"></iframe>

Thanks to PYY, who has tasted silly putty before and so have I.
