---
date: '2013-10-03'
author: '?'
tags:
- birds
- calcium
- dying
- flying high and crashing low
- medusa
- not gonna lie -- those guys look like theyve definitely seen better days
- statues
- those birds dont look so good
- well thats one way to go i guess
- when i die i dont want my body perserved it all i want it burnt to ashes and scattered
  into the food of my friends and family
- you know ive always fancied myself a giant gw statue in my foyer
title: 'Medusa?!: Killer Lake Turns Birds Into Calcified Statues'
source: http://geekologie.com/2013/10/medusa-killer-lake-turns-birds-into-calc.php
---
<img alt="killer-lake-bird-statues-1.jpg" height="536" src="http://geekologie.com/2013/10/02/killer-lake-bird-statues-1.jpg" width="640" />

This <a href="http://gizmodo.com/any-animal-that-touches-this-lethal-lake-turns-to-stone-1436606506">is a small photographic series </a>of birds (and a bat) that <a href="http://geekologie.com/www.nickbrandt.com/">photographer Nick Brandt </a>gathered around the shoreline of Lake Natron in Tanzania <a href="http://www.newscientist.com/article/mg21929360.100-deadly-lake-turns-animals-into-statues.html#.Ukw0DLzk-we">and posed for photos like they were still alive</a>.  The lake, which reaches temperatures as high as 60°C (140°F), also has a basic pH between 9 and pH 10.5 and can apparently calcify any animals that die in the lake.  Hmmmm.... <em>*GW launches dead pet calcification service*  </em>

<blockquote>The lake takes its name from natron, a naturally occurring compound made mainly of sodium carbonate, with a bit of baking soda (sodium bicarbonate) thrown in. Here, this has come from volcanic ash, accumulated from the Great Rift valley. Animals that become immersed in the water die and are calcified.


"No one knows for certain exactly how they die, but it appears that the extreme reflective nature of the lake's surface confuses them, and like birds crashing into plate glass windows, they crash into the lake."</blockquote>

Man, for birds it must suck crashing into a plate glass window.  Or a deadly lake.  That's like, the opposite of flying free like an eagle.  Knowing me though, I'd be one of those birds that explodes trying to perch on a power-line outside your house.  Oh well, at least I blew the power to your Xbox in the middle of a game.

Keep going for several more.
      <img alt="killer-lake-bird-statues-2.jpg" height="801" src="http://geekologie.com/2013/10/02/killer-lake-bird-statues-2.jpg" width="640" />

<img alt="killer-lake-bird-statues-3.jpg" height="801" src="http://geekologie.com/2013/10/02/killer-lake-bird-statues-3.jpg" width="640" />

<img alt="killer-lake-bird-statues-4.jpg" height="513" src="http://geekologie.com/2013/10/02/killer-lake-bird-statues-4.jpg" width="640" />

<img alt="killer-lake-bird-statues-5.jpg" height="803" src="http://geekologie.com/2013/10/02/killer-lake-bird-statues-5.jpg" width="640" />

<img alt="killer-lake-bird-statues-6.jpg" height="799" src="http://geekologie.com/2013/10/02/killer-lake-bird-statues-6.jpg" width="640" />

Thanks to Blake R and E V I L A R E S, who want to set up a spa for rich people in the lake.
