---
date: '2013-06-16'
author: '?'
tags:
- animals
- amphibians
- sex
comment: '...'
title: “Hey, I just realized...
source: http://wtfevolution.tumblr.com/post/52961029580
---
<img src="http://24.media.tumblr.com/9f55a6a2dea17d98bef224e08a02084e/tumblr_moeb3s61lK1s3yrubo1_500.jpg" /><br /><br /><p>“Hey, I just realized something!”</p>
<p>“What’s that?”</p>
<p>“Well, I made these Amazonian frogs so they spawn, right?”</p>
<p>“Right…”</p>
<p>“So the females just lay their eggs out in the water, and the males fertilize them out in the water, and then everyone leaves the eggs alone and they grow.”</p>
<p>“Yeah, <a href="http://wtfevolution.tumblr.com/post/45674709276/hey-remember-the-gastric-brooding-frog-which" target="_blank">generally</a>.”</p>
<p>“No parental care necessary.”</p>
<p>“That’s the idea.”</p>
<p>“So it doesn’t really matter what happens to the parents, so long as the eggs get fertilized.”</p>
<p>“Technically. Where are you going with this? “</p>
<p>“Well, I gave the females this handy reflex to release their eggs when males squeeze them.”</p>
<p>“Right…”</p>
<p>“But sometimes all the males trying to mate with them crush them to death.”</p>
<p>“So it goes.”</p>
<p>“But reflexes still work a bit after you’re dead, right?”</p>
<p>“Oh god.”</p>
<p>“So, like, as long as the eggs still come out of their bodies, and no one needs to be around to take care of those eggs, the males can just <a href="http://www.the-scientist.com/?articles.view/articleNo/35675/title/Croakus-Interruptus/" target="_blank">keep on mating with the dead females</a> and still successfully reproduce!”</p>
<p>“Jesus, evolution. That’s pretty grim.”</p>
<p>“I prefer ‘efficient.’”</p>
<p>“You’re messed up.”</p>
