---
date: '2013-11-09'
author: '?'
tags:
- de jager
title: 'De Jager: 09-11-2013'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2013-11-09/1002694.html"><img src="http://bin.snmmd.nl/m/m1mzag0apxy0.jpg" /></a>
