---
date: '2013-03-27'
author: '?'
comment: Smokemon
title: 'Nerd Rage: The Redcoats Want To Fight'
source: http://www.dorkly.com/comic/51076/nerd-rage-the-redcoats-want-to-fight
---
<div><div><img alt="Nerd Rage: The Redcoats Want To Fight - Image 1" height="1275" src="http://1.media.dorkly.cvcdn.com/13/22/3d31d44063735fa3ca7c6a2a699a389f.jpg" width="600" /></div></div>

	<p>See more by <a href="http://www.nerdragecomic.com">Nerd Rage</a>!</p>
