---
date: '2014-01-16'
author: '?'
tags:
- animation
- cartoons
- classic
- everybody needs a hobby
- good job
- hayao miyazaki
- i could probably use a bath if were being honest if were not being honest i smell
  like a really handsome lumberjack
- i wish i could make money in my hand like no-face
- id live there
- minecraft
- recreating things
- sandbox games
comment: Not bad!
title: Hayao Miyazaki's 'Spirited Away' Sets Built in Minecraft
source: http://geekologie.com/2014/01/hayao-miyazakis-spirited-away-sets-built.php
---
<img alt="minecraft-spirited-away.jpg" height="440" src="http://geekologie.com/2014/01/15/minecraft-spirited-away.jpg" width="640" />

This is a video tour of animator<a href="http://www.spiritedawayminecraft.com/"> Alan Becker's recreation</a> of the world of Hayao Miyazaki's 'Spirited Away'<a href="http://laughingsquid.com/the-world-of-hayao-miyazakis-spirited-away-recreated-in-minecraft/"> entirely in Minecraft</a>.  Currently he has the bathhouse, ghost town and a handful of other areas completed.  Even as blocky looking as it is, I'd still live there.  I've always wanted to go to a bathhouse but been too afraid because I'm really self conscious about my body, even around other guys.  "Says the naked man trying to make his penis do helicopters."  HAHA -- IF YOU GOT IT, FLAUNT IT.  <em>*touches butt making sizzling sound*  </em>

Keep going for some comparison shots and a video tour, go <a href="http://www.spiritedawayminecraft.com/">HERE</a> to download the map yourself.
      <img alt="minecraft-spirited-away-1.jpg" height="946" src="http://geekologie.com/2014/01/15/minecraft-spirited-away-1.jpg" width="640" />

<img alt="minecraft-spirited-away-2.jpg" height="443" src="http://geekologie.com/2014/01/15/minecraft-spirited-away-2.jpg" width="640" />

<img alt="minecraft-spirited-away-3.jpg" height="719" src="http://geekologie.com/2014/01/15/minecraft-spirited-away-3.jpg" width="640" />

<img alt="minecraft-spirited-away-4.jpg" height="782" src="http://geekologie.com/2014/01/15/minecraft-spirited-away-4.jpg" width="640" />

<img alt="minecraft-spirited-away-5.jpg" height="674" src="http://geekologie.com/2014/01/15/minecraft-spirited-away-5.jpg" width="640" />

<iframe height="360" src="http://www.youtube.com/embed/IYRevtUc6dI?feature=player_embedded" width="640"></iframe>

Thanks to lebeeps, who, given the opportunity, would rather live in Totoro's neighborhood.  I want to live on his belly.
