---
date: '2014-01-21'
author: '?'
comment: '*sigh*'
title: Ok I&#039;m going to buy this.
source: http://9gag.com/gag/aKz9yxZ
---
<a href="http://9gag.com/gag/aKz9yxZ"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/aKz9yxZ_460s.jpg" /></a>
