---
date: '2014-01-06'
author: WeKnowMemes
tags:
- memes
- oc
- pics
- you know its cold when
- you know its cold when your door has its own door
title: You Know It’s Cold When…
source: http://weknowmemes.com/2014/01/you-know-its-cold-when/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/snow-door-meme-2.jpg"><img alt="you know its cold when" height="360" src="http://weknowmemes.com/wp-content/uploads/2014/01/snow-door-meme-2.jpg" width="650" /></a></p>
<p>You know it&#8217;s cold when&#8230;</p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/snow-door-meme.jpg"><img alt="snow door" height="867" src="http://weknowmemes.com/wp-content/uploads/2014/01/snow-door-meme.jpg" width="650" /></a></p>
<p>&nbsp;</p>
