---
date: '2014-01-16'
author: elssah12
tags:
- memes
- pics
- vertical
- 5 pounds of gummy bears
- funny amazon reviews
- why you should eat 5 pounds of gummy bears
comment: Letterlijk roflmao. The Gummi bears cleanse.
title: 11 Reasons Why You Shouldn’t Buy And Then Consume 5 Pounds Worth Of Gummy Bears
source: http://weknowmemes.com/2014/01/11-reasons-why-you-shouldnt-buy-and-then-consume-5-pounds-worth-of-gummy-bears/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/11-reasons-why-you-shouldnt-buy-and-eat-5-pounds-of-gummy-bears-3.jpg"><img alt="11 reasons why you shouldnt buy and then eat 5 pounds of gummy bears" height="248" src="http://weknowmemes.com/wp-content/uploads/2014/01/11-reasons-why-you-shouldnt-buy-and-eat-5-pounds-of-gummy-bears-3.jpg" width="525" /></a></p>
<p>11 Reasons why you probably shouldn&#8217;t buy and then consume 5 pounds worth of gummy bears.</p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/11-reasons-why-you-shouldnt-buy-and-eat-5-pounds-of-gummy-bears-2.jpg"><img alt="11 reasons why you shouldnt buy and then consume 5 pounds worth of gummy bears" height="4000" src="http://weknowmemes.com/wp-content/uploads/2014/01/11-reasons-why-you-shouldnt-buy-and-eat-5-pounds-of-gummy-bears-2.jpg" width="524" /></a></p>
<p>
<p>
<p><a href="http://www.amazon.com/gp/product/B000EVOSE4/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B000EVOSE4&amp;linkCode=as2&amp;tag=wek075-20" target="_blank">Get them here</a> but don&#8217;t say you haven&#8217;t been warned&#8230;</p>
