---
date: '2014-01-14'
author: Christopher Jobson
tags:
- video
- history
- london
comment: Erg leuk om te zien!
title: 'London in 1927 & 2013: A Shot-By-Shot Video Comparison of London, 86 Years
  Apart'
source: http://feedproxy.google.com/~r/colossal/~3/zqasouEp_wY/
---
<p><img alt="London in 1927 &amp; 2013: A Shot By Shot Video Comparison of London, 86 Years Apart London history " height="828" src="http://www.thisiscolossal.com/wp-content/uploads/2014/01/london.jpg" title="London in 1927 &amp; 2013: A Shot By Shot Video Comparison of London, 86 Years Apart" width="800"></p> <p><iframe height="450" src="http://player.vimeo.com/video/81368735?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="800"></iframe></p> <p>In the <ins>mid-1920s</ins> <del>mind-1920s</del> cinema technician, filmmaker, and cinematographer <a href="http://en.wikipedia.org/wiki/Claude_Friese-Greene" target="_blank">Claude Friese-Greene</a> traveled across the UK with a new color film camera to create his famous collection of films, <em>The Open Road</em>. The filmmaker’s trip culminated in London with scenes that captured the daily life of Londoners as well as several iconic cityscapes. The films were restored in 2005 by the BFI and circulated widely online.</p> <p>Fast forward 86 years later. Starting early last year filmmaker <a href="http://www.mrsimonsmith.com/" target="_blank">Simon Smith</a>, armed with his own camera, traversed the footsteps of Friese-Greene to make his own film. The result is uncanny. Smith matched the original films shot by shot, mimicking the timing and angle almost perfectly for nearly 6 minutes of footage. While the differences between London of 1926 and 2013 are easy to spot when viewing the films side-by-side, what’s more amazing are the similarities. While clothing styles and car designs changed a bit, it’s almost impossible to tell some of these shots apart if it weren’t for the quality of the film. Watch it and see. (via <a href="http://stellar.io/" target="_blank">Stellar</a>)</p> <img height="1" src="http://feeds.feedburner.com/~r/colossal/~4/zqasouEp_wY" width="1">
