---
date: '2014-01-24'
author: '?'
tags:
- bird
- dookie
- get down here you big chicken i am going to tear your fing feathers out
- i have been crapped on by birds twice in my life and both times it landed on my
  hat which is why i never leave home without a hat on now they are like magic shields
- ill kill you
- pigeon
- pranks
- that sucks
- washing things
comment: Rofl
title: 'Classic: The Old ''Dress Up As A Giant Pigeon And S#iT On Somebody''s Car
  Right After A Carwash'' Prank'
source: http://geekologie.com/2014/01/classic-the-old-dress-up-as-a-giant-pige.php
---
<img alt="giant-pigeon-car-wash-prank.jpg" height="434" src="http://geekologie.com/2014/01/24/giant-pigeon-car-wash-prank.jpg" width="640"> This is a video of internet prankster Rémi Gaillard dressed as a giant pigeon <a href="http://laughingsquid.com/remi-gaillard-dresses-up-as-a-giant-pigeon-and-poops-on-a-mans-vehicle-at-a-car-wash/">and fake crapping on some dude's car</a> right after he pulls out of the carwash. I'm surprised the guy didn't shoot him -- I'm assuming he just didn't have a gun. I would have at least waited till Rémi had to climb down, then pressure-washed his ass off and forced him to eat <ins>one of those</ins> <del>a</del> pine tree air fresheners. Hit the jump for the prank, which almost certainly would have ended in a murder if attempted around here. <iframe height="360" src="http://www.youtube.com/embed/BNCoaKE4S7M?feature=player_embedded" width="640"></iframe> Thanks to Lydia, who told me her car is a bird shit magnet but I didn't have the heart to tell her that's probably not a very scientific explanation.
