---
date: '2014-01-16'
author: '?'
comment: Epic
title: What if the male characters posed like the female one.
source: http://9gag.com/gag/a6w9rZ2
---
<a href="http://9gag.com/gag/a6w9rZ2"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/a6w9rZ2_460s.jpg" /></a>
