---
date: '2014-01-06'
author: WeKnowMemes
tags:
- gaming
- gifs
- gta 5 gif
- gta 5 logic
- gta 5 logic gif
- gta logic
- gta5 logic gif
comment: So typical!
title: GTA 5 Logic – Gif
source: http://weknowmemes.com/2014/01/gta-5-logic-gif/
---
<p><img alt="" src="http://i.imgur.com/uXX1JoE.gif"></p> <p>GTA 5 Logic – gif</p> <p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/gta-5-logic-gif.png"><img alt="gta 5 logic " height="169" src="http://weknowmemes.com/wp-content/uploads/2014/01/gta-5-logic-gif.png" width="317"></a></p>
