---
date: '2014-01-14'
author: '?'
comment: Smashing Pumpkins - Tonight
title: A Trip to the Moon
source: http://antwrp.gsfc.nasa.gov/apod/ap140113.html
---
<p><a href="http://antwrp.gsfc.nasa.gov/apod/ap140113.html"><img align="left" alt="What would it be like to visit the Moon?" border="0" src="http://antwrp.gsfc.nasa.gov/apod/calendar/S_140113.jpg" /></a> What would it be like to visit the Moon?</p><br clear="all" />
