---
date: '2014-01-27'
author: elssah12
tags:
- graphs
- vertical
- 8 things worth knowing about sushi
- sushi 101
comment: Wow, interesting!
title: 8 Things Worth Knowing About Sushi
source: http://weknowmemes.com/2014/01/8-things-worth-knowing-about-sushi/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/8-things-worth-knowing-about-sushi-2.jpg"><img alt="8 things worth knowing about sushi" height="410" src="http://weknowmemes.com/wp-content/uploads/2014/01/8-things-worth-knowing-about-sushi-2.jpg" width="650" /></a></p>
<p>Sushi 101: 8 things worth knowing about eating sushi</p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/8-things-worth-knowing-about-sushi.jpg"><img alt="8 things worth knowing about sushi" height="4000" src="http://weknowmemes.com/wp-content/uploads/2014/01/8-things-worth-knowing-about-sushi.jpg" width="542" /></a></p>
<p>
