---
date: '2014-01-11'
author: elssah12
tags:
- graphs
- countries still using fahrenheit
- map showing countries still using fahrenheit
- whats up belize
title: Map Showing Countries That Still Use Fahrenheit
source: http://weknowmemes.com/2014/01/map-showing-countries-that-still-use-fahrenheit/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/map-showing-countries-that-still-use-fahrenheit.png"><img alt="map showing countries that still use fahrenheit" height="445" src="http://weknowmemes.com/wp-content/uploads/2014/01/map-showing-countries-that-still-use-fahrenheit.png" width="650" /></a></p>
<p>&nbsp;</p>
<p>Map showing countries that still use fahrenheit</p>
