---
date: '2014-01-07'
author: '?'
tags:
- eyeballs
- how is this not illegal
- i smell a war crime
- no thank you
- not cool
- popping things
- powerful burning lasers
- robot
- spider
- wow mixing terrifying with terrifying great job
- wtf were you thinking
- you have no idea how bad my heart yearns to dance on that thing with boots on
title: 'What Could Go Wrong?: Creepy Robotic Spider With Powerful Burning Laser Attached'
source: http://geekologie.com/2014/01/what-could-go-wrong-creepy-robotic-spide.php
---
<img alt="robot-laser-spider.gif" height="360" src="http://geekologie.com/2014/01/06/robot-laser-spider.gif" width="640"> This <a href="http://sploid.gizmodo.com/spider-robot-with-death-ray-bring-us-one-step-closer-to-1491507101/">is a little robotic spider with a 2W blue laser attached to it</a> like a missile launcher. It can pop balloons. Plus melt human eyeballs. How much do you like your eyeballs? "I wish they were blue." Just be thankful you can see, okay? They are kind of a shit-brown though, aren't they? (I'm projecting) Keep going for a video of the robot laser spider in action. <iframe height="360" src="http://www.youtube.com/embed/QR7vwRC6SFE?feature=player_embedded" width="640"></iframe> Thanks to 1jaxstate1, who would smack that thing with a shovel so hard it would wish it had never been built. <ins>And to Arrogant Tiger, who took the time to brag about all the lady tigers he's been with.</ins>
