---
date: '2014-01-20'
author: '?'
comment: meh...
title: These are some clever and cool designs
source: http://9gag.com/gag/a9dvBXW
---
<a href="http://9gag.com/gag/a9dvBXW"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/a9dvBXW_460s_v1.jpg" /></a>
