---
date: '2014-01-22'
author: '?'
comment: so true
title: Ladies... please stop.
source: http://9gag.com/gag/aEwVjEe
---
<a href="http://9gag.com/gag/aEwVjEe"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/aEwVjEe_460sa.gif" /></a>
