---
date: '2014-01-29'
author: '?'
comment: Every day!
title: Alpha male
source: http://9gag.com/gag/ab54oob
---
<a href="http://9gag.com/gag/ab54oob"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/ab54oob_460sa_v1.gif" /></a>
