---
date: '2014-01-13'
author: '?'
tags:
- arts and crafts
- babies
- cabbage patch dolls
- hair
- hats
- i like how cabbage patch dolls grew like lettuce in fields that made sense when
  i was a kid back before i knew anything about vaginas and penises
- kids
- look at all your different colored hats
- making things
- sure why not
- the only cute baby is your own baby
- wigs
comment: This will cause me nightmares
title: Cabbage Patch Doll Inspired Wig Hats For Babies
source: http://geekologie.com/2014/01/cabbage-patch-doll-inspired-wig-hats-for.php
---
<img alt="cabbage-patch-baby-hats.jpg" height="353" src="http://geekologie.com/2014/01/13/cabbage-patch-baby-hats.jpg" width="640" />

I was bald until I was two.  These are <a href="http://www.geeksaresexy.net/2014/01/11/cabbage-patch-kids-inspired-knit-hats/">the Cabbage Patch inspired yarn wigs</a> for babies made by <a href="http://www.etsy.com/ca/listing/154422940/cabbage-patch-kid-inspired-crochet?ref=shop_home_active_5">Etsy seller TheLillyPad</a>.  She'll custom make you one for $33.50 or you can just buy the pattern for $6.69.  I'll admit it -- I had a Cabbage Patch Doll growing up.  Plus on my fifth birthday my parents got me <a href="http://geekologie.com/image.php?path=/2014/01/13/cabbage-patch-clubhouse.jpg">the Cabbage Patch Club House</a> and set it up in the back yard.  Man, I had the best time playing in there.  Until the hornets built a nest, then it sucked.

Thanks to carrie, who took the time to list every Cabbage Patch Doll she has.  It was a great read.
