---
date: '2014-01-29'
author: Janine Sterenborg
tags:
- algemeen
- chrome
comment: Meh
title: 'Bug in Chrome: word je afgeluisterd?'
source: http://feedproxy.google.com/~r/Lifehacking/~3/pCYkjfZAce0/
---
<p><strong>Hackers kunnen de in je laptop ingebouwde microfoon afluisteren door een bug in Chrome, ontdekte <a href="http://talater.com/chrome-is-listening/">Talater</a>. Het is behoorlijk omslachtig, maar in deze tijd van stemherkenning is het het toch waard om even in te verdiepen, zeker als je veel vertrouwelijke gesprekken voert via of in de buurt van je computer. </strong></p>
<p><span id="more-22331"></span></p>
<p>Sommige sites vragen je om toegang tot je camera en microfoon, waarna alle pagina&#8217;s binnen die site er toegang tot hebben. Er hoeft maar één iemand zo slim (of beter: vervelend) te zijn om de betreffende site te hacken en hij of zij kan toegang krijgen tot alles wat je zegt in de buurt van je computer, ook als je de betreffende site hebt verlaten.</p>
<p>Hoe het precies werkt, zie je in onderstaande video:</p>
<p><iframe height="375" src="http://www.youtube.com/embed/s5D578JmHdU?feature=oembed" width="500"></iframe></p>
<p>De gemiddelde gebruiker denk nu waarschijnlijk: &#8220;ik geef bijna geen enkele site toegang en wie is er nu in mij geïnteresseerd?&#8221; Ik kan me echter voorstellen dat actieve gebruikers van de microfoon het bericht erg verontrustend vinden.</p>
<p>Goed nieuws: je kunt de sites die toegang hebben tot je microfoon managen via <strong>chrome://settings/contentExceptions#media-stream </strong>of compleet uit zetten door op <strong>chrome://settings/content</strong><strong> </strong>naar beneden te scrollen tot &#8216;Media&#8217; en daar toegang tot je microfoon voor alles sites uit te zetten.</p>
<p><img alt="Bug in Chrome: als je microfoon aan staat, kun je afgesluisterd worden" height="309" src="http://lifehacking.nl/wp-content/uploads/Gesproken-zoekopdracht-700x309.jpg" width="700" /></p>
<p>&nbsp;</p>
<img height="1" src="http://feeds.feedburner.com/~r/Lifehacking/~4/pCYkjfZAce0" width="1" />
