---
date: '2014-01-16'
author: joebsf
tags:
- commentary
- general
- mobile
- voices
- comic
- geek culture
- joy of tech
- nitrozac and snaggy
comment: Lol
title: Google Disrupts the Nest (Comic)
source: http://recode.net/2014/01/15/google-disrupts-the-nest-comic/
---
<p><a href="http://recodetech.files.wordpress.com/2014/01/1949.jpg"><img alt="Joy of Tech 1949" height="755" src="http://recodetech.files.wordpress.com/2014/01/1949.jpg?w=640&#038;h=755" width="640" /></a></p><img alt="" border="0" height="1" src="http://stats.wordpress.com/b.gif?host=recode.net&#038;blog=61371898&#038;post=6187&#038;subd=recodetech&#038;ref=&#038;feed=1" width="1" />
