---
date: '2014-01-15'
author: elssah12
tags:
- memes
- pics
- friendzoned by the wifi
- wifi friend zoned
- wifi friendzoned
comment: Prrr
title: Friendzoned By The Wifi
source: http://weknowmemes.com/2014/01/friendzoned-by-the-wifi/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/friendzoned-by-the-wifi.jpg"><img alt="friendzoned by the wifi" height="340" src="http://weknowmemes.com/wp-content/uploads/2014/01/friendzoned-by-the-wifi.jpg" width="403" /></a>This symbol basically means you&#8217;ve been friendzoned by the wifi&#8230;</p>
<p>&nbsp;</p>
