---
date: '2014-01-06'
author: WeKnowMemes
tags:
- vertical
- wtf
- getting sick sucks
- getting sick sucks in america
comment: I've seen bills of hospitals in NL and Norway. Why do they differ so much
  from this?
title: Getting Sick Sucks In America
source: http://weknowmemes.com/2014/01/getting-sick-sucks-in-america/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/getting-sick-sucks-in-america-2.jpg"><img alt="getting sick sucks in america" height="339" src="http://weknowmemes.com/wp-content/uploads/2014/01/getting-sick-sucks-in-america-2.jpg" width="540" /></a></p>
<p>Getting sick sucks in America</p>
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/getting-sick-sucks-in-america.jpg"><img alt="getting sick sucks in america" height="2501" src="http://weknowmemes.com/wp-content/uploads/2014/01/getting-sick-sucks-in-america.jpg" width="540" /></a></p>
<p>&nbsp;</p>
