---
date: '2014-01-08'
author: '?'
tags:
- balls
- cold
- floating
- i hate the cold
- ice
- ice balls
- ice boulders
- its 68 degrees outside and im shivering
- lake
- michigan
- mother nature
- now somebody try to run across them
title: Ice Boulders Washing Up In Glen Arbor On Lake Michigan
source: http://geekologie.com/2014/01/ice-boulders-washing-up-in-glen-arbor-la.php
---
<img alt="ice-boulders-in-lake-michigan.jpg" height="419" src="http://geekologie.com/2014/01/08/ice-boulders-in-lake-michigan.jpg" width="640" />

This <a href="http://www.youtube.com/watch?v=J5iPbihuzPc">is a short video </a>of ice boulders washing up in Glen Arbor on Lake Michigan.   When reached for comment, the Ice Witch had this to say, "Want to rub my nipples?"  Nice try lady, but you're not turning me into an ice sculpture.

<blockquote>The giant ice balls form in just-below-freezing water and start as small chunks of ice. The boulders grow layer-by-layer, getting shaped the waves before washing up on Lake Michigan shore.</blockquote>

Oh man, how much fun would it be to wade out there and play with all the ice balls?  If you answered, "NOT AT ALL, IT LOOKS F***ING FREEZING OUT," congratulations, you still have some sense left in you.  Now let's go sip hot cocoa by the fire.

Hit the jump for the video.
      <iframe height="360" src="http://www.youtube.com/embed/J5iPbihuzPc" width="640"></iframe>

Thanks to forrest, who plans to harvest those ice boulders and sell them to fancy bars to put in their disgusting tasting cocktails.
