---
date: '2014-01-09'
author: Olaf
tags:
- leven
- bank
- bankieren
- europa
- iban
- online
- sepa
- telebankieren
title: IBAN omcijferen
source: http://www.recensiekoning.nl/2014/01/62040/iban-omcijferen/
---
<div><table><tr><th>wat</th><td>IBAN omcijferen</td></tr><tr><th>waarom</th><td>dat moet</td></tr><tr><th>van wie</th><td>Europa</td></tr><tr><th>recensent</th><td>Olaf</td></tr></table></div><p>Er klopt iets niet aan IBAN. En dan bedoel ik niet dat mensen soms “IBAN-nummer” zeggen en dus eigenlijk twee keer het woord “nummer” zeggen, zoals wanneer ze “IBG-groep” zeggen, twee keer groep zeggen. Of “ATM-machine”. Nou ja.</p><p><img alt="Zo moet het" height="160" src="http://www.recensiekoning.nl/wp-content/uploads/2014/01/Schermafbeelding-2014-01-09-om-10.40.36-300x160.png" width="300" /><br /> Ik bedoel ook niet dat er meer cijfers in een IBAN zitten dan er woorden in de Bijbel. Soms heb je nu eenmaal meer cijfers nodig, zeker als je ervan overtuigd bent dat de Europese eenwording het beste gepaard gaat met een soepeler economische interactie.</p><p>Wat er niet aan klopt is het volgende: vanaf 1 februari is het niet meer toegestaan om bij het internetbankieren oude, korte, bankrekeningnummers in te vullen. Nu is het nog zo dat ik giro 555 mag invullen en de ING er dan het godsonmogelijke NL08INGB0000000555 van maakt. Dat doen ze straks niet meer. Dat is namelijk verboden door Europa.</p><p>Toen ik er een beetje meer indook, zag ik dat <a href="https://twitter.com/marcdehond">Marc de Hond</a> zich er ook al druk over had gemaakt en in een facebookchatvenster bespraken we de kwestie nog eens. We kwamen er niet uit.</p><p>Wat ik niet begrijp is: waarom is het verboden om iets te versimpelen als het verder geen consequentie heeft voor het proces? Wat is er precies erg aan dat de ING tot in het einde der tijden (2074) voor mij nummers blijft omrekenen? Het ding is namelijk: ALLE informatica is in feit het versimpelen van ingewikkelde code. Daarmee bedoel ik: als je op een link op een website klikt, gaan er ook allerlei cijfertjes en formules lopen, zonder dat je dat doorhebt. Je zou het zelfs het doel van de informatietechnologie kunnen noemen: processen versimpelen.</p><p><img alt="IBAN-wij-zijn-overstuur" height="117" src="http://www.recensiekoning.nl/wp-content/uploads/2014/01/IBAN-wij-zijn-overstuur.jpg" width="300" />Dat je er verstandig aan doet om als internationaal opererend bedrijf je IBAN op je factuur te zetten, dat snap ik wel. Dat moet gestimuleerd worden. Maar waarom zou je een tooltje IN een website verbieden, terwijl je in een ander tabblad hetzelfde externe tooltje aan kan zetten? Wat kan Europa dat allemaal schelen? Gaan ze straks ook verwachten dat we, om bij Google te komen, 74.125.228.95 intypen in onze zelfgeprogrammeerde browsers?</p><p>En als ik het verkeerd heb begrepen en die omrekenmodule mag wel blijven bestaan en het voor altijd zo blijft dat we kortere nummers mogen invullen, waarom zijn we dan überhaupt lastig gevallen met IBAN als het gaat om binnenlands betalingsverkeer?</p><p>Ik heb hier maar één ding over te zeggen:<br /> <img alt="Schermafbeelding 2014-01-09 om 10.42.59" height="34" src="http://www.recensiekoning.nl/wp-content/uploads/2014/01/Schermafbeelding-2014-01-09-om-10.42.59.png" width="278" /><br /> Oftewel: één ster.</p>
