---
date: '2014-01-10'
author: Freerk Terpstra
tags:
- how to
title: 'How to: Hoe je veters wel goed stikt'
source: http://feedproxy.google.com/~r/Lifehacking/~3/YmTiODD9DLI/
---
<p><strong>How to-video&#8217;s zijn razend populair op internet. We duikelen een aantal pareltjes op van het internet en delen die met jullie. We hopen jullie te verbazen met interessante video&#8217;s. Heb je tips voor mooie/handige how to&#8217;s? Schroom niet en plaats die in de comments of stuur &#8216;m in via het <a href="http://lifehacking.nl/contact/">contactformulier</a>.</strong></p>
<p>Deze week een andere manier van je veters strikken. Niet sneller, maar wel met een betere knoop.</p>
<p><iframe height="375" src="http://www.youtube.com/embed/zAFcV7zuUDA?feature=oembed" width="500"></iframe></p>
<img height="1" src="http://feeds.feedburner.com/~r/Lifehacking/~4/YmTiODD9DLI" width="1" />
