---
date: '2014-01-13'
author: Doug
tags:
- cartoons
- chickenless
- special guests
- 3x4
- doctor
- empire strikes back
- han solo
- hospital
- hoth
- luke
- sleep
- star wars
title: The Results of Your X-ray
source: http://www.savagechickens.com/2014/01/the-results-of-your-x-ray.html
---
<p><img alt="The Results of Your X-ray" height="490" src="http://www.savagechickens.com/wp-content/uploads/chickentauntauns.jpg" width="400" /></p>
<p>Here&#8217;s <a href="http://www.savagechickens.com/tag/empire-strikes-back">more Empire Strikes Back</a>.</p>
