---
date: '2014-01-07'
author: '?'
tags:
- de jager
comment: ':)'
title: 'De Jager: 07-01-2014'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2014-01-07/1002785.html"><img src="http://bin.snmmd.nl/m/m1mze9nathyi.jpg" /></a>
