---
date: '2014-01-06'
author: Robert T. Gonzalez
tags:
- sports
- baseball
- fluid dynamics
- ra dickey
- ivan r dee
- rheology
- this is awesome
- physics
- aerodynamics
- alan nathan
- gif
- knuckleball
comment: I did this this morning... not
title: Behold the absolute mind-bogglery of a knuckleball in flight
source: http://feeds.gawker.com/~r/io9/full/~3/pqYsumC38ts/behold-the-absolute-mind-f-ckery-of-a-knuckleball-in-f-1494539536
---
<p><img alt="Behold the absolute mind-bogglery of a knuckleball in flight" height="480" src="http://img.gawkerassets.com/img/19bircklk9kvdgif/ku-xlarge.gif" width="640"></p><p>MLB pitcher R.A. <ins>Dickey*</ins> <del>Dickey</del> slings an erratic knuckleball pitch, posing a challenge for batter and catcher alike. The ball has been colorized to highlight its almost total lack of spin, which usually serves to stabilize the ball's trajectory. </p><p><a href="http://io9.com/behold-the-absolute-mind-f-ckery-of-a-knuckleball-in-f-1494539536">Read more...</a></p><img border="0" height="1" src="http://io9.feedsportal.com/c/34975/f/647163/s/35803cfd/sc/13/mf.gif" width="1"><br clear="all"><div><table border="0"><tr><td valign="middle"><a href="http://share.feedsportal.com/share/twitter/?u=http%3A%2F%2Fio9.com%2Fbehold-the-absolute-mind-f-ckery-of-a-knuckleball-in-f-1494539536&amp;t=Behold+the+absolute+mind-bogglery+of+a+knuckleball+in+flight" target="_blank"><img border="0" src="http://res3.feedsportal.com/social/twitter.png"></a><a href="http://share.feedsportal.com/share/facebook/?u=http%3A%2F%2Fio9.com%2Fbehold-the-absolute-mind-f-ckery-of-a-knuckleball-in-f-1494539536&amp;t=Behold+the+absolute+mind-bogglery+of+a+knuckleball+in+flight" target="_blank"><img border="0" src="http://res3.feedsportal.com/social/facebook.png"></a><a href="http://share.feedsportal.com/share/linkedin/?u=http%3A%2F%2Fio9.com%2Fbehold-the-absolute-mind-f-ckery-of-a-knuckleball-in-f-1494539536&amp;t=Behold+the+absolute+mind-bogglery+of+a+knuckleball+in+flight" target="_blank"><img border="0" src="http://res3.feedsportal.com/social/linkedin.png"></a><a href="http://share.feedsportal.com/share/gplus/?u=http%3A%2F%2Fio9.com%2Fbehold-the-absolute-mind-f-ckery-of-a-knuckleball-in-f-1494539536&amp;t=Behold+the+absolute+mind-bogglery+of+a+knuckleball+in+flight" target="_blank"><img border="0" src="http://res3.feedsportal.com/social/googleplus.png"></a><a href="http://share.feedsportal.com/share/email/?u=http%3A%2F%2Fio9.com%2Fbehold-the-absolute-mind-f-ckery-of-a-knuckleball-in-f-1494539536&amp;t=Behold+the+absolute+mind-bogglery+of+a+knuckleball+in+flight" target="_blank"><img border="0" src="http://res3.feedsportal.com/social/email.png"></a></td></tr></table></div><br><br><a href="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/sc/13/rc/1/rc.htm"><img border="0" src="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/sc/13/rc/1/rc.img"></a><br><a href="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/sc/13/rc/2/rc.htm"><img border="0" src="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/sc/13/rc/2/rc.img"></a><br><a href="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/sc/13/rc/3/rc.htm"><img border="0" src="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/sc/13/rc/3/rc.img"></a><br><br><a href="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/a2.htm"><img border="0" src="http://da.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/a2.img"></a><img border="0" height="1" src="http://pi.feedsportal.com/r/184842778384/u/94/f/647163/c/34975/s/35803cfd/a2t.img" width="1"><img height="1" src="http://feeds.feedburner.com/~r/io9/full/~4/pqYsumC38ts" width="1">
