---
date: '2014-01-20'
author: '?'
comment: Every color imaginable? According to which colorspace? http://en.wikipedia.org/wiki/Color_space
title: Massive book containing every color imaginable.
source: http://9gag.com/gag/ab5OLbX
---
<a href="http://9gag.com/gag/ab5OLbX"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/ab5OLbX_460s.jpg" /></a>
