---
date: '2014-01-23'
author: Lee Hutchinson
tags:
- features
- gear  gadgets
comment: Awesome retro
title: 'Modems, wArEz, and ANSI art: Remembering BBS life at 2400bps'
source: http://feeds.arstechnica.com/~r/arstechnica/features/~3/iKT22JsXzb0/
---
<div id="rss-wrap">
<div>
      <img src="http://cdn.arstechnica.net/wp-content/uploads/2014/01/wargameslol-640x352.jpg" /><div>
			<div>Nerd hero Matthew Broderick uses his modem to actually attract a girl. This did not often happen in real life.</div>
	
			<div>
							MGM/UA				</div>
	  </div>
  </div>
 <p>You've almost certainly never seen the place where I grew up, and you never will because it's long gone, buried by progress and made unreachable by technological erosion and the fine grind of time. What I did and learned there shaped me, but that knowledge is archaic and useless—who today needs to know the Hayes AT command set, the true baud rates of most common connection speeds, or the inner secrets of TheDraw? I am a wizard whose time has passed—a brilliant steam engine mechanic standing agape in the engine room of the starship <em>Enterprise.</em></p>
<p>I am a child of the BBS era. BBSs—that's "Bulletin Board Systems"—were sort of the precursors to the modern Internet, though that's not <em>quite</em> accurate, since the Internet evolved separately and in parallel. It would be more accurate to say that many people in their 30s and older today were introduced to the world of the Internet either through or because of the interlinked telephone universe of BBSs. That one experience begat the other.</p>
<div>
<a href="http://cdn.arstechnica.net/wp-content/uploads/2014/01/younglee.jpg"><img src="http://cdn.arstechnica.net/wp-content/uploads/2014/01/younglee-300x260.jpg" /></a><div>
<div><a href="http://cdn.arstechnica.net/wp-content/uploads/2014/01/younglee.jpg" rel="nofollow">The author near the twilight of his BBS days. Notice the lack of girl, in contrast to Matthew Broderick above.</a></div> </div>
</div>
<p>BBSs existed in a world that had yet to be soiled by smartphones and Facebook and Instagram; there was no Google, and indeed no World Wide Web at all. Up until 1992, the Internet was a thing primarily of text, and BBSs in many ways mimicked that. To get "online" was to sit down at your computer, open up an application called a "terminal program" (or just "term program" for short), pull up your carefully hoarded list of BBS phone numbers, and start dialing. Inevitably, most would be busy and you'd have to wait, but eventually you'd be treated to the sweet sound of ringing through your modem's speaker, followed by the electronic beeping and scratching of a modem handshake.</p>
</div><p><a href="http://arstechnica.com/gadgets/2014/01/modems-warez-and-ansi-art-remembering-bbs-life-at-2400bps/#p3">Read 66 remaining paragraphs</a> | <a href="http://arstechnica.com/gadgets/2014/01/modems-warez-and-ansi-art-remembering-bbs-life-at-2400bps/?comments=1">Comments</a></p><img height="1" src="http://feeds.feedburner.com/~r/arstechnica/features/~4/iKT22JsXzb0" width="1" />
