---
date: '2014-01-06'
author: '?'
comment: Naked molerats freak me out.
title: 23 Photos That Prove Hairless Cats Are Actually Adorable
source: http://www.buzzfeed.com/erinlarosa/photos-that-prove-hairless-cats-are-actually-adorable
---
<p>The Sphynx breed is arguably the most underrated when it comes to the cute scale.</p>






 
 
 
	<h2>The Sphynx who totally photobombed this girl's selfie.</h2>

   <p><img alt="The Sphynx who totally photobombed this girl&amp;#39;s selfie." height="318" src="http://s3-ec.buzzfed.com/static/2014-01/enhanced/webdr06/4/17/enhanced-buzz-30651-1388874375-0.jpg" width="500" /></p>
 
	


 <p><small><a href="http://bootypharaoh.tumblr.com/" rel="nofollow" target="_blank">bootypharaoh.tumblr.com</a></small></p>











 
 
 
	<h2>The hairless cat who just wants to hug your arm a little bit closer.</h2>

   <p><img alt="The hairless cat who just wants to hug your arm a little bit closer." height="467" src="http://s3-ec.buzzfed.com/static/2014-01/enhanced/webdr05/4/18/enhanced-buzz-31519-1388876673-1.jpg" width="625" /></p>
 
	<p>Won't you let him hold you?</p>


 <p><small><a href="http://www.flickr.com/photos/arnoarno/6453740833/sizes/z/" rel="nofollow" target="_blank">Flickr: arnoarno</a> / Via Creative Commons</small></p>











 
 
 
	<h2>The Sphynx who's hiding behind the couch because he's throwing you a surprise birthday party.</h2>

   <p><img alt="The Sphynx who&amp;#39;s hiding behind the couch because he&amp;#39;s throwing you a surprise birthday party." height="491" src="http://s3-ec.buzzfed.com/static/2014-01/enhanced/webdr07/4/18/enhanced-buzz-2641-1388876548-6.jpg" width="625" /></p>
 
	<p>You're welcome.</p>


 <p><small><a href="http://www.flickr.com/photos/arnoarno/6141141979/sizes/z/" rel="nofollow" target="_blank">Flickr: arnoarno</a> / Via Creative Commons</small></p>











 





<hr /><p><a href="http://www.buzzfeed.com/erinlarosa/photos-that-prove-hairless-cats-are-actually-adorable">View Entire List &rsaquo;</a></p><br><br><img src="http://s3-ak.buzzfed.com/static/2014-01/enhanced/webdr06/4/17/enhanced-buzz-30651-1388874375-0.jpg" /><br><br><img src="http://s3-ak.buzzfed.com/static/2014-01/enhanced/webdr05/4/18/enhanced-buzz-31519-1388876673-1.jpg" /><br><br><img src="http://s3-ak.buzzfed.com/static/2014-01/enhanced/webdr07/4/18/enhanced-buzz-2641-1388876548-6.jpg" /><br><br><img src="http://s3-ak.buzzfed.com/static/2014-01/enhanced/webdr06/4/18/grid-cell-31943-1388877834-9.jpg" />
