---
date: '2014-01-22'
author: '?'
tags:
- balls
- because your knee wasnt good enough
- body parts
- head
- im adding it to my lineup for my annual neighborhood stunt spectacular
- ive seen it all now
- motorcycle
- touching things with other things i poked a friend in the butt with a stick the
  other day
- vroom vroom kabloom
comment: And now without the helmet....
title: 'Balls: Motorcyclist Lays Head On Track In High Speed Turn'
source: http://geekologie.com/2014/01/balls-motorcyclist-lays-head-on-track-in.php
---
<img alt="motorcycle-head-on-track.jpg" height="422" src="http://geekologie.com/2014/01/22/motorcycle-head-on-track.jpg" width="640" />

This is an older video <a href="http://www.youtube.com/watch?v=T645xjxMxTc">of a motorcyclist laying his head on the track</a> in a high-speed turn.  I would not do that.  The only way you're getting me to lay down on a motorcycle is in a bikini for a calendar shoot.

Keep going for the video, head on the track happens about 20-seconds in if you have zero patience.
      <iframe height="360" src="http://www.youtube.com/embed/T645xjxMxTc?feature=player_detailpage" width="640"></iframe>

Thanks to my buddy c-nasty, who claims he can't ride a motorcycle without his penis dragging on the ground and getting run over by the car behind him.
