---
date: '2014-01-29'
author: '?'
tags:
- beats me
- black hole sun wont you come wash away the raaaain
- black holes
- event horizon
- hmm
- mr know it all
- space
- stephen hawking
- the universe
- theories
- you dont know that for sure
- your guess is as good as mind but probably even better because i am not the roundest
  planet in the solar system
comment: This weekend it didn't pass peer review yet. Any news on that?
title: 'Stephen Hawking: Black Holes Don''t Really Exist'
source: http://geekologie.com/2014/01/stephen-hawking-black-holes-dont-really.php
---
<img alt="stephen-hawking-on-black-holes.jpg" height="397" src="http://geekologie.com/2014/01/28/stephen-hawking-on-black-holes.jpg" width="640"> According to renowned theoretical physicist Stephen Hawking, <a href="http://news.nationalgeographic.com/news/2014/01/140127-black-hole-stephen-hawking-firewall-space-astronomy/">black holes don't really exist</a>. At least not in the "they destroy everything that gets close enough" theory that's been perpetuated. Oh really? Then how do you explain my ex-girlfriend? <blockquote>The conventional view of black holes posits that their gravitational pull is so powerful that nothing can escape from them--not even light, which is why they're called black holes. The boundary past which there is supposedly no return is known as the event horizon. "The absence of event horizons means that there are no black holes, in the sense of regimes from which light can't escape," Hawking wrote in a paper he posted online on January 22. Instead, Hawking proposes that black holes possess "apparent horizons" that only temporarily entrap matter and energy that can eventually reemerge as radiation. This outgoing radiation possesses all the original information about what fell into the black hole, although in radically different form. Since the outgoing information is scrambled, Hawking writes, there's no practical way to reconstruct anything that fell in based on what comes out.</blockquote> I dunno, this is all way over my head. My head is low. "You're sleeping under your desk." I had a rough night last night. "You want to talk about it?" Not really, but I appreciate you being there for me. "I was hoping you were going to tell an embarrassing story I could use against you later." You're a real pal, you know that? The kinda pal I <ins>could really stab with a ninja sword.</ins> <del>just wanna stab out of love.</del> Thanks to Greta and beaker88, who have both saw<em>Event Horizon</em> in the theater, making them experts on the matter.
