---
date: '2014-01-07'
author: '?'
tags:
- bitcoins
- call me old fashioned but i like currency that i can jingle in my pocket while i
  walk
- call me old fashioned but i like i have no idea what im doing
- ching-a-ling
- currency
- give me back my money
- good one
- journalism
- news
- qr code
- reporting
- stealing things
comment: milkywaymasta...? :)
title: TV Reporter Accidentally Unveils Bitcoin's Private Key QR Code On Air, Gets
  It Stolen Immediately
source: http://geekologie.com/2014/01/tv-reporter-accidentally-unveils-bitcoin.php
---
<img alt="bitcoin-theft-on-tv.jpg" height="413" src="http://geekologie.com/2014/01/07/bitcoin-theft-on-tv.jpg" width="640" />

Because reporters generally understand very little about what they're reporting, Bloomberg TV reporter Adam Johnson recently revealed the private key QR code for $20 worth of Bitcoin during a segment about the currency, <a href="http://www.businessinsider.com/bloomberg-matt-miller-bitcoin-gift-stolen-2013-12">and immediately had the money stolen</a>.  I blame high definition.

<blockquote>While on air, [Matt] Miller surprised Bloomberg anchors Adam Johnson and Trish Regan each with $20 worth of Bitcoin.


But as Johnson received the paper gift, he briefly exposed the QR code...This act was effectively like sharing a bank account and PIN number.

Immediately, someone lifted the QR code and stole the $20.

This morning, Miller reported that he had engaged the thief -- someone who goes by "milkywaymasta" -- on Reddit.

Miller, however, is done with this person. Here's Miller: "so freaking classic but also a GREAT lesson in bitcoin security! you can keep the $20 -- well earned."

As long as there are no laws in place for such thefts, one could probably argue that the money was indeed "earned."</blockquote>

I had something very similar happen to me.  "You lost your wallet at a bar."  Like I said, very similar.  That's why I don't mess with cash anymore.  I stick with good old fashioned credit cards.  <em>*flashing card*</em>  See?  Visa, baby.  "What are the last three numbers on the back?"  Two zero five, why?  

Thanks to Thaylor H, who doesn't watch the news because the news is pure lies and propaganda anyways.
