---
date: '2014-01-21'
author: '?'
tags:
- 3-d printing
- anybody want to come over and see a 3-d printed replica of our baby no
- babies
- children
- different strokes for different folks
- freaky deaky
- getting pregnant
- kids
- no thanks
- nooooooo thats not weird at all
- pass
- pregnancy
comment: Ah noooooooo
title: 'Do Not Need: A 3-D Printed Replica Of Your Unborn Baby'
source: http://geekologie.com/2014/01/do-not-need-a-3-d-printed-replica-of-you.php
---
<img alt="3d-printed-babies.jpg" height="502" src="http://geekologie.com/2014/01/21/3d-printed-babies.jpg" width="640"><a href="http://www.3d-babies.com/">3D Babies</a> will <a href="http://www.incrediblethings.com/kids/3d-printed-model-of-your-fetus/">print a replica of your unborn baby</a> using the 3-D ultrasound from a doctor's visit (previously:<a href="http://geekologie.com/2012/07/finally-a-decent-3-d-printed-model-of-yo.php">these ones from Japan</a> based on MRI scans). 3D Babies come in three sizes: a $200 mini, a $400 half-size, and a $600 full size (8-inch) version. They also come in three shades (light, medium and dark) and two poses: arms and legs crossed, or arms and legs flailing and penis staring right at you. Alternatively, just wait till the baby is born and take it to Sears Portrait Studio like a normal person. "That's not 3-D." YOU DON'T NEED 3-D. Keep going for a size comparison and a shot of the two poses in case you though I was joking about the YEP, DEFINITELY A BOY. <img alt="3d-babies-size-comparison.jpg" height="453" src="http://geekologie.com/2014/01/21/3d-babies-size-comparison.jpg" width="640"><img alt="3d-babies-poses.jpg" height="445" src="http://geekologie.com/2014/01/21/3d-babies-poses.jpg" width="640"> Thanks to <ins>lebeeps, who agrees they've clearly taken some liberties with the face because all the 3-D baby ultrasounds I've seen have faces that look like melting wax.</ins>
