---
date: '2014-01-12'
author: Tom
tags:
- tv shows
comment: I must see this.
title: Helix S01E01-E02 HDTV x264-2HD
source: http://www.rlslog.net/helix-s01e01-e02-hdtv-x264-2hd/
---
<p>This article has been published at <a href="http://www.rlslog.net">RLSLOG.net</a> - visit our site for full content.</p><p>2HD have released the first two episodes of SyFy&#8217;s, Helix.</p>
<p><img alt="" src="http://ultraimg.com/images/Wl7Mb.jpg" /></p>
<p>Helix is an intense thriller about a team of scientists from the Centers for Disease Control who travel to the high-tech research facility, Arctic BioSystems to investigate a possible disease outbreak, only to find themselves pulled into a terrifying life-and-death struggle that may hold the key to mankind’s salvation or total annihilation. However, the lethal threat is just the tip of the iceberg, and as the virus evolves, the chilling truth begins to unravel.</p>
<p><strong>Season 01 , Episode 01-02 </strong>– “Pilot / Vector”<br />
A team of scientists are thrust into a potentially life-or-death situation in this thriller, which begins with the group being deployed to the Arctic to secretly investigate what could be a disease outbreak.</p>
<p><strong>Links:</strong> <a href="http://www.syfy.com/helix">HOMEPAGE</a> – <a href="http://www.tv.com/shows/helix/">TV.com</a></p>
<p><strong>Helix.S01E01-E02.HDTV.x264-2HD</strong><br />
MP4 | AAC VBR | 420MB<br />
<a href="https://www.google.com/search?q=Gold.Rush.S04E11.720p.HDTV.x264-BALLISTIC">GOOGLE SEARCH</a></p>
<p><strong>Helix.S01E01-E02.720p.HDTV.X264-REMARKABLE</strong><br />
MKV | AC3 CBR | 1.67GB<br />
<a href="https://www.google.com/search?q=Gold.Rush.S04E11.720p.HDTV.x264-BALLISTIC">GOOGLE SEARCH</a></p>
<p>more at <a href="http://www.rlslog.net">RLSLOG.net</a></p>
