---
date: '2014-01-01'
author: Doug
tags:
- cartoons
- cat adventures
- timmy tofu
- 3x5
- cat
- duel
- exorcism
- new year
- resolutions
- time travel
title: Resolution Suggestions
source: http://www.savagechickens.com/2014/01/resolution-suggestions.html
---
<p><img alt="Resolution Suggestions" height="630" src="http://www.savagechickens.com/wp-content/uploads/chickennewyear2014.jpg" width="400" /></p>
<p>Happy 2014! Here are more <a href="http://www.savagechickens.com/tag/new-year">new year cartoons</a>!</p>
