---
date: '2014-01-10'
author: '?'
tags:
- animation
- awww
- cartoons
- celebrities
- good lookin
- having a great time
- hayao miyazaki
- heck yeah
- howls moving castle
- i sing the totoro song at least a couple times a day -- makes me feel good okay
  maybe not good but at least less depressed
- japan
- my neighbor totoro
title: The Simpsons Pay Tribute To Hayao Miyazaki
source: http://geekologie.com/2014/01/the-simpsons-pay-tribute-to-hayao-miyaza.php
---
<img alt="simpsons-miyazaki-tribute.jpg" height="366" src="http://geekologie.com/2014/01/10/simpsons-miyazaki-tribute.jpg" width="640"> This Sunday <a href="http://www.telegraph.co.uk/culture/tvandradio/10562726/The-Simpsons-pays-tribute-to-Hayao-Miyazaki-animation.html">The Simpsons will pay tribute</a> to retiring Japanese animator Hayao Miyazaki with a brief sequence of Homer drunkenly stumbling past some of Studio Ghibli's most famous works. Have you ever seen Grave of the Fireflies? It wasn't directed by Miyazaki but it's definitely worth a watch if you're looking for a SOLID CRY. <blockquote>"Married to the Blob", which will air on FOX, follows Comic Book Guy's attempts to date a Japanese woman who is writing an autobiographical manga. Having downed too much "snake wine", Homer stumbles into a hallucinatory haze populated by some of Miyazaki's best-loved characters. Otto appears as The Catbus from My Neighbor Totoro; drunken double vision produces two Kiki the witches from Kiki's Delivery Service in the forms of Patty and Selma; and Apu is "ruined by whimsy" as his Kwik-E-Mart morphs into Howl's Moving Castle. But the biggest nod goes to Spirited Away with reference after reverential reference. </blockquote> Howl's Moving Castle is my favorite. Probably because I relate so much to Howl. You know how he turns into a bird-person and goes to interfere with the war at night? I do that. Well, I sleepwalk. Okay so I'm not actually asleep but I like to pretend I <ins>am</ins> <del>was</del> so I don't feel bad for eating <ins>all those</ins> <del>so many</del> cookies in the middle of the night. Keep going for the worthwhile video. <iframe height="360" src="http://www.youtube.com/embed/R94Q6NhuS3A" width="640"></iframe> Thanks to Dacrikka and Tam, who both wish they had neighbors like Totoro. Who doesn't?
