---
date: '2014-01-29'
author: '?'
comment: Typical!
title: Ohh Russia
source: http://9gag.com/gag/a090ZMO
---
<a href="http://9gag.com/gag/a090ZMO"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/a090ZMO_460s_v1.jpg" /></a>
