---
date: '2014-01-11'
author: Lambert V.
tags:
- tech
- wearables
- bracelets
- cables
- gadgets
- leather
title: Kyte & Key Cabelet
source: http://theawesomer.com/kyte-key-cabelet/265289/
---
<p><a href="http://theawesomer.com/kyte-key-cabelet/265289/"><img alt="Kyte &#038; Key Cabelet" src="http://theawesomer.com/photos/2014/01/kyte_key_cabelet_t.jpg" /></a></p><p>A stylish way to carry your charge-and-sync USB cables with you. Cabelets are covered in brown, black, white or orange braided leather with bronze or steel clasps. Available in Lightning or MicroUSB.</p>

<ul>
<li><a href="http://gearhungry.com/2014/01/kytekey-cablet.html">Hat Tip</a></li>
<li><a href="http://www.kyteandkey.com/cabelet/">Link</a></li>
<li>Price: $70</li>
</ul>
