---
date: '2014-01-01'
author: '?'
comment: It feels dirty now
title: The day after
source: http://kindofnormal.com/wumo/2014/01/01
---
<a href="http://kindofnormal.com/wumo/2014/01/01">
                <img alt="The day after" src="http://kindofnormal.com/img/wumo/2014/01/01.jpg" />
            </a>
