---
date: '2014-01-10'
author: '?'
comment: faal
title: The Many Regrets of Obi-Wan Kenobi
source: http://www.dorkly.com/comic/57989/the-many-regrets-of-obi-wan-kenobi
---
<p></p>
<p><img alt="The Many Regrets of ObiWan Kenobi" height="2864" src="http://1.media.dorkly.cvcdn.com/88/77/0d92c52097ab4aa571341727d6e82e91.jpg" width="600" /></p>
