---
date: '2014-01-07'
author: WeKnowMemes
tags:
- texts
- why you are dutch
title: Why You Are Dutch
source: http://weknowmemes.com/2014/01/why-you-are-dutch/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/why-you-are-dutch.jpg"><img alt="why you are dutch" height="524" src="http://weknowmemes.com/wp-content/uploads/2014/01/why-you-are-dutch.jpg" width="650" /></a>Why you are Dutch</p>
<p>&nbsp;</p>
