---
date: '2014-01-08'
author: '?'
title: January 08, 2014
source: http://feedproxy.google.com/~r/smbc-comics/PvLb/~3/32oRYOQOQ5A/index.php
---
<img src="http://www.smbc-comics.com/comics/20140108.png" /><br />

 What's this? <a href="https://medium.com/the-nib/8ae20a9d208a">A SECOND COMIC TODAY POSTED EXCLUSIVELY AT THE NIB?<br /><br />
<img src="http://i.imgur.com/7L6wTnt.png" /></a><img height="1" src="http://feeds.feedburner.com/~r/smbc-comics/PvLb/~4/32oRYOQOQ5A" width="1" />
