---
date: '2014-01-12'
author: '?'
title: The Lonely Mountain
source: http://oglaf.com/lonelymountain/
---
<div><p><img src="http://media.oglaf.com/story/ttlonelymountain_1.gif" /></p><p><a href="http://oglaf.com/lonelymountain/"><img alt="http://oglaf.com/lonelymountain/" border="0" height="100" src="http://media.oglaf.com/archive/arc-lonelymountain_1.png" width="400" /></a></p></div>
