---
date: '2014-01-23'
author: '?'
comment: Snow?
title: The Upper Michigan Blizzard of 1938
source: http://antwrp.gsfc.nasa.gov/apod/ap140122.html
---
<p><a href="http://antwrp.gsfc.nasa.gov/apod/ap140122.html"><img align="left" alt="Yes, but can your blizzard do this?" border="0" src="http://antwrp.gsfc.nasa.gov/apod/calendar/S_140122.jpg" /></a> Yes, but can your blizzard do this?</p><br clear="all" />
