---
date: '2014-01-29'
author: '?'
tags:
- baking
- but i like the yolk
- clever
- cooking
- cute
- eggs
- fish
- for sale
- healthy eating
- i could suck up yolks with that all day
- kitchen
- lets make a cake
comment: rofl
title: Yolkfish, The Egg Yolk Sucking Kitchen Utensil
source: http://geekologie.com/2014/01/yolkfish-the-egg-yolk-sucking-fish-kitch.php
---
<img alt="yolkfish-egg-yolk-sucker.jpg" height="583" src="http://geekologie.com/2014/01/28/yolkfish-egg-yolk-sucker.jpg" width="640" />

This is the <a href="http://www.peleg-design.com/">PELEG DESIGN's</a> Yolkfish, a small rubber kitchen utensil <a href="http://www.1designperday.com/2014/01/25/yolkfish-the-surprising-functional-gulping-goldfish-video/">that can suck egg yolks out of the whites</a>.  Plus-- "You can use it on your balls?"  Well 1. not if you're cooking me breakfast and 2. that's not what I was going to say, but now that you mention it, it's all that I can think about.  Thanks, pervert.  "Well that's the pot calling the kettle black."  Listen -- if you could dig deep down in my heart you'd see I'm really a virtuous guy.  And even deeper than that?  <em>My true monster form.</em>

Keep going for a video.  It sucks up egg yolks, crazy!
      <iframe height="360" src="http://www.youtube.com/embed/mRUDZhvpNzU?feature=player_embedded" width="640"></iframe>

Thanks to Ziggi, who wishes it could also separate out the marshmallows in a box of cereal.
