---
date: '2014-01-07'
author: WeKnowMemes
tags:
- comics
- media
- bed cartography
title: Bed Cartography
source: http://weknowmemes.com/2014/01/bed-cartography/
---
<p><a href="http://weknowmemes.com/wp-content/uploads/2014/01/bed-cartography.jpg"><img alt="bed cartography" height="524" src="http://weknowmemes.com/wp-content/uploads/2014/01/bed-cartography.jpg" width="650" /></a>Bed Cartography</p>
<p>&nbsp;</p>
