---
date: '2014-01-29'
author: '?'
comment: So typical!
title: This is why women live longer than men
source: http://9gag.com/gag/a44N8Wd
---
<a href="http://9gag.com/gag/a44N8Wd"><img src="http://d24w6bsrhbeh9d.cloudfront.net/photo/a44N8Wd_460s.jpg" /></a>
