---
date: '2014-01-17'
author: '?'
comment: Rofl
title: Attack of the Supermodel Zombies
source: http://kindofnormal.com/wumo/2014/01/17
---
<a href="http://kindofnormal.com/wumo/2014/01/17"><img alt="Attack of the Supermodel Zombies" src="http://kindofnormal.com/img/wumo/2014/01/17.jpg"></a>
