---
date: '2014-01-07'
author: '?'
tags:
- balls
- building things
- congratulations
- daring to dream
- good on you
- knex
- largest
- look at them go
- minnesota
- moving things
- sometimes i feel like a ball on a closed track
- teaser trailer wtf do you mean teaser trailer this is a knex ball moving machine
  not fing iron man 4
comment: Lego Technics > Knex
title: 100K-Piece, World's Largest K'Nex Ball-Moving Machine
source: http://geekologie.com/2014/01/100k-piece-worlds-largest-knex-ball-movi.php
---
<img alt="knex-ball-mover.jpg" height="412" src="http://geekologie.com/2014/01/07/knex-ball-mover.jpg" width="640" />

This is <a href="http://theawesomer.com/worlds-largest-knex-ball-machine/264987/">the world's largest K'Nex ball-moving machine</a>.  The previous world's largest ball-moving machine?  "The forklift it takes to get my balls out of bed in the morning."  Hey -- that's what I was gonna say!  This 100,000+ piece K'nex machine stands 23-feet tall, 40-feet long and is currently on display in Bloomington, Minnesota, confirming my suspicion there isn't a whole lot to do in Bloomington, Minnesota.  

Keep going for a one-minute "teaser" trailer, because apparently K'nex ball-moving machines have teaser trailers now.
      <iframe height="360" src="http://www.youtube.com/embed/KJhoIfiHjVE?feature=player_embedded" width="640"></iframe>

Thanks to Javier, who moves balls the old fashioned way: yelling, "There's free beer and steaks [wherever he wants them to go]."
