---
date: '2014-01-15'
author: Oliver Widder
comment: Lol
title: Philosophising Geeks
source: http://feedproxy.google.com/~r/GeekAndPoke/~3/BW4ZJfC9AUE/philosophising-geeks
---
<img src="http://static.squarespace.com/static/518f5d62e4b075248d6a3f90/t/52d5c39be4b0cca896961f9e/1389740962278/?format=500w" /><div>
<a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=BW4ZJfC9AUE:nIiIv5FiIeA:yIl2AUoC8zA"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=yIl2AUoC8zA" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=BW4ZJfC9AUE:nIiIv5FiIeA:V_sGLiPBpWU"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?i=BW4ZJfC9AUE:nIiIv5FiIeA:V_sGLiPBpWU" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=BW4ZJfC9AUE:nIiIv5FiIeA:qj6IDK7rITs"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=qj6IDK7rITs" /></a> <a href="http://feeds.feedburner.com/~ff/GeekAndPoke?a=BW4ZJfC9AUE:nIiIv5FiIeA:7Q72WNTAKBA"><img border="0" src="http://feeds.feedburner.com/~ff/GeekAndPoke?d=7Q72WNTAKBA" /></a>
</div><img height="1" src="http://feeds.feedburner.com/~r/GeekAndPoke/~4/BW4ZJfC9AUE" width="1" />
