---
date: '2014-01-28'
author: Nozzman
tags:
- app
- cartoons
- uil
comment: Nozzman gaat weer op de nabaal-ripoff tour?
title: baksteenuil
source: http://www.nozzman.nl/wp/baksteenuil/
---
<p><img alt="2013-10-9-baksteenuil" height="450" src="http://www.nozzman.nl/wp/wp-content/uploads/2014/01/2013-10-9-baksteenuil.jpg" width="400" /></p>
