---
date: '2014-01-16'
author: '?'
comment: Lol
title: The More Intense the TV Show, The Closer You Get To the Screen
source: http://www.dorkly.com/comic/58465/the-more-intense-the-tv-show-the-closer-you-get-to-the-screen
---
<p></p>
<p><img alt="The More Intense the TV Show, The Closer You Get To the Screen" height="2744" src="http://2.media.dorkly.cvcdn.com/72/94/ec2f6463a4cc7836a84515c6e0bde604-the-more-intense-the-tv-show-the-closer-you-get-to-the-screen.jpg" width="600" /></p>
