---
date: '2014-01-09'
author: liz
tags:
- uncategorized
- capacitive touch
- make
- maker faire
- michael castor
- pipad
- tablet
- touch screen
title: 'Wooden tablet: Michael Castor’s PiPad'
source: http://www.raspberrypi.org/archives/5665?utm_source=rss&utm_medium=rss&utm_campaign=wooden-tablet-michael-castors-pipad
---
<p>I&#8217;ve actually held this project in my very own sweaty little hands: Michael showed it to me at Maker Faire in NY last September. I&#8217;m glad he&#8217;s <a href="http://mkcastor.com/2014/01/02/pipad-build/" target="_blank">written the project up</a>, because it&#8217;s a gorgeous build which really deserves sharing.</p>
<p><a href="http://mkcastor.com/2014/01/02/pipad-build"><img alt="PiPad" height="256" src="http://www.raspberrypi.org/wp-content/large-images/pipad_gif_300.gif" width="300" /></a></p>
<p>In his day job, Michael works for <a href="http://makezine.com/" target="_blank">MAKE</a>, and has a heavy workload around each big Maker Faire dealing with <a href="http://www.makershed.com/" target="_blank">Maker Shed</a> setup, making things run smoothly in the Shed, keeping on top of inventory (yes, <a href="http://www.makershed.com/Raspberry_Pi_Gift_Guide_s/310.htm" target="_blank">they sell the Raspberry Pi</a>), and organising a large team of people. He doesn&#8217;t usually get time to build his own project for the Faire because he&#8217;s so busy, but this year he decided to change that, and make his ultimate tablet. He gave himself two weeks, from conception to finished build.</p>
<p>Michael particularly wanted a device he could use on an aeroplane, and wanted it to look smooth and professional so it didn&#8217;t freak out the TSA or whoever ended up sitting next to him as he used it. (Some people are oddly sensitive about home-made electronics on aeroplanes.) He arrived at Maker Faire having used his PiPad on the aeroplane on the way over to watch movies.</p>
<p><a href="http://mkcastor.com/2014/01/02/pipad-build"><img alt="" height="515" src="http://www.raspberrypi.org/wp-content/uploads/2014/01/PlanePiPad.jpg" title="PlanePiPad" width="700" /></a></p>
<p> Michael&#8217;s aesthetic is minimal and classy: the finish and design of this project is one of the best hand-built efforts I&#8217;ve seen. He was lucky enough to find a large, smooth piece of carbon fibre, which he used to back the  I loved the carbon-fibre and birch case he made, and so did Eben, who Michael asked to sign it. Eben was hesitant to spoil the gorgeous finish with his scrawl, but went ahead anyway &#8211; you can see his scribble in the pictures on <a href="http://mkcastor.com/2014/01/02/pipad-build" target="_blank">Michael&#8217;s website</a>.</p>
<p><a href="http://mkcastor.com/2014/01/02/pipad-build"><img alt="" height="323" src="http://www.raspberrypi.org/wp-content/uploads/2014/01/buildingports.jpg" title="buildingports" width="430" /></a></p>
<p>If you&#8217;d like to make your own version of this build, Michael has made a parts list, instructions, shopping suggestions, CAD designs and lots and lots of photos <a href="http://mkcastor.com/2014/01/02/pipad-build/" target="_blank">available on his website</a>, right down to pictures of the fiddly details like this scalpel-work on the ply, which he used to make room for the PiPad&#8217;s ports. It&#8217;s a great build, a great write-up and a really lovely device: thanks Michael!</p>
