---
date: '2014-01-08'
author: '?'
tags:
- de jager
comment: De Jager is minder subtiel sinds het zwarte piet debacle.
title: 'De Jager: 08-01-2014'
source: http://www.nu.nl/de-jager/
---
<a href="http://www.nu.nl/de-jager/2014-01-08/1002787.html"><img src="http://bin.snmmd.nl/m/m1mzeb3aovaq.jpg" /></a>
