    <footer id="footer" class="container-wrapper">
      <div class="footer-links pull-right">powered by middleman</div>
      <div class="container"><%= Time.now.year %> &copy; PdJ</div>
    </footer>
