.col-md-8#copyright
  &copy; 2009 -
  = Time.now.year
  by Peter "pdj, nathema" de Jong
.col-md-4.visible-lg#powered
  .btn-group(style="width:100%")
    %a.btn.btn-success.collapse-data-btn.pull-right(data-toggle="collapse" href="#poweredby" role="button")
      Powered by ...
  #poweredby.collapse
    %p
      %a{:href=>'https://github.com/nathema/4pdj.nl', :target=>"_blank"}
        %img#github{:src=>"/assets/img/github.svg", :alt=>"Github"}
        source
    %p
      Powered by
    %ul
      %li
        %a(href="http://httpd.apache.org")
          Apache HTTPD
      %li
        %a(href="http://middlemanapp.com")
          Middleman
      %li
        %a(href="http://haml.info")
          Haml
      %li
        %a(href="http://github.com/sstephenson/sprockets")
          Sprockets
      %li
        %a(href="http://twitter.github.io/bootstrap/")
          Twitter Bootstrap responsive
      %li
        %a(href="http://jquery.com/")
          JQuery
      %li
        %a(href="http://lokeshdhakar.com/projects/lightbox2/")
          Lightbox
      %li
        %a(href="http://ethanschoonover.com/solarized")
          Bootstrap theme based on Solarized
