.span8#copyright
  &copy; 2009 -
  = Time.now.year
  by Peter "pdj, nathema" de Jong
.span4.hidden-phone#powered
  .btn-group(data-toggle="buttons-checkbox" style="width:100%")
    %a.btn.disabled.collapse-data-btn.pull-right(data-toggle="collapse" href="#poweredby")
      Powered by ...
  #poweredby.collapse
    %p
      %a(href="https://github.com/nathema/4pdj.nl")
        source
      versioned on:
    %ul
      %li
        %a(href="http://github.com")
          Github            
    %p
      Powered by
    %ul
      %li
        %a(href="http://httpd.apache.org")
          Apache HTTPD
      %li
        %a(href="http://code.macournoyer.com/thin/")
          Thin
      %li
        %a(href="http://middlemanapp.com")
          Middleman
      %li
        %a(href="http://haml.info")
          Haml
      %li
        %a(href="http://github.com/sstephenson/sprockets")
          Sprockets
      %li
        %a(href="http://twitter.github.io/bootstrap/")
          Twitter Bootstrap
      %li
        %a(href="http://jquery.com/")
          JQuery
      %li
        %a(href="http://lokeshdhakar.com/projects/lightbox2/")
          Lightbox
      %li
        %a(href="http://wegraphics.net/")
          Orange background by WeGraphics
