.logo.hidden-phone
  %img.sigil{:src=>"/assets/img/sigil-white.svg"}
.navbar.navbar-medium.navbar-inverse.navbar-static-top#navbar
  .navbar-inner
    %a.brand{:href=>'/'}
      4pdj
    %ul.nav.pull-right
      %li
        %a{:href=>'http://twitter.com/_pdj_', :target=>"_blank"}
          %img#twitter{:src=>"/assets/img/twitter.png", :alt=>"Twitter"}
      %li
        %a{:href=>'http://nl.linkedin.com/in/pdjnl', :target=>"_blank"}
          %img#linkedin{:src=>"/assets/img/linkedin.svg", :alt=>"LinkedIn"}
      %li
        %a{:href=>'/feed.xml'}
          %img#rss{:src=>"/assets/img/rss.svg", :alt=>"Syndication"}
