    <div id="navbar" class="navbar navbar-medium navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href='/'>4pdj</a>
          <ul class="nav pull-right">
            <li><a href='http://twitter.com/_pdj_' target="_blank"><img src="/assets/img/twitter.png" id="twitter" alt="Twitter"/></a></li>
            <li><a href='http://nl.linkedin.com/in/pdjnl' target="_blank"><img src="/assets/img/linkedin.svg" id="linkedin" alt="LinkedIn"/></a></li>
            <li><a href='/feed.xml'><img src="/assets/img/rss.svg" id="rss" alt="Syndication"/></a></li>
          </ul>
        </div>
      </div>
    </div>
