#search-block.row.visible-lg
  .row
    .col-md-8#search-results
      TEST
  .row
    .col-md-8#search-close
      %a.btn.btn-success.pull-right.search-close-button(role="button")
        %i.icon-remove-circle
        close
