<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>4pdj.nl<%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" 
      href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" 
      media="screen">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div class='navbar'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='/'>4pdj.nl</a>
          <ul class='nav'>
            <li class='active'><a href='/'>Root</a></li>
            <li><a href='/about'>About</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class='content'>
      <%= yield %>
    </section>
  </body>
</html>
