---
title: 4pdj
per_page: 10
---
<% blog.articles[0...10].each do |article| %>
  <article>
    <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
    <%= article.summary :locals => { :current_article => article } %>
    <a href="<%= article.url %>" class="btn disabled"><i class="icon-zoom-in"></i> read more</a>
  </article>
<% end %>
