---
---
<% breadcrumbs.unshift tagname %>
<% breadcrumbs.unshift '<a href="'+blog_controller.options.prefix.to_s+'">'+blog_controller.name.to_s+'</a>' %>
<h1>Articles tagged '<%= tagname %>'</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>
